<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 159903 to 769810</h1><h2>Existing two-column diff</h2><a href="https://de.wikiversity.org/w/index.php?title=Kategorie:Theorie der Unterringe der rationalen Zahlen&oldid=159903&diff=769810">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://de.wikiversity.org/w/index.php?title=Kategorie:Theorie der Unterringe der rationalen Zahlen&oldid=159903">159903</a></href></td><td colspan=2><a href="https://de.wikiversity.org/w/index.php?title=Kategorie:Theorie der Unterringe der rationalen Zahlen&oldid=769810">769810</a></tr><tr>
  <td colspan="2" class="diff-lineno">Zeile 1:</td>
  <td colspan="2" class="diff-lineno">Zeile 1:</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Theorie-Kategorie unter|<del class="diffchange diffchange-inline">Theorie der rationalen Zahlen|Ring</del>}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Theorie-Kategorie unter<ins class="diffchange diffchange-inline">{{{opt</ins>|<ins class="diffchange diffchange-inline">}</ins>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline">[[Kategorie:</del>Theorie der <del class="diffchange diffchange-inline">Unterringe</del>|<del class="diffchange diffchange-inline">Rational]]</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">|</ins>Theorie der <ins class="diffchange diffchange-inline">rationalen Zahlen</ins>|<ins class="diffchange diffchange-inline">Ring</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline">[[Kategorie:</del>Theorie der <del class="diffchange diffchange-inline">Nenneraufnahme</del>|Rational<del class="diffchange diffchange-inline">]]</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">|</ins>Theorie der <ins class="diffchange diffchange-inline">Unterringe</ins>|Rational</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Theorie der Nenneraufnahme|Rational}}</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Theorie-Kategorie unter|Theorie der rationalen Zahlen|Ring<del class="diffchange diffchange-inline">}}</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Theorie-Kategorie unter<ins class="diffchange diffchange-inline">{{{opt|}}}</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Theorie der rationalen Zahlen|Ring</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline">[[Kategorie:</del>Theorie der Unterringe|Rational<del class="diffchange diffchange-inline">]]</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">|</ins>Theorie der Unterringe|Rational</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline">[[Kategorie:</del>Theorie der Nenneraufnahme|Rational<del class="diffchange diffchange-inline">]]</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">|</ins>Theorie der Nenneraufnahme|Rational<ins class="diffchange diffchange-inline">}}</ins></div></td>
</tr>
</tbody></table>
</body></html>
