<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 42908835 to 46419636</h1><h2>Existing two-column diff</h2><a href="https://ar.wikipedia.org/w/index.php?title=قالب:بذرة ناشط صومالي&oldid=42908835&diff=46419636">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://ar.wikipedia.org/w/index.php?title=قالب:بذرة ناشط صومالي&oldid=42908835">42908835</a></href></td><td colspan=2><a href="https://ar.wikipedia.org/w/index.php?title=قالب:بذرة ناشط صومالي&oldid=46419636">46419636</a></tr><tr>
  <td colspan="2" class="diff-lineno">سطر 1:</td>
  <td colspan="2" class="diff-lineno">سطر 1:</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{بذرة|Flag of Somalia.svg|موضوع عن ناشط [[الصومال|صومالي]]|بذرة ناشط صومالي}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{بذرة|Flag of Somalia.svg|موضوع عن ناشط [[الصومال|صومالي]]|<ins class="diffchange diffchange-inline">بذرة ناشط صومالي|عنوان القالب=قالب:</ins>بذرة ناشط صومالي}}<ins class="diffchange diffchange-inline">&lt;noinclude&gt;</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[تصنيف:قوالب بذرة أعلام الصومال حسب المهنة|ناشط]]</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="الفقرة تم نقلها. اضغط للذهاب للموقع الجديد." href="#movedpara_4_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_2_0_lhs"></a>&lt;noinclude&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[تصنيف:بذرة <del class="diffchange diffchange-inline">أعلام الصومال حسب المهنة</del>]]<del class="diffchange diffchange-inline">&lt;/noinclude&gt;</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[تصنيف:<ins class="diffchange diffchange-inline">قوالب </ins>بذرة <ins class="diffchange diffchange-inline">ناشط</ins>]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="الفقرة تم نقلها. اضغط للذهاب للموقع القديم." href="#movedpara_2_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_4_0_rhs"></a>&lt;<ins class="diffchange diffchange-inline">/</ins>noinclude&gt;</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff changeThreshold = 0.3</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{بذرة|Flag of Somalia.svg|موضوع عن ناشط [[الصومال|صومالي]]|بذرة ناشط صومالي}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{بذرة|Flag of Somalia.svg|موضوع عن ناشط [[الصومال|صومالي]]|<ins class="diffchange diffchange-inline">بذرة ناشط صومالي|عنوان القالب=قالب:</ins>بذرة ناشط صومالي}}<ins class="diffchange diffchange-inline">&lt;noinclude&gt;</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_4_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_1_0_rhs"></a>[[تصنيف:<ins class="diffchange diffchange-inline">قوالب </ins>بذرة أعلام الصومال حسب المهنة<ins class="diffchange diffchange-inline">|ناشط</ins>]]</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_5_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_2_0_lhs"></a>&lt;noinclude&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[تصنيف:قوالب بذرة ناشط]]</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_1_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_4_0_lhs"></a>[[تصنيف:بذرة أعلام الصومال حسب المهنة]]<del class="diffchange diffchange-inline">&lt;/noinclude&gt;</del></div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_2_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_5_0_rhs"></a>&lt;<ins class="diffchange diffchange-inline">/</ins>noinclude&gt;</div></td>
</tr>
</tbody></table>
</body></html>
