<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 29286109 to 42824795</h1><h2>Existing two-column diff</h2><a href="https://ar.wikipedia.org/w/index.php?title=تصنيف:فن بحري&oldid=29286109&diff=42824795">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://ar.wikipedia.org/w/index.php?title=تصنيف:فن بحري&oldid=29286109">29286109</a></href></td><td colspan=2><a href="https://ar.wikipedia.org/w/index.php?title=تصنيف:فن بحري&oldid=42824795">42824795</a></tr><tr>
  <td colspan="2" class="diff-lineno">سطر 1:</td>
  <td colspan="2" class="diff-lineno">سطر 1:</td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{بوابة|فنون مرئية}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline">[[</del>تصنيف<del class="diffchange diffchange-inline">:ثقافة</del> <del class="diffchange diffchange-inline">بحرية]]</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">{{مقالة </ins>تصنيف<ins class="diffchange diffchange-inline">|فن</ins> <ins class="diffchange diffchange-inline">بحري}}</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{تصنيف كومنز|Marine art}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[تصنيف:أنواع فنون]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[تصنيف:أنواع فنون]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[تصنيف:ثقافة بحرية]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[تصنيف:فن حسب الموضوع]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[تصنيف:فن حسب الموضوع]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[en:Category:Marine art]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[تصنيف:مياه في الفن]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[تصنيف:مياه في الفن]]</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff changeThreshold = 0.3</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{بوابة|فنون مرئية}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{مقالة تصنيف|فن بحري}}</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_6_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_3_0_lhs"></a>[[تصنيف:ثقافة بحرية]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{تصنيف كومنز|Marine art}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[تصنيف:أنواع فنون]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[تصنيف:أنواع فنون]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_3_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_0_rhs"></a>[[تصنيف:ثقافة بحرية]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[تصنيف:فن حسب الموضوع]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[تصنيف:فن حسب الموضوع]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[en:Category:Marine art]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[تصنيف:مياه في الفن]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[تصنيف:مياه في الفن]]</div></td>
</tr>
</tbody></table>
</body></html>
