<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 10590896 to 10441222</h1><h2>Existing two-column diff</h2><a href="https://th.wikipedia.org/w/index.php?title=กฤษฎา พรเวโรจน์&oldid=10590896&diff=10441222">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://th.wikipedia.org/w/index.php?title=กฤษฎา พรเวโรจน์&oldid=10590896">10590896</a></href></td><td colspan=2><a href="https://th.wikipedia.org/w/index.php?title=กฤษฎา พรเวโรจน์&oldid=10441222">10441222</a></tr><tr>
  <td colspan="2" class="diff-lineno">บรรทัด 2:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 2:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| bgcolour = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| bgcolour = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| name = กฤษฎา พรเวโรจน์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| name = กฤษฎา พรเวโรจน์</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| image = File:Smart krissada.jpg</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| image = File:Smart krissada.jpg<ins class="diffchange diffchange-inline">|thumb</ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| imagesize = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| imagesize = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| caption = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| caption = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| nickname = สมาร์ท</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| nickname = สมาร์ท</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| birthdate = {{วันเกิด-อายุ|2520|6|1}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| birthdate = {{วันเกิด-อายุ|2520|6|1}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| location = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| deathdate = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| deathplace = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| spouse = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| othername = สมาร์ท ,มาร์ท</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| othername = สมาร์ท ,มาร์ท</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| occupation = <del class="diffchange diffchange-inline">{{hlist|</del>นักแสดง<del class="diffchange diffchange-inline">|</del>นายแบบ<del class="diffchange diffchange-inline">|</del>สถาปนิก<del class="diffchange diffchange-inline">|</del>มัณฑนากร<del class="diffchange diffchange-inline">}}</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| occupation = นักแสดง<ins class="diffchange diffchange-inline"> </ins>นายแบบ<ins class="diffchange diffchange-inline"> </ins>สถาปนิก<ins class="diffchange diffchange-inline"> </ins>มัณฑนากร</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| yearsactive =<del class="diffchange diffchange-inline"> พ.ศ.</del> 2548–ปัจจุบัน</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| yearsactive = 2548–ปัจจุบัน</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| notable role = '''ทวารัศมิ์''' <del class="diffchange diffchange-inline">-</del> [[นิมิตมาร]] (2551) &lt;br&gt; '''มจ.ดาบปราบศัตรู''' <del class="diffchange diffchange-inline">-</del> [[ทาสรัก]] (2554) &lt;br&gt; '''เจ้าหมิงเทียน (ชายรอง)''' <del class="diffchange diffchange-inline">-</del> [[กี่เพ้า (ละครโทรทัศน์)|กี่เพ้า]] (2555) &lt;br&gt; '''ภิสิต''' <del class="diffchange diffchange-inline">-</del> [[สามใบไม่เถา]] (2557<del class="diffchange diffchange-inline">) &lt;br&gt; '''ดร.อนิรุทธิ์''' - [[เมียหลวง]] (2560</del>) &lt;br&gt; '''ดร.ตฤณฤทธิ์''' <del class="diffchange diffchange-inline">-</del> [[สาปกระสือ]] (2561) &lt;br&gt; '''ตุลา''' <del class="diffchange diffchange-inline">-</del> [[เมียน้อย]] (2562) &lt;br&gt; '''ระวี''' <del class="diffchange diffchange-inline">-</del> [[เริงริตา]] (2563)</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| notable role = '''ทวารัศมิ์''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[นิมิตมาร]] (2551) &lt;br&gt; '''มจ.ดาบปราบศัตรู''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[ทาสรัก]] (2554) &lt;br&gt; '''เจ้าหมิงเทียน (ชายรอง)''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[กี่เพ้า (ละครโทรทัศน์)|กี่เพ้า]] (2555) &lt;br&gt; '''ภิสิต''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[สามใบไม่เถา]] (2557) &lt;br&gt; '''ดร.ตฤณฤทธิ์''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[สาปกระสือ]] (2561) &lt;br&gt; '''ตุลา''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[เมียน้อย]] (2562) &lt;br&gt; '''ระวี''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[เริงริตา]] (2563)</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| เครื่องดนตรี = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| ค่าย = [[สถานีวิทยุโทรทัศน์ไทยทีวีสีช่อง 3]] (2548–2560)</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| แนวเพลง = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| ค่าย = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| ส่วนเกี่ยวข้อง = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| homepage = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| academyawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| emmyawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| tonyawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| goldenglobeawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| baftaawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| cesarawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| goyaawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| afiawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| filmfareawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| olivierawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| grammyawards = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| ตุ๊กตาทอง = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| ตุ๊กตาทอง = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| สุพรรณหงส์ = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| สุพรรณหงส์ = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 17:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 36:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| โทรทัศน์ทองคำ = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| โทรทัศน์ทองคำ = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| เมขลา = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| เมขลา = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| imdb_id = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| birthplace = [[กรุงเทพมหานคร]] ประเทศไทย</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| thaifilmdb_id = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| birth_name = กฤษฎา พรเวโรจน์</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''กฤษฎา พรเวโรจน์''' <del class="diffchange diffchange-inline">(</del>เกิด 1 มิถุนายน พ.ศ. 2520<del class="diffchange diffchange-inline">) ชื่อเล่น '''สมาร์ท'''</del> เป็นนักแสดงและนายแบบชาวไทย<del class="diffchange diffchange-inline"> เชื้อสายจีน-มอญ</del> &lt;ref&gt;[http://club.zubzip.com/view.aspx?albumname=mart_kitsada ประวัติ กฤษฎา พรเวโรจน์] zubzip.com&lt;/ref&gt;<del class="diffchange diffchange-inline"> อดีตนักแสดงสังกัด[[ช่อง 3 เอชดี|สถานีวิทยุโทรทัศน์ไทยทีวีสีช่อง 3]] ปัจจุบันหมดสัญญากับทางต้นสังกัดแล้วผันตัวเป็นนักแสดงอิสระ</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''กฤษฎา พรเวโรจน์''' <ins class="diffchange diffchange-inline">{{ชื่อเล่น|สมาร์ท}} </ins>เกิด<ins class="diffchange diffchange-inline">เมื่อวันที่</ins> 1 มิถุนายน พ.ศ. 2520 เป็นนักแสดง<ins class="diffchange diffchange-inline"> </ins>และนายแบบ<ins class="diffchange diffchange-inline">[[</ins>ชาวไทย<ins class="diffchange diffchange-inline">]]</ins> &lt;ref&gt;[http://club.zubzip.com/view.aspx?albumname=mart_kitsada ประวัติ กฤษฎา พรเวโรจน์] zubzip.com&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== ประวัติ ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== ประวัติ ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 42:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 61:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| 2549 </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| 2549 </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[วีรกรรมทำเพื่อเธอ]] ''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[วีรกรรมทำเพื่อเธอ]] ''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| หมวดเก๊ก </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| หมวดเก๊ก </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 49:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 68:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| พีร์ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| พีร์ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[เมื่อดอกรักบาน]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[เมื่อดอกรักบาน]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| กานท์ การุณย์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| กานท์ การุณย์</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[ลิขิตกามเทพ]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[ลิขิตกามเทพ]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| พินิจนัย</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| พินิจนัย</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 59:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 78:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| กฤติน</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| กฤติน</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[นิมิตมาร]] ''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[นิมิตมาร]] ''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|ทวารัศมิ์  </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|ทวารัศมิ์  </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[สะใภ้ลูกทุ่ง ]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[สะใภ้ลูกทุ่ง ]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| อาติยะ (อาร์ตี้)</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| อาติยะ (อาร์ตี้)</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 69:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 88:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|align = "center"| ชาติสยาม สุรบดินทร์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|align = "center"| ชาติสยาม สุรบดินทร์</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[แม่ค้าขนมหวาน]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[แม่ค้าขนมหวาน]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| วชรวรรษ วชิรธาน </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| วชรวรรษ วชิรธาน </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[เพลิงสีรุ้ง]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[เพลิงสีรุ้ง]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| ทินรัตน์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| ทินรัตน์</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| 2553 </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| 2553 </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[หวานใจกับนายจอมหยิ่ง]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[หวานใจกับนายจอมหยิ่ง]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| ทศวิน อัครศิริ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| ทศวิน อัครศิริ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "3" align="center"| 2554 </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "3" align="center"| 2554 </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[ปลาไหลป้ายแดง]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[ปลาไหลป้ายแดง]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|มหาพริษฐ์ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|มหาพริษฐ์ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[ทาสรัก]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[ทาสรัก]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|หม่อมเจ้าดาบปราบศัตรู</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|หม่อมเจ้าดาบปราบศัตรู</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[รักปาฏิหาริย์]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[รักปาฏิหาริย์]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|หม่อมราชวงศ์บุรธัช บุริศร์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|หม่อมราชวงศ์บุรธัช บุริศร์</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 97:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 116:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|หม่อมราชวงศ์สิบทิศ เวฬุมาส  </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|หม่อมราชวงศ์สิบทิศ เวฬุมาส  </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|  align = "center"|''[[ไฟรักเพลิงแค้น]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|  align = "center"|''[[ไฟรักเพลิงแค้น]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center" | ยศสรัล โชตินุพงษ์ (สรัล) </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center" | ยศสรัล โชตินุพงษ์ (สรัล) </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[สามใบไม่เถา]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[สามใบไม่เถา]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center" | ภิสิต </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center" | ภิสิต </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| 2560 </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| 2560 </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[เมียหลวง]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[เมียหลวง]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| อนิรุทธิ์ ศัลวิทย์ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| อนิรุทธิ์ ศัลวิทย์ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* ละครโทรทัศน์ทั้งหมดด้านล่างนี้ออกอากาศทาง [[โมโน 29]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{|class="wikitable"</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>! พ.ศ. !! เรื่อง !! บทบาท</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|-</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| rowspan = "1" align="center"| ⠀⠀2566⠀⠀ </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| ''HANGOUT เปลือก''</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| ⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|-</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* ละครโทรทัศน์ทั้งหมดด้านล่างนี้ออกอากาศทาง[[ช่อง 8]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* ละครโทรทัศน์ทั้งหมดด้านล่างนี้ออกอากาศทาง[[ช่อง 8]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 131:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 138:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "2" align="center"| 2562</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "2" align="center"| 2562</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[เพรงลับแล]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[เพรงลับแล]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|  เทศ (อดีต) / ทศนนท์ (ปัจจุบัน)</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|  เทศ (อดีต) / ทศนนท์ (ปัจจุบัน)</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "2" align="center"| 2563</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "2" align="center"| 2563</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[ปอบผีเจ้า]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[ปอบผีเจ้า]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "2" align="center"| เทพ / เรือง / เทพไท</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "2" align="center"| เทพ / เรือง / เทพไท</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[ปอบผีเจ้า2]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[ปอบผีเจ้า2]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| 2565</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| 2565</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 151:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 158:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align="center"| ⠀⠀2561⠀⠀ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align="center"| ⠀⠀2561⠀⠀ </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| ⠀''[[Club Friday the Series 10 รักนอกใจ]] ตอน ตัวประกอบ ⠀<del class="diffchange diffchange-inline">''</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align="center"| ⠀''[[Club Friday the Series 10 รักนอกใจ]] ตอน ตัวประกอบ ⠀</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align="center"| ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ปกป้อง⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align="center"| ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ปกป้อง⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 170:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 177:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| ⠀⠀2562⠀⠀ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| ⠀⠀2562⠀⠀ </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| ''⠀ ⠀⠀ ⠀ ⠀ ⠀ ⠀ ⠀  [[กลับไปสู่วันฝัน]]⠀ ⠀⠀⠀   ''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align="center"| ''⠀ ⠀⠀ ⠀ ⠀ ⠀ ⠀ ⠀  [[กลับไปสู่วันฝัน]]⠀ ⠀⠀⠀<ins class="diffchange diffchange-inline"> ⠀ ⠀ ⠀ ⠀</ins>   ''</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align="center"| ⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ดาวิน ไรลีย์⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align="center"| ⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ดาวิน ไรลีย์⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 180:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 187:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| ⠀⠀2564⠀⠀</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| ⠀⠀2564⠀⠀</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| [[Club Friday The Series 12]] <del class="diffchange diffchange-inline">รักซ่อนเร้น ตอน โลกใบที่สอง</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align="center"| [[Club Friday The Series 12]] </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>รักซ่อนเร้น ตอน โลกใบที่สอง </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align="center"| ชยานนท์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align="center"| ชยานนท์</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| 2565</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| 2565</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| ⠀⠀⠀⠀[[Club Friday The Series]]<del class="diffchange diffchange-inline"> Love Seasons Celebration ตอน Broken Anniversary⠀</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align="center"| ⠀⠀⠀⠀[[Club Friday The Series]]<ins class="diffchange diffchange-inline">⠀</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>⠀Love Seasons Celebration ตอน Broken Anniversary⠀ </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| วุฒิ⠀ ⠀ ⠀ </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align="center"| ⠀ ⠀ ⠀ ⠀ ⠀ ⠀⠀⠀ วุฒิ⠀⠀ ⠀⠀⠀⠀⠀⠀ ⠀ ⠀ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|}</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 2</td>
  <td colspan="2" class="diff-lineno">Line 2</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| bgcolour = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| bgcolour = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| name = กฤษฎา พรเวโรจน์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| name = กฤษฎา พรเวโรจน์</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| image = File:Smart krissada.jpg</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| image = File:Smart krissada.jpg<ins class="diffchange diffchange-inline">|thumb</ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| imagesize = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| imagesize = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| caption = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| caption = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| nickname = สมาร์ท</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| nickname = สมาร์ท</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| birthdate = {{วันเกิด-อายุ|2520|6|1}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| birthdate = {{วันเกิด-อายุ|2520|6|1}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| location = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| deathdate = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| deathplace = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| spouse = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| othername = สมาร์ท ,มาร์ท</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| othername = สมาร์ท ,มาร์ท</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| occupation = <del class="diffchange diffchange-inline">{{hlist|</del>นักแสดง<del class="diffchange diffchange-inline">|</del>นายแบบ<del class="diffchange diffchange-inline">|</del>สถาปนิก<del class="diffchange diffchange-inline">|</del>มัณฑนากร<del class="diffchange diffchange-inline">}}</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| occupation = นักแสดง<ins class="diffchange diffchange-inline"> </ins>นายแบบ<ins class="diffchange diffchange-inline"> </ins>สถาปนิก<ins class="diffchange diffchange-inline"> </ins>มัณฑนากร</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| yearsactive =<del class="diffchange diffchange-inline"> พ.ศ.</del> 2548–ปัจจุบัน</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| yearsactive = 2548–ปัจจุบัน</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| notable role = '''ทวารัศมิ์''' <del class="diffchange diffchange-inline">-</del> [[นิมิตมาร]] (2551) &lt;br&gt; '''มจ.ดาบปราบศัตรู''' <del class="diffchange diffchange-inline">-</del> [[ทาสรัก]] (2554) &lt;br&gt; '''เจ้าหมิงเทียน (ชายรอง)''' <del class="diffchange diffchange-inline">-</del> [[กี่เพ้า (ละครโทรทัศน์)|กี่เพ้า]] (2555) &lt;br&gt; '''ภิสิต''' <del class="diffchange diffchange-inline">-</del> [[สามใบไม่เถา]] (2557<del class="diffchange diffchange-inline">) &lt;br&gt; '''ดร.อนิรุทธิ์''' - [[เมียหลวง]] (2560</del>) &lt;br&gt; '''ดร.ตฤณฤทธิ์''' <del class="diffchange diffchange-inline">-</del> [[สาปกระสือ]] (2561) &lt;br&gt; '''ตุลา''' <del class="diffchange diffchange-inline">-</del> [[เมียน้อย]] (2562) &lt;br&gt; '''ระวี''' <del class="diffchange diffchange-inline">-</del> [[เริงริตา]] (2563)</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| notable role = '''ทวารัศมิ์''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[นิมิตมาร]] (2551) &lt;br&gt; '''มจ.ดาบปราบศัตรู''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[ทาสรัก]] (2554) &lt;br&gt; '''เจ้าหมิงเทียน (ชายรอง)''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[กี่เพ้า (ละครโทรทัศน์)|กี่เพ้า]] (2555) &lt;br&gt; '''ภิสิต''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[สามใบไม่เถา]] (2557) &lt;br&gt; '''ดร.ตฤณฤทธิ์''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[สาปกระสือ]] (2561) &lt;br&gt; '''ตุลา''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[เมียน้อย]] (2562) &lt;br&gt; '''ระวี''' <ins class="diffchange diffchange-inline">จากละครเรื่อง</ins> [[เริงริตา]] (2563)</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| เครื่องดนตรี = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| ค่าย = [[สถานีวิทยุโทรทัศน์ไทยทีวีสีช่อง 3]] (2548–2560)</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| แนวเพลง = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| ค่าย = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| ส่วนเกี่ยวข้อง = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| homepage = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| academyawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| emmyawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| tonyawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| goldenglobeawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| baftaawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| cesarawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| goyaawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| afiawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| filmfareawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| olivierawards = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| grammyawards = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| ตุ๊กตาทอง = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| ตุ๊กตาทอง = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| สุพรรณหงส์ = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| สุพรรณหงส์ = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 17</td>
  <td colspan="2" class="diff-lineno">Line 36</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| โทรทัศน์ทองคำ = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| โทรทัศน์ทองคำ = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| เมขลา = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| เมขลา = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| imdb_id = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| birthplace = [[กรุงเทพมหานคร]] ประเทศไทย</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| thaifilmdb_id = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| birth_name = กฤษฎา พรเวโรจน์</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''กฤษฎา พรเวโรจน์''' <del class="diffchange diffchange-inline">(</del>เกิด 1 มิถุนายน พ.ศ. 2520<del class="diffchange diffchange-inline">) ชื่อเล่น '''สมาร์ท'''</del> เป็นนักแสดงและนายแบบชาวไทย<del class="diffchange diffchange-inline"> เชื้อสายจีน-มอญ</del> &lt;ref&gt;[http://club.zubzip.com/view.aspx?albumname=mart_kitsada ประวัติ กฤษฎา พรเวโรจน์] zubzip.com&lt;/ref&gt;<del class="diffchange diffchange-inline"> อดีตนักแสดงสังกัด[[ช่อง 3 เอชดี|สถานีวิทยุโทรทัศน์ไทยทีวีสีช่อง 3]] ปัจจุบันหมดสัญญากับทางต้นสังกัดแล้วผันตัวเป็นนักแสดงอิสระ</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''กฤษฎา พรเวโรจน์''' <ins class="diffchange diffchange-inline">{{ชื่อเล่น|สมาร์ท}} </ins>เกิด<ins class="diffchange diffchange-inline">เมื่อวันที่</ins> 1 มิถุนายน พ.ศ. 2520 เป็นนักแสดง<ins class="diffchange diffchange-inline"> </ins>และนายแบบ<ins class="diffchange diffchange-inline">[[</ins>ชาวไทย<ins class="diffchange diffchange-inline">]]</ins> &lt;ref&gt;[http://club.zubzip.com/view.aspx?albumname=mart_kitsada ประวัติ กฤษฎา พรเวโรจน์] zubzip.com&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== ประวัติ ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== ประวัติ ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 42</td>
  <td colspan="2" class="diff-lineno">Line 61</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| 2549 </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| 2549 </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[วีรกรรมทำเพื่อเธอ]] ''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[วีรกรรมทำเพื่อเธอ]] ''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| หมวดเก๊ก </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| หมวดเก๊ก </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 49</td>
  <td colspan="2" class="diff-lineno">Line 68</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| พีร์ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| พีร์ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[เมื่อดอกรักบาน]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[เมื่อดอกรักบาน]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| กานท์ การุณย์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| กานท์ การุณย์</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[ลิขิตกามเทพ]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[ลิขิตกามเทพ]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| พินิจนัย</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| พินิจนัย</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 59</td>
  <td colspan="2" class="diff-lineno">Line 78</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| กฤติน</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| กฤติน</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[นิมิตมาร]] ''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[นิมิตมาร]] ''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|ทวารัศมิ์  </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|ทวารัศมิ์  </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[สะใภ้ลูกทุ่ง ]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[สะใภ้ลูกทุ่ง ]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| อาติยะ (อาร์ตี้)</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| อาติยะ (อาร์ตี้)</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 69</td>
  <td colspan="2" class="diff-lineno">Line 88</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|align = "center"| ชาติสยาม สุรบดินทร์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|align = "center"| ชาติสยาม สุรบดินทร์</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[แม่ค้าขนมหวาน]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[แม่ค้าขนมหวาน]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| วชรวรรษ วชิรธาน </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| วชรวรรษ วชิรธาน </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[เพลิงสีรุ้ง]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[เพลิงสีรุ้ง]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| ทินรัตน์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| ทินรัตน์</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| 2553 </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| 2553 </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[หวานใจกับนายจอมหยิ่ง]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[หวานใจกับนายจอมหยิ่ง]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| ทศวิน อัครศิริ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| ทศวิน อัครศิริ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "3" align="center"| 2554 </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "3" align="center"| 2554 </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[ปลาไหลป้ายแดง]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[ปลาไหลป้ายแดง]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|มหาพริษฐ์ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|มหาพริษฐ์ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[ทาสรัก]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[ทาสรัก]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|หม่อมเจ้าดาบปราบศัตรู</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|หม่อมเจ้าดาบปราบศัตรู</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[รักปาฏิหาริย์]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[รักปาฏิหาริย์]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|หม่อมราชวงศ์บุรธัช บุริศร์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|หม่อมราชวงศ์บุรธัช บุริศร์</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 97</td>
  <td colspan="2" class="diff-lineno">Line 116</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|หม่อมราชวงศ์สิบทิศ เวฬุมาส  </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|หม่อมราชวงศ์สิบทิศ เวฬุมาส  </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|  align = "center"|''[[ไฟรักเพลิงแค้น]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|  align = "center"|''[[ไฟรักเพลิงแค้น]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center" | ยศสรัล โชตินุพงษ์ (สรัล) </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center" | ยศสรัล โชตินุพงษ์ (สรัล) </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[สามใบไม่เถา]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[สามใบไม่เถา]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center" | ภิสิต </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center" | ภิสิต </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| 2560 </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| 2560 </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"|''[[เมียหลวง]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"|''[[เมียหลวง]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"| อนิรุทธิ์ ศัลวิทย์ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"| อนิรุทธิ์ ศัลวิทย์ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* ละครโทรทัศน์ทั้งหมดด้านล่างนี้ออกอากาศทาง [[โมโน 29]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{|class="wikitable"</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>! พ.ศ. !! เรื่อง !! บทบาท</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|-</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| rowspan = "1" align="center"| ⠀⠀2566⠀⠀ </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| ''HANGOUT เปลือก''</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| ⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|-</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* ละครโทรทัศน์ทั้งหมดด้านล่างนี้ออกอากาศทาง[[ช่อง 8]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* ละครโทรทัศน์ทั้งหมดด้านล่างนี้ออกอากาศทาง[[ช่อง 8]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 131</td>
  <td colspan="2" class="diff-lineno">Line 138</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "2" align="center"| 2562</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "2" align="center"| 2562</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[เพรงลับแล]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[เพรงลับแล]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align = "center"|  เทศ (อดีต) / ทศนนท์ (ปัจจุบัน)</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align = "center"|  เทศ (อดีต) / ทศนนท์ (ปัจจุบัน)</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "2" align="center"| 2563</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "2" align="center"| 2563</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[ปอบผีเจ้า]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[ปอบผีเจ้า]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "2" align="center"| เทพ / เรือง / เทพไท</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "2" align="center"| เทพ / เรือง / เทพไท</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align = "center"| ''[[ปอบผีเจ้า2]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align = "center"| ''[[ปอบผีเจ้า2]]''<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| 2565</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| 2565</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 151</td>
  <td colspan="2" class="diff-lineno">Line 158</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align="center"| ⠀⠀2561⠀⠀ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align="center"| ⠀⠀2561⠀⠀ </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| ⠀''[[Club Friday the Series 10 รักนอกใจ]] ตอน ตัวประกอบ ⠀<del class="diffchange diffchange-inline">''</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align="center"| ⠀''[[Club Friday the Series 10 รักนอกใจ]] ตอน ตัวประกอบ ⠀</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align="center"| ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ปกป้อง⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align="center"| ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ปกป้อง⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 170</td>
  <td colspan="2" class="diff-lineno">Line 177</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| ⠀⠀2562⠀⠀ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| ⠀⠀2562⠀⠀ </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| ''⠀ ⠀⠀ ⠀ ⠀ ⠀ ⠀ ⠀  [[กลับไปสู่วันฝัน]]⠀ ⠀⠀⠀   ''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align="center"| ''⠀ ⠀⠀ ⠀ ⠀ ⠀ ⠀ ⠀  [[กลับไปสู่วันฝัน]]⠀ ⠀⠀⠀<ins class="diffchange diffchange-inline"> ⠀ ⠀ ⠀ ⠀</ins>   ''</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align="center"| ⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ดาวิน ไรลีย์⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align="center"| ⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ ดาวิน ไรลีย์⠀ ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 180</td>
  <td colspan="2" class="diff-lineno">Line 187</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| ⠀⠀2564⠀⠀</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| ⠀⠀2564⠀⠀</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| [[Club Friday The Series 12]] รักซ่อนเร้น ตอน โลกใบที่สอง</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align="center"| [[Club Friday The Series 12]] </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>รักซ่อนเร้น ตอน โลกใบที่สอง<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| align="center"| ชยานนท์</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| align="center"| ชยานนท์</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| rowspan = "1" align="center"| 2565</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| rowspan = "1" align="center"| 2565</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| ⠀⠀⠀⠀[[Club Friday The Series]]<del class="diffchange diffchange-inline"> </del>Love Seasons Celebration ตอน Broken Anniversary⠀</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align="center"| ⠀⠀⠀⠀[[Club Friday The Series]]<ins class="diffchange diffchange-inline">⠀</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">⠀</ins>Love Seasons Celebration ตอน Broken Anniversary⠀<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| align="center"| <del class="diffchange diffchange-inline">วุฒิ⠀</del> ⠀ ⠀ </div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| align="center"| <ins class="diffchange diffchange-inline">⠀ ⠀ ⠀ ⠀ ⠀ ⠀⠀⠀ วุฒิ⠀⠀ ⠀⠀⠀⠀⠀⠀</ins> ⠀ ⠀ </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|-</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|-</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|}</div></td>
</tr>
</tbody></table>
</body></html>
