<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 19377088 to 20105488</h1><h2>Existing two-column diff</h2><a href="https://ar.wikipedia.org/w/index.php?title=قالب:علامة الموقع&oldid=19377088&diff=20105488">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://ar.wikipedia.org/w/index.php?title=قالب:علامة الموقع&oldid=19377088">19377088</a></href></td><td colspan=2><a href="https://ar.wikipedia.org/w/index.php?title=قالب:علامة الموقع&oldid=20105488">20105488</a></tr><tr>
  <td colspan="2" class="diff-lineno">سطر 22:</td>
  <td colspan="2" class="diff-lineno">سطر 22:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>  | y% = {{{y%|}}} }}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>  | y% = {{{y%|}}} }}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}&lt;/includeonly&gt;&lt;noinclude&gt;</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}&lt;/includeonly&gt;&lt;noinclude&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{<del class="diffchange diffchange-inline">documentation</del>}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{<ins class="diffchange diffchange-inline">توثيق</ins>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>&lt;!--</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>&lt;!--</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>   Please add categories and interwikis</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>   Please add categories and interwikis</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff changeThreshold = 0.3</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 22</td>
  <td colspan="2" class="diff-lineno">Line 22</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>  | y% = {{{y%|}}} }}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>  | y% = {{{y%|}}} }}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}&lt;/includeonly&gt;&lt;noinclude&gt;</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}&lt;/includeonly&gt;&lt;noinclude&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{توثيق}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{documentation}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>&lt;!--</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>&lt;!--</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>   Please add categories and interwikis</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>   Please add categories and interwikis</div></td>
</tr>
</tbody></table>
</body></html>
