<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 61447301 to 22165765</h1><h2>Existing two-column diff</h2><a href="https://en.wiktionary.org/w/index.php?title=Category:Japanese terms spelled with 敗 read as はい&oldid=61447301&diff=22165765">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://en.wiktionary.org/w/index.php?title=Category:Japanese terms spelled with 敗 read as はい&oldid=61447301">61447301</a></href></td><td colspan=2><a href="https://en.wiktionary.org/w/index.php?title=Category:Japanese terms spelled with 敗 read as はい&oldid=22165765">22165765</a></tr><tr>
  <td colspan="2" class="diff-lineno">Line 1:</td>
  <td colspan="2" class="diff-lineno">Line 1:</td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{ja-readingcat|敗|はい|on}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{auto cat|kan'on}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{<del class="diffchange diffchange-inline">auto cat</del>|<del class="diffchange diffchange-inline">kan'</del>on}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{<ins class="diffchange diffchange-inline">ja-readingcat|敗|はい</ins>|on}}</div></td>
</tr>
</tbody></table>
</body></html>
