<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 53259974 to 36098007</h1><h2>Existing two-column diff</h2><a href="https://ar.wikipedia.org/w/index.php?title=نقاش:انتخابات الرئاسة الأمريكية 1956&oldid=53259974&diff=36098007">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://ar.wikipedia.org/w/index.php?title=نقاش:انتخابات الرئاسة الأمريكية 1956&oldid=53259974">53259974</a></href></td><td colspan=2><a href="https://ar.wikipedia.org/w/index.php?title=نقاش:انتخابات الرئاسة الأمريكية 1956&oldid=36098007">36098007</a></tr><tr>
  <td colspan="2" class="diff-lineno">سطر 1:</td>
  <td colspan="2" class="diff-lineno">سطر 1:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{رأس نقاش}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{رأس نقاش}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{<del class="diffchange diffchange-inline">غلاف شريط </del>مشروع ويكي|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{مشروع ويكي<ins class="diffchange diffchange-inline"> سياسة</ins>|<ins class="diffchange diffchange-inline"> الصنف = بذرة}}</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{مشروع ويكي الولايات المتحدة| الصنف = بذرة| الأهمية = قليلة|آلي=نعم}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{مشروع ويكي سياسة| الصنف = بذرة| الأهمية = قليلة}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
</tbody></table><h2>New wikidiff2 diff changeThreshold = 0.3</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{رأس نقاش}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{رأس نقاش}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_3_1_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_1_0_rhs"></a>{{مشروع ويكي سياسة| الصنف = بذرة}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{غلاف شريط مشروع ويكي|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{مشروع ويكي الولايات المتحدة| الصنف = بذرة| الأهمية = قليلة|آلي=نعم}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_1_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_3_1_lhs"></a>{{مشروع ويكي سياسة| الصنف = بذرة<del class="diffchange diffchange-inline">| الأهمية = قليلة</del>}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
</tbody></table>
</body></html>
