<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 475511 to 495196</h1><h2>Existing two-column diff</h2><a href="https://de.wikiversity.org/w/index.php?title=Benutzer:Cristina Gemmellaro/Wikipediaanalyse (WS 2016) - Schuluniform&oldid=475511&diff=495196">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://de.wikiversity.org/w/index.php?title=Benutzer:Cristina Gemmellaro/Wikipediaanalyse (WS 2016) - Schuluniform&oldid=475511">475511</a></href></td><td colspan=2><a href="https://de.wikiversity.org/w/index.php?title=Benutzer:Cristina Gemmellaro/Wikipediaanalyse (WS 2016) - Schuluniform&oldid=495196">495196</a></tr><tr>
  <td colspan="2" class="diff-lineno">Zeile 1:</td>
  <td colspan="2" class="diff-lineno">Zeile 1:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Kurs:Krieg_und_Propaganda:_bis_zum_1._Weltkrieg_(WS_2016)/Navigation}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Kurs:Krieg_und_Propaganda:_bis_zum_1._Weltkrieg_(WS_2016)/Navigation}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Aufgabenstellung ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Aufgabenstellung ==</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Anhand eines beliebigen Artikels kann unter Verwendung der nachstehenden Werkzeuge eine Analyse eines Artikels erstellt werden. Um eventuelle Kontroversen zu illustrieren, zieht man einen Artikel heran, von dem man annimmt, dass  er umstritten ist. Die Eckpunkte von Kontroversen sind in den allermeisten Fällen auf den dazugehörigen Diskussionsseiten (und Archiven, falls vorhanden) zu finden. </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Anhand eines beliebigen Artikels kann unter Verwendung der nachstehenden Werkzeuge eine Analyse eines Artikels erstellt werden. Um eventuelle Kontroversen zu illustrieren, zieht man einen Artikel heran, von dem man annimmt, dass  er umstritten ist. Die Eckpunkte von Kontroversen sind in den allermeisten Fällen auf den dazugehörigen Diskussionsseiten (und Archiven, falls vorhanden) zu finden. </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Kommentar/Bewertung ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== Analyse Wikipediaartikel ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Kasten|bw=3|bc=gray||b=#bedefe|c=navy|Text=Die Aufgabe wurde gut gelöst, etwas bessere Strukturierung wäre gut! --[[Benutzer:Hubertl|Heinz E.]] ([[Benutzer Diskussion:Hubertl|Diskussion]]) 01:31, 11. Nov. 2016 (CET)}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Im Gegensatz zur Arbeit in klassischen Enzyklopädien, in der die jeweiligen Fachbereich in der Verantwortung eines Redakteurs steht, ist das Zustandekommen eines einelnen Lemmas in Wikipedia eine Gemeinschaftsarbeit, welche über viele Jahre hinweg zum jeweils sichtbaren Ergebnis führt. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Je nachdem, in welchem Bereich dieses Lemma fällt, ist auch der Bearbeitungsverlauf sehr unterschiedlich. Das Zustandekommen selbst wird, wie jede einzelne Bearbeitung in Wikipedia, in der Verlaufsgeschichte aufgezeichnet und wird somit öffentlich sichtbar. Somit auch alle inhaltlichen und somit auch ideologischen Kontroversen. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Um einen Artikel zu analysieren gibt es mehrere Methoden. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div># Prüfung der Diskussionseite (auch verschobene oder ''gelöschte'' Beiträge)</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>#: '''Jede''' Seite in Wikipedia hat automatisch auch eine Diskussionsseite. Ob das nun eine Benuterseite ist oder eine Artikelseite. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div># Prüfung der Artikelseite anhand der Bearbeitungsgeschichte selbst.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div># Verwendung diverser Tools</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>:# [https://tools.wmflabs.org/xtools-articleinfo/ X-Tools, sehr umfangreich]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Es wird in einer Kontroverse auch vielfach die Person hinterfragt, welche sich an dieser Kontroverse beteiligt, denn  nicht immer ist die Person, welche hinter einem Benutzernamen steckt, die, welche man erwartet. Das Thema "Sockenpuppen" ist durchaus ein Problem. Wenn man die Aktivitäten einer einzelnen Person analysiert, kann man oft feststellen, dass man auf einen Account trifft, der relativ neu ist und/oder ausschließlich in einem bestimmten Bereich aktiv ist. Diese Accounts werden dann als "Single Purpose Accounts" bezeichnet. Am besten kann man das anhand der jeweiligen Benutzerbeiträge feststellen.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Schuluniform ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Schuluniform ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Zeile 25:</td>
  <td colspan="2" class="diff-lineno">Zeile 14:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Insgesamt verfügt er über 941 verschiedene Versionen und wurde vor allem im Jahr 2006 oft aufgerufen und bearbeitet. </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Insgesamt verfügt er über 941 verschiedene Versionen und wurde vor allem im Jahr 2006 oft aufgerufen und bearbeitet. </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Vor allem, wieso man sich für eine Schuluniform entscheiden sollte oder <del class="diffchange diffchange-inline">nicht</del>, bringen die Hauptdiskussion der User mit sich. </div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Vor allem, wieso man sich für eine Schuluniform entscheiden sollte oder <ins class="diffchange diffchange-inline">dagegen</ins>, bringen die Hauptdiskussion der User mit sich. </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Vorteile der Schuluniformen lauten hier folgendermaßen: Zum einen wird beschrieben, dass Schuluniform ein großes Gemeinschaftsgefühl, Zusammenhalt sowie einen hohen Teamgeist fördern kann. Durch eine Uniform lässt sich außerdem nicht auf die soziale Schicht einer Familie zurückzudenken, was Schülern das verbreitete „Kleider machen Leute“ zumindest während der Schulzeit erleichtert. </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Vorteile der Schuluniformen lauten hier folgendermaßen: Zum einen wird beschrieben, dass Schuluniform ein großes Gemeinschaftsgefühl, Zusammenhalt sowie einen hohen Teamgeist fördern kann. Durch eine Uniform lässt sich außerdem nicht auf die soziale Schicht einer Familie zurückzudenken, was Schülern das verbreitete „Kleider machen Leute“ zumindest während der Schulzeit erleichtert. </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Auf der Seite der Nachteile wird <del class="diffchange diffchange-inline">vor allem</del> die Verpflichtung des Tragens einer einheitlichen Uniform beschrieben. Es ist wichtig während der Kindheit und Pubertät sich selbst auszuleben und individuell zu sein, welches durch <del class="diffchange diffchange-inline">die Uniform</del> klar eingeschränkt ist. Hier wird besonders auch das „Grundgesetz der freien Kleiderwahl“ angesprochen. Zudem wird die Uniform ohne Mitsprache der Schüler gestaltet, somit kann es auch vorkommen, dass diese sich verkleidet fühlen. </div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Auf der Seite der Nachteile wird <ins class="diffchange diffchange-inline">hauptsächlich</ins> die Verpflichtung des Tragens einer einheitlichen Uniform beschrieben. Es ist wichtig während der Kindheit und Pubertät sich selbst auszuleben und individuell zu sein, welches durch <ins class="diffchange diffchange-inline">Einheitskleidung</ins> klar eingeschränkt ist. Hier wird besonders auch das „Grundgesetz der freien Kleiderwahl“ angesprochen. Zudem wird die Uniform ohne Mitsprache der Schüler gestaltet, somit kann es auch vorkommen, dass diese sich verkleidet fühlen. </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Auf der Diskussionsseite zeigt sich aber <del class="diffchange diffchange-inline">vor</del> <del class="diffchange diffchange-inline">allem</del>, dass User sich auf das Argument Gender und Wahrnehmung von Mädchen bzw. Jungen <del class="diffchange diffchange-inline">basieren</del>. Eine Schuluniform sollte nicht geschlechterdiskriminierend sein führt ein User an, was aber das Tragen eines Rocks bei Mädchen und Hose und Krawatte bei Jungs deutlich werden lässt. Der Großteil der Diskussion wird durch 2 User geprägt<del class="diffchange diffchange-inline">: w</del>: Alberich21 und<del class="diffchange diffchange-inline"> w:</del> MushRoomCloud.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Auf der Diskussionsseite zeigt sich aber <ins class="diffchange diffchange-inline">in</ins> <ins class="diffchange diffchange-inline">erster Linie</ins>, dass User sich auf das Argument Gender und Wahrnehmung von Mädchen bzw. Jungen <ins class="diffchange diffchange-inline">stützen</ins>. Eine Schuluniform sollte nicht geschlechterdiskriminierend sein<ins class="diffchange diffchange-inline">,</ins> führt ein User an, was aber das Tragen eines Rocks bei Mädchen und Hose und Krawatte bei Jungs deutlich werden lässt. Der Großteil der Diskussion wird durch 2 User geprägt: Alberich21 und MushRoomCloud.</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die User hinterfragen das Argument des Vorteils weniger Kleider kaufen zu müssen vor allem mit den finanziellen Perspektiven. So wird man wohl kaum im Winter und im Sommer die gleiche Uniform tragen bzw. 5 Tage die Woche dasselbe <del class="diffchange diffchange-inline">tragen</del>. </div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die User hinterfragen das Argument des Vorteils weniger Kleider kaufen zu müssen vor allem mit den finanziellen Perspektiven. So wird man wohl kaum im Winter und im Sommer die gleiche Uniform tragen bzw. 5 Tage die Woche dasselbe <ins class="diffchange diffchange-inline">anhaben</ins>. </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die Meinungen der Beteiligten an der Diskussion gehen darüber hinaus auseinander, wenn man die Punkte Erfolg im Beruf und Kleidungsstil parallel zueinander stellt. Hier zeigen sich Kontroversen insofern, dass manche sich einig sind, dass es natürlich im Vorhinein eine Festsetzung über das Geschlecht gibt, wenn jemand einen Rock trägt, das aber früher schon genauso war, dass Hausfrauen bzw. Adlige als Frauen sich anders angezogen haben als Männer. Viele wollen das somit nicht so „eng“ sehen wie es in der Gesellschaft heutzutage oft diskutiert wird andere finden diese Ansichten durchaus unangebracht. </div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die Meinungen der Beteiligten an der Diskussion gehen darüber hinaus auseinander, wenn man die Punkte Erfolg im Beruf und Kleidungsstil parallel zueinander stellt. Hier zeigen sich Kontroversen insofern, dass manche sich einig sind, dass es natürlich im Vorhinein eine Festsetzung über das Geschlecht gibt, wenn jemand einen Rock trägt, das aber früher schon genauso war, dass Hausfrauen bzw. Adlige als Frauen sich anders angezogen haben als Männer. Viele wollen das somit nicht so „eng“ sehen wie es in der Gesellschaft heutzutage oft diskutiert wird<ins class="diffchange diffchange-inline">,</ins> andere finden diese Ansichten durchaus unangebracht. </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Zusammenfassend kann man sagen, dass die User vor allem über den Aspekt der freien Wahl über Kleidung und Wahl einer Gruppenangehörigkeit diskutieren. Da zumeist Kinder im frühen Alter durch Kleidungsstil und durch Wahl der Freundschaften viel geprägt werden, sehen die Diskutierenden durchaus einen Nachteil <del class="diffchange diffchange-inline">sie</del> mit einer Schuluniform zu versehen. Zudem kommen schwerwiegende negative Aspekte wie hohe Kosten und Diskriminierung von Personengruppen hinzu.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Zusammenfassend kann man sagen, dass die User vor allem über den Aspekt der freien Wahl über Kleidung und Wahl einer Gruppenangehörigkeit diskutieren. Da zumeist Kinder im frühen Alter durch Kleidungsstil und durch Wahl der Freundschaften viel geprägt werden, sehen die Diskutierenden durchaus einen Nachteil <ins class="diffchange diffchange-inline">Schüler</ins> mit einer Schuluniform zu versehen. Zudem kommen schwerwiegende negative Aspekte<ins class="diffchange diffchange-inline">,</ins> wie hohe Kosten und Diskriminierung von Personengruppen<ins class="diffchange diffchange-inline">,</ins> hinzu.</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Kurs:Krieg_und_Propaganda:_bis_zum_1._Weltkrieg_(WS_2016)/Navigation}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Kurs:Krieg_und_Propaganda:_bis_zum_1._Weltkrieg_(WS_2016)/Navigation}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Aufgabenstellung ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Aufgabenstellung ==</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Anhand eines beliebigen Artikels kann unter Verwendung der nachstehenden Werkzeuge eine Analyse eines Artikels erstellt werden. Um eventuelle Kontroversen zu illustrieren, zieht man einen Artikel heran, von dem man annimmt, dass  er umstritten ist. Die Eckpunkte von Kontroversen sind in den allermeisten Fällen auf den dazugehörigen Diskussionsseiten (und Archiven, falls vorhanden) zu finden. </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Anhand eines beliebigen Artikels kann unter Verwendung der nachstehenden Werkzeuge eine Analyse eines Artikels erstellt werden. Um eventuelle Kontroversen zu illustrieren, zieht man einen Artikel heran, von dem man annimmt, dass  er umstritten ist. Die Eckpunkte von Kontroversen sind in den allermeisten Fällen auf den dazugehörigen Diskussionsseiten (und Archiven, falls vorhanden) zu finden. </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== <del class="diffchange diffchange-inline">Analyse Wikipediaartikel</del> ==</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== <ins class="diffchange diffchange-inline">Kommentar/Bewertung</ins> ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Kasten|bw=3|bc=gray||b=#bedefe|c=navy|Text=Die Aufgabe wurde gut gelöst, etwas bessere Strukturierung wäre gut! --[[Benutzer:Hubertl|Heinz E.]] ([[Benutzer Diskussion:Hubertl|Diskussion]]) 01:31, 11. Nov. 2016 (CET)}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Im Gegensatz zur Arbeit in klassischen Enzyklopädien, in der die jeweiligen Fachbereich in der Verantwortung eines Redakteurs steht, ist das Zustandekommen eines einelnen Lemmas in Wikipedia eine Gemeinschaftsarbeit, welche über viele Jahre hinweg zum jeweils sichtbaren Ergebnis führt. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Je nachdem, in welchem Bereich dieses Lemma fällt, ist auch der Bearbeitungsverlauf sehr unterschiedlich. Das Zustandekommen selbst wird, wie jede einzelne Bearbeitung in Wikipedia, in der Verlaufsgeschichte aufgezeichnet und wird somit öffentlich sichtbar. Somit auch alle inhaltlichen und somit auch ideologischen Kontroversen. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Um einen Artikel zu analysieren gibt es mehrere Methoden. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div># Prüfung der Diskussionseite (auch verschobene oder ''gelöschte'' Beiträge)</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>#: '''Jede''' Seite in Wikipedia hat automatisch auch eine Diskussionsseite. Ob das nun eine Benuterseite ist oder eine Artikelseite. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div># Prüfung der Artikelseite anhand der Bearbeitungsgeschichte selbst.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div># Verwendung diverser Tools</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>:# [https://tools.wmflabs.org/xtools-articleinfo/ X-Tools, sehr umfangreich]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Es wird in einer Kontroverse auch vielfach die Person hinterfragt, welche sich an dieser Kontroverse beteiligt, denn  nicht immer ist die Person, welche hinter einem Benutzernamen steckt, die, welche man erwartet. Das Thema "Sockenpuppen" ist durchaus ein Problem. Wenn man die Aktivitäten einer einzelnen Person analysiert, kann man oft feststellen, dass man auf einen Account trifft, der relativ neu ist und/oder ausschließlich in einem bestimmten Bereich aktiv ist. Diese Accounts werden dann als "Single Purpose Accounts" bezeichnet. Am besten kann man das anhand der jeweiligen Benutzerbeiträge feststellen.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Schuluniform ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Schuluniform ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 25</td>
  <td colspan="2" class="diff-lineno">Line 14</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Insgesamt verfügt er über 941 verschiedene Versionen und wurde vor allem im Jahr 2006 oft aufgerufen und bearbeitet. </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Insgesamt verfügt er über 941 verschiedene Versionen und wurde vor allem im Jahr 2006 oft aufgerufen und bearbeitet. </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Vor allem, wieso man sich für eine Schuluniform entscheiden sollte oder <del class="diffchange diffchange-inline">nicht</del>, bringen die Hauptdiskussion der User mit sich. </div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Vor allem, wieso man sich für eine Schuluniform entscheiden sollte oder <ins class="diffchange diffchange-inline">dagegen</ins>, bringen die Hauptdiskussion der User mit sich. </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Vorteile der Schuluniformen lauten hier folgendermaßen: Zum einen wird beschrieben, dass Schuluniform ein großes Gemeinschaftsgefühl, Zusammenhalt sowie einen hohen Teamgeist fördern kann. Durch eine Uniform lässt sich außerdem nicht auf die soziale Schicht einer Familie zurückzudenken, was Schülern das verbreitete „Kleider machen Leute“ zumindest während der Schulzeit erleichtert. </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Vorteile der Schuluniformen lauten hier folgendermaßen: Zum einen wird beschrieben, dass Schuluniform ein großes Gemeinschaftsgefühl, Zusammenhalt sowie einen hohen Teamgeist fördern kann. Durch eine Uniform lässt sich außerdem nicht auf die soziale Schicht einer Familie zurückzudenken, was Schülern das verbreitete „Kleider machen Leute“ zumindest während der Schulzeit erleichtert. </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Auf der Seite der Nachteile wird <del class="diffchange diffchange-inline">vor allem</del> die Verpflichtung des Tragens einer einheitlichen Uniform beschrieben. Es ist wichtig während der Kindheit und Pubertät sich selbst auszuleben und individuell zu sein, welches durch <del class="diffchange diffchange-inline">die Uniform</del> klar eingeschränkt ist. Hier wird besonders auch das „Grundgesetz der freien Kleiderwahl“ angesprochen. Zudem wird die Uniform ohne Mitsprache der Schüler gestaltet, somit kann es auch vorkommen, dass diese sich verkleidet fühlen. </div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Auf der Seite der Nachteile wird <ins class="diffchange diffchange-inline">hauptsächlich</ins> die Verpflichtung des Tragens einer einheitlichen Uniform beschrieben. Es ist wichtig während der Kindheit und Pubertät sich selbst auszuleben und individuell zu sein, welches durch <ins class="diffchange diffchange-inline">Einheitskleidung</ins> klar eingeschränkt ist. Hier wird besonders auch das „Grundgesetz der freien Kleiderwahl“ angesprochen. Zudem wird die Uniform ohne Mitsprache der Schüler gestaltet, somit kann es auch vorkommen, dass diese sich verkleidet fühlen. </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Auf der Diskussionsseite zeigt sich aber <del class="diffchange diffchange-inline">vor</del> <del class="diffchange diffchange-inline">allem</del>, dass User sich auf das Argument Gender und Wahrnehmung von Mädchen bzw. Jungen <del class="diffchange diffchange-inline">basieren</del>. Eine Schuluniform sollte nicht geschlechterdiskriminierend sein führt ein User an, was aber das Tragen eines Rocks bei Mädchen und Hose und Krawatte bei Jungs deutlich werden lässt. Der Großteil der Diskussion wird durch 2 User geprägt<del class="diffchange diffchange-inline">: w</del>: Alberich21 und<del class="diffchange diffchange-inline"> w:</del> MushRoomCloud.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Auf der Diskussionsseite zeigt sich aber <ins class="diffchange diffchange-inline">in</ins> <ins class="diffchange diffchange-inline">erster Linie</ins>, dass User sich auf das Argument Gender und Wahrnehmung von Mädchen bzw. Jungen <ins class="diffchange diffchange-inline">stützen</ins>. Eine Schuluniform sollte nicht geschlechterdiskriminierend sein<ins class="diffchange diffchange-inline">,</ins> führt ein User an, was aber das Tragen eines Rocks bei Mädchen und Hose und Krawatte bei Jungs deutlich werden lässt. Der Großteil der Diskussion wird durch 2 User geprägt: Alberich21 und MushRoomCloud.</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die User hinterfragen das Argument des Vorteils weniger Kleider kaufen zu müssen vor allem mit den finanziellen Perspektiven. So wird man wohl kaum im Winter und im Sommer die gleiche Uniform tragen bzw. 5 Tage die Woche dasselbe <del class="diffchange diffchange-inline">tragen</del>. </div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die User hinterfragen das Argument des Vorteils weniger Kleider kaufen zu müssen vor allem mit den finanziellen Perspektiven. So wird man wohl kaum im Winter und im Sommer die gleiche Uniform tragen bzw. 5 Tage die Woche dasselbe <ins class="diffchange diffchange-inline">anhaben</ins>. </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die Meinungen der Beteiligten an der Diskussion gehen darüber hinaus auseinander, wenn man die Punkte Erfolg im Beruf und Kleidungsstil parallel zueinander stellt. Hier zeigen sich Kontroversen insofern, dass manche sich einig sind, dass es natürlich im Vorhinein eine Festsetzung über das Geschlecht gibt, wenn jemand einen Rock trägt, das aber früher schon genauso war, dass Hausfrauen bzw. Adlige als Frauen sich anders angezogen haben als Männer. Viele wollen das somit nicht so „eng“ sehen wie es in der Gesellschaft heutzutage oft diskutiert wird andere finden diese Ansichten durchaus unangebracht. </div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die Meinungen der Beteiligten an der Diskussion gehen darüber hinaus auseinander, wenn man die Punkte Erfolg im Beruf und Kleidungsstil parallel zueinander stellt. Hier zeigen sich Kontroversen insofern, dass manche sich einig sind, dass es natürlich im Vorhinein eine Festsetzung über das Geschlecht gibt, wenn jemand einen Rock trägt, das aber früher schon genauso war, dass Hausfrauen bzw. Adlige als Frauen sich anders angezogen haben als Männer. Viele wollen das somit nicht so „eng“ sehen wie es in der Gesellschaft heutzutage oft diskutiert wird<ins class="diffchange diffchange-inline">,</ins> andere finden diese Ansichten durchaus unangebracht. </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Zusammenfassend kann man sagen, dass die User vor allem über den Aspekt der freien Wahl über Kleidung und Wahl einer Gruppenangehörigkeit diskutieren. Da zumeist Kinder im frühen Alter durch Kleidungsstil und durch Wahl der Freundschaften viel geprägt werden, sehen die Diskutierenden durchaus einen Nachteil <del class="diffchange diffchange-inline">sie</del> mit einer Schuluniform zu versehen. Zudem kommen schwerwiegende negative Aspekte wie hohe Kosten und Diskriminierung von Personengruppen hinzu.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Zusammenfassend kann man sagen, dass die User vor allem über den Aspekt der freien Wahl über Kleidung und Wahl einer Gruppenangehörigkeit diskutieren. Da zumeist Kinder im frühen Alter durch Kleidungsstil und durch Wahl der Freundschaften viel geprägt werden, sehen die Diskutierenden durchaus einen Nachteil <ins class="diffchange diffchange-inline">Schüler</ins> mit einer Schuluniform zu versehen. Zudem kommen schwerwiegende negative Aspekte<ins class="diffchange diffchange-inline">,</ins> wie hohe Kosten und Diskriminierung von Personengruppen<ins class="diffchange diffchange-inline">,</ins> hinzu.</div></td>
</tr>
</tbody></table>
</body></html>
