<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 204432276 to 168822183</h1><h2>Existing two-column diff</h2><a href="https://fr.wikipedia.org/w/index.php?title=Police communale (Belgique)&oldid=204432276&diff=168822183">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://fr.wikipedia.org/w/index.php?title=Police communale (Belgique)&oldid=204432276">204432276</a></href></td><td colspan=2><a href="https://fr.wikipedia.org/w/index.php?title=Police communale (Belgique)&oldid=168822183">168822183</a></tr><tr>
  <td colspan="2" class="diff-lineno">Ligne 40 :</td>
  <td colspan="2" class="diff-lineno">Ligne 40 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> | date de mise à jour        = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> | date de mise à jour        = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La '''Police Communale''' (en [[néerlandais]]: ''Gemeentepolitie'') en [[Belgique]], est un ancien corps de police. <del class="diffchange diffchange-inline">Pendant un grand nombre de décennies, trois forces de sécurité intérieure coexistaient en Belgique: la [[Police judiciaire (Belgique)|police judiciaire]], la [[Gendarmerie (Belgique)|gendarmerie]] et la police communale&lt;ref&gt;{{Lien web |langue=fr-FR |titre=Les polices municipales |url=https://www.senat.fr/lc/lc38/lc38.html |site=Sénat |date=2023-04-03 |consulté le=2023-05-18}}&lt;/ref&gt;. La police communale</del> a fusionné le {{date-|1 janvier 2001}} avec la [[Gendarmerie nationale (Belgique)|<del class="diffchange diffchange-inline">gendarmerie</del>]], à la suite de la [[Réforme des polices de Belgique|réforme des polices]], pour constituer<del class="diffchange diffchange-inline"> ce qu'on appelle aujourd'hui</del> la [[Police belge|police intégrée]]<del class="diffchange diffchange-inline">&lt;ref&gt;{{Lien web |langue=fr |titre=Présentation {{!}} Police Fédérale |url=https://www.police.be/5998/fr/a-propos/police-integree/presentation |site=www.police.be |date=2023-04-21 |consulté le=2023-05-19}}&lt;/ref&gt;. La police communale était compétente pour les communes</del>.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>La '''Police Communale'''<ins class="diffchange diffchange-inline">,</ins> (en [[néerlandais]]<ins class="diffchange diffchange-inline"> </ins>: ''Gemeentepolitie'')<ins class="diffchange diffchange-inline">,</ins> en [[Belgique]], est un ancien corps de police. <ins class="diffchange diffchange-inline">Il</ins> a fusionné le {{date-|1 janvier 2001}} avec la [[Gendarmerie nationale (Belgique)|<ins class="diffchange diffchange-inline">Gendarmerie</ins>]], à la suite de la [[Réforme des polices de Belgique|réforme des polices]], pour constituer la [[Police belge|police intégrée]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Histoire ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Histoire ==</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{...}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{...}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Avant 2001, il existait en Belgique trois grand corps de police, la Police Communale, la Police Judiciaire et la Gendarmerie.</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Avant l'adoption de la [[Réforme des polices de Belgique|réforme des polices]] en 1998, qui a été promulguée en loi et mise en œuvre sur le terrain en 2001, le système policier belge était relativement morcelé. Les services de police générale, comprenant la police communale, la gendarmerie et la police judiciaire, coexistaient avec des services de police spécialisés tels que la police aéronautique, maritime et ferroviaire&lt;ref&gt;{{Lien web |langue=fr |prénom=Union des Villes et Communes de |nom=Wallonie |titre=La police locale |url=https://www.uvcw.be/police-locale/focus/art-2358 |site=Union des Villes et Communes de Wallonie / Fédération des CPAS |consulté le=2023-05-19}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>À la suite des nombreux dysfonctionnement policiers et judiciaires, mis en avant par l'[[Affaire Dutroux]] en [[1996]], la décision est prise de réformer ces différents corps pour n'en former plus qu'un, celui qui est actuellement connu.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Le {{date-|1 janvier 2001}}, la police intégrée, structurée à deux niveaux voit le jour. La réforme donne naissance à la police fédérale et à la police locale. C'est cette dernière qui endossera la majorité des fonctions initialement remplies par la police communale.</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Depuis le début du XIXe siècle, l'organisation de la police reposait principalement sur le pouvoir de police administrative communale, avec un rôle central dévolu au bourgmestre. Les forces de police communale, employées par chaque commune du pays, étaient chargées du maintien de l'ordre public&lt;ref&gt;{{Lien web |langue=fr |auteur=Francis Delpérée et S. Depré |titre=Système constitutionnel de la Belgique, Le droit public et administratif |url=https://www-stradalex-com.usaintlouis.idm.oclc.org/fr/sl_rn_comm_fr_t14/macrodocument/rn_comm_fr_t14_1401_/rn_comm_fr_t14_1401_00004_ |site=StradaLex |périodique=Rép. not., T. XIV |lieu=Bruxelles |éditeur=Larcier |date=1/01/1998}}&lt;/ref&gt; et des enquêtes pénales sur leur territoire respectif. À ce moment-là, aucune disposition relative à la police communale ne figurait dans la [[Constitution de la Belgique|Constitution]] ce qui traduisait d’une organisation superficielle de celle-ci&lt;ref&gt;{{Article|langue=Français|auteur1=Lode Van Outrive|titre=La réforme des polices|périodique=Courrier hebdomadaire du CRISP|numéro=1580-1581|date=1997|issn=0008-9664|issn2=1782-141X|doi=10.3917/cris.1580.0001|lire en ligne=http://dx.doi.org/10.3917/cris.1580.0001|consulté le=2023-05-18|pages=1}}&lt;/ref&gt;. En effet, la police communale se caractérisait par sa fragmentation en plusieurs corps de police et l'absence d'unification&lt;ref&gt;{{Ouvrage|langue=fr|auteur1=Luc Keunings|et al.=oui|titre=L’évolution de l’appareil policier en Belgique (1830-2002)|passage=311|lieu=Brugge|éditeur=La Charte|date=2004|format électronique=file:///Users/ninwekanoun/Downloads/Keunings%20et%20al_2004_L%E2%80%99%C3%A9volution%20de%20l%E2%80%99appareil%20policier%20en%20Belgique%20(1830-2002).pdf|consulté le=13 mai 2023}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Parallèlement, la gendarmerie, en tant que service de police relevant de l'État, était une autre grande force de maintien de l'ordre depuis l'indépendance du pays. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>En 1919, un troisième service de police important a été créé, la police judiciaire près les parquets. Ce dernier s'occupait exclusivement des enquêtes pénales sans intervention dans le maintien de l'ordre public&lt;ref&gt;{{Lien web |langue=fr |auteur=X |titre=Quelques questions de police |url=https://www.jurisquare.be/external/pdf/article.pdf?pdf=DF300032964_RDC.pdf&amp;clientid=d0c101cc34f3b6430134f7ba63ce2ae9&amp;jura=true |format= |site=Jurisquare |périodique=Rev. dr. commun., liv. 4 |date=2004 |page=59}}&lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La loi du 11 février 1986 sur la police communale est venue fixer le statut juridique de la police communale. Face à l’accroissement du taux de criminalité et du sentiment d’insécurité de la population, cette loi a clarifié le rôle crucial joué par la police communale dans la protection des personnes et des biens&lt;ref&gt;{{Ouvrage|langue=fr|auteur1=Didier Batselé|titre=La loi du 11 février 1986 sur la police communale|passage=109|lieu=Bruxelles|éditeur=Editions Nemesis|date=1989|pages totales=134|format livre=Livre|consulté le=28 mai 2023|partie=Annexes}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>L’article 153 de cette même loi disposait que « ''Chaque commune dispose d’un corps de police communal. Ses missions ont un caractère tant de police administrative et préventive que de police judiciaire et répressive'' ».</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Plusieurs initiatives émanant du gouvernement ont amené à associer la police communale à une politique de sécurité locale ayant pour objectif de rapprocher la police des citoyens et d'accroître sa présence dans les espaces publics, d’améliorer les services de soutien, d’intensifier les mesures de prévention&lt;ref&gt;{{Article|langue=fr|auteur1=Lode Van Outrive|titre=La réforme des polices|périodique=Courrier hebdomadaire du CRISP|numéro=1580-1581|date=1997|lire en ligne=https://www.cairn.info/revue-courrier-hebdomadaire-du-crisp-1997-35-page-1.htm?ref=doi|pages=10}}&lt;/ref&gt;'''.''' </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Tout au long du XXe siècle, ces trois services de police (police judiciaire, communale et gendarmerie) ont fonctionné en parallèle, mais se sont souvent chevauchés dans les affaires où chacun prétendait être compétent. Cela a entraîné un certain nombre d'incidents plus ou moins graves, communément appelés la "[[guerre des polices]]"&lt;ref&gt;{{Lien web |titre=Les services de police : petit historique ( avant 2002) |url=https://www.uvcw.be/police/focus/art-2358 |consulté le=11 mai 2023}}&lt;/ref&gt;'''.''' De plus, une circulaire du Ministre fédéral a été proposée en 1992 consacrant la mise en place d'un système de zone interpolice (ZIP). Cette circulaire visait à consolider géographiquement plusieurs services de polices qui étaient autrefois indépendants afin d'améliorer leur collaboration pour l'exécution de diverses taches de police de base&lt;ref&gt;{{Ouvrage|langue=français|auteur1=Frédéric Schoenaers|titre=Comment gérer la police dans une période de changement ?|passage=29|éditeur=Lavoisier|date=2002|lire en ligne=https://www.cairn.info/revue-francaise-de-gestion-2002-3-page-27.htm?contenu=article|consulté le=3 mai 2023}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>En parallèle, [[Affaire Dutroux|L'affaire Dutroux]] ayant eu lieu en 1996 a été l'événement provoquant le plus grand retentissement dans l'opinion publique. Cet événement a précipité et conduit la réforme de la police en 1998. Les erreurs et les problèmes rencontrés lors de l'enquête ont conduit à une refonte totale des services de police du pays, ayant pris la forme d'une loi-cadre; la loi du 7 décembre 1998 organisant un service de police intégrée, structuré à deux niveaux, qui constitue actuellement la base juridique de la police belge&lt;ref&gt;{{Lien web |titre=Les services de police: petit historique (avant 2002) |url=https://www.uvcw.be/police/focus/art-2358}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Le {{date-|1 janvier 2001}}, la police intégrée voit donc le jour. La réforme donne ainsi naissance à la [[Police fédérale (Belgique)|police fédérale]] et à la [[Police locale (Belgique)|police locale]]&lt;ref&gt;{{Lien web |langue=fr |auteur=I. VERHOEVEN |titre=Examen de la tutelle administrative sur les zones de police en Région wallonne |url=https://www-jurisquare-be.usaintlouis.idm.oclc.org/external/pdf/article.pdf?pdf=DF300032969_RDC.pdf&amp;clientid=d0c101cc34f3b6430134f7ba63ce2ae9&amp;jura=true |site=Jura |périodique=Rev. dr. commun. 2004, liv. 4 |lieu=Waterloo |éditeur=Kluwer |page=95-100}}&lt;/ref&gt;. Cette loi a remplacé les divers services de police existants. La fonction remplie par la police locale est la fusion entre les fonctions auparavant attribuées à la police communale et à la brigade de la gendarmerie&lt;ref name=":0"&gt;{{Ouvrage|langue=fr|auteur1=Carrol Tange|titre=La police de proximité|passage=8|lieu=Bruxelles|éditeur=CRISP|numéro dans collection=1691 - 1692|date=2000|lire en ligne=https://www.cairn.info/revue-courrier-hebdomadaire-du-crisp-2000-26-page-1.htm}}&lt;/ref&gt;.  </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{article détaillé|Réforme des polices de Belgique}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{article détaillé|Réforme des polices de Belgique}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== <del class="diffchange diffchange-inline">Organisation</del> ==</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== <ins class="diffchange diffchange-inline">Fonctionnement</ins> ==</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{...}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{...}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>La police communale, au contraire de la Gendarmerie, était dépendante du [[Bourgmestre]] du territoire sur laquelle elle était basée.</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Les services de police communale étaient organisés au niveau de chaque [[commune]] et étaient dirigés par le [[Bourgmestre (Belgique)|bourgmestre]] de la commune, qui était responsable de la sécurité publique sur le territoire communal&lt;ref&gt;{{Lien web |langue=fr |auteur=Francis Delpérée et S. Depré |titre=Système constitutionnel de la Belgique, Le droit public et administratif |url=https://www-stradalex-com.usaintlouis.idm.oclc.org/fr/sl_rn_comm_fr_t14/macrodocument/rn_comm_fr_t14_1401_/rn_comm_fr_t14_1401_00004_ |site=StradaLex |périodique=Rép. not., T. XIV |lieu=Bruxelles |éditeur=Larcier |date=01/01/1998}}&lt;/ref&gt;. En ce compris : "''les routes et chemins des voiries de l'Etat, les ruelles, impasses et passages établis à travers les propriétés privées''"&lt;ref&gt;{{Ouvrage|langue=fr|auteur1=Robert Wilkin|titre=La police communale|passage=17|lieu=Bruxelles|éditeur=Émile Bruylant|date=1951|numéro édition=Seconde édition|pages totales=173|consulté le=10 mai 2023}}&lt;/ref&gt;. Chaque police communale du pays était dotée et sous l’autorité d’un chef de corps&lt;ref name=":0" /&gt;. Il y avait une unité de police communale distincte pour chaque commune. L’article 115 de la loi du 11 février 1986 sur la police communale précise que ce dernier doit porter le grade de commissaire de police en chef ou de garde champêtre en chef. Les polices communales étaient au nombre de 589&lt;ref&gt;{{Lien web |langue=fr |titre=Historique |url=https://www.votrepolice.be/node/47#:~:text=Durant%20de%20nombreuses%20d%C3%A9cennies%2C%20la,gendarmerie%2C%20police%20%C2%ABnationale%C2%BB%20charg%C3%A9e |site=Police de Nivelles - Genappe |date=02/10/2014 |consulté le=5 mai 2023}}&lt;/ref&gt; avec 18.745 policiers communaux&lt;ref&gt;{{Lien web |langue=fr |auteur=Lode Van Outrive |titre=La réforme des polices |url=https://www.cairn.info/revue-courrier-hebdomadaire-du-crisp-1997-35-page-1.htm?contenu=article |site=Cairn |périodique=Courrier hebdomadaire du CRISP |date=05/06/2014 |consulté le=4 mai 2023}}&lt;/ref&gt;. L’article 154 de la loi 11 février 1986 sur la police communale informe d’une division au sein de la police communale comme suit : « ''La police communale fait partie de la force publique ; elle est urbaine ou rurale'' ».</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Il y avait une unité de police communale distincte pour chaque commune.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>&lt;gallery&gt;</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>&lt;gallery&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>File:1989 Jul 21 - Motocyclistes de la police de Bruxelles.JPG|Motocyclistes de la police de Bruxelles défilant devant la tribune royale lors du défilé des troupes et des services civils de secours, place des Palais le 21 juillet 1989 à Bruxelles.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>File:Politiejeep Baarle-Hertog.jpg|Ancien véhicule de la police communale avant la réforme.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>File:Politiejeep Baarle-Hertog.jpg|Ancien véhicule de la police communale avant la réforme.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>File:Politiecombi Gent.JPG|Combi de la police communale de [[Gand]].</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>File:Politiecombi Gent.JPG|Combi de la police communale de [[Gand]].</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Ligne 77 :</td>
  <td colspan="2" class="diff-lineno">Ligne 62 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>&lt;/gallery&gt;</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>&lt;/gallery&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Paragraphe déplacé. Cliquer pour accéder à l’ancien emplacement." href="#movedpara_21_28_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_19_0_rhs"></a>== Grades de la police <ins class="diffchange diffchange-inline">comunale</ins> ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== Compétences et missions ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La police communale relève des compétences de la commune dans l'intérêt de ses habitants. La mission de la commune est d'assurer aux citoyens les avantages d'une bonne police, notamment la sécurité et la tranquillité dans les rues&lt;ref&gt;{{Lien web |langue=fr |auteur=Francis Delpérée et S. Depré |titre=Système constitutionnel de la Belgique, Le droit public et administratif |url=https://www-stradalex-com.usaintlouis.idm.oclc.org/fr/sl_rn_comm_fr_t14/macrodocument/rn_comm_fr_t14_1401_/rn_comm_fr_t14_1401_00004_ |site=StradaLex |périodique=Rép. not., T. XIV |lieu=Bruxelles |éditeur=Larcier |date=01/01/1998}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La police communale en Belgique était une force de police locale qui était chargée de maintenir l'ordre public, de prévenir la criminalité et d'assurer la sécurité des citoyens dans les communes belges&lt;ref&gt;{{Lien web |langue=fr |prénom=Union des Villes et Communes de |nom=Wallonie |titre=La police locale |url=https://www.uvcw.be/police-locale/focus/art-2358 |site=Union des Villes et Communes de Wallonie / Fédération des CPAS |consulté le=2023-05-19}}&lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Le corps de la police communale avait une double fonction : administrative et judiciaire. Ils sont décrits aux articles 14 et 15 de la loi du 5 août 1992 sur la fonction de police&lt;ref&gt;{{Lien web |titre=LOI - WET |url=https://www.ejustice.just.fgov.be/cgi_loi/change_lg.pl?language=fr&amp;la=F&amp;cn=1992080552&amp;table_name=loi |site=www.ejustice.just.fgov.be |consulté le=2023-05-18}}&lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Pour les missions administratives, les policiers communaux devaient veiller à maintenir l’ordre public. Principalement, ils avaient pour tâche de faire respecter les lois et règlements de police, prévenir des infractions et protéger les personnes et les biens. Ils devaient assurer une surveillance générale et contrôler des lieux (qui leur étaient accessibles) afin de porter assistance aux personnes en danger. Également, ils devaient transmettre aux autorités compétentes le compte rendu et les renseignements de leurs missions. En tant que police administrative, ils devaient exécuter des mesures de police administrative et prendre des mesures matérielles de police administrative&lt;ref&gt;Loi du 5 août 1992 sur la fonction de police, ''M.B.,'' art. 14. &lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Pour les missions de police judiciaire, voici les quatre missions qu’ils avaient :</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>“''1° rechercher les crimes, les délits et les contraventions, en rassembler les preuves, en donner connaissance aux autorités compétentes, en saisir, arrêter et mettre à la disposition de l'autorité compétente les auteurs, de la manière et dans les formes déterminées par la loi;''</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''2° rechercher les personnes dont la privation de liberté est prévue par la loi, s’en saisir, les arrêter et les mettre à la disposition des autorités compétentes;''</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''3° rechercher, saisir et mettre à la disposition de l'autorité compétente les objets dont la saisie est prescrite;''</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''4° transmettre aux autorités compétentes le compte rendu de leurs missions ainsi que les renseignements recueillis à cette occasion''.”&lt;ref&gt;Loi du 5 août 1992 sur la fonction de police, ''M.B.,'' art. 15.&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Ils étaient également compétents pour contrôler l'identité de certaines personnes, "''s'ils ont des motifs raisonnables de croire, en fonction de son comportement, d'indices matériels ou de circonstances de temps et de lieu, qu'elle est recherchée, qu'elle a tenté de commettre une infraction ou se prépare à la commettre, qu'elle pourrait troubler l'ordre public ou qu'elle l'a troublé''"&lt;ref&gt;Loi du 5 août 1992 sur la fonction de police, ''M.B.,'' art. 34.&lt;/ref&gt;''',''' d'autres conditions sont réservées dans l'article 34 de la loi du 5 août 1992 sur la fonction de police. De plus, ils pouvaient (dans leur mission de police administrative) procéder à des fouilles de personnes ou de véhicules ainsi que faire des saisies administratives et des arrestations administratives de 12h maximum, selon les articles 27, 28 et 34 de la loi du 5 août 1992 sur la fonction de police. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La police communale était également chargée de la coordination des plans de sécurité locaux et de la gestion des situations d'urgence dans les communes&lt;ref&gt;{{Lien web |langue=fr |prénom=Union des Villes et Communes de |nom=Wallonie |titre=La police locale |url=https://www.uvcw.be/police-locale/focus/art-2358 |site=Union des Villes et Communes de Wallonie / Fédération des CPAS |consulté le=2023-05-19}}&lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Enfin, il est important de noter que la police communale belge avait un rôle important dans la prévention de la criminalité et dans la promotion de la [[Prévention et sécurité routières|sécurité routière]]&lt;ref&gt;{{Lien web |titre=Police intégrée: Présentation |url=https://www.police.be/5998/fr/a-propos/police-integree/presentation |consulté le=12 mai 2023}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''Ratione temporis'' : Les membres de la police communale (urbaine et rurale) pouvaient exercer leurs compétences en tant que policier communal à partir de leur prestation de serment ainsi que durant la période de leur nomination&lt;ref&gt;{{Ouvrage|langue=fr|auteur1=Didier Batselé|titre=La loi du 11 février 1986 sur la police communale|passage=40|lieu=Bruxelles|éditeur=Editions Nemesis|date=1989|pages totales=134}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''Ratione loci'' : Les policiers urbains avaient des compétences étendues sur l'ensemble du territoire de la commune où ils étaient nommés et les policiers ruraux étaient compétents sur le territoire où ils étaient "assermentés", donc le territoire de la commune&lt;ref&gt;{{Ouvrage|langue=fr|auteur1=Didier Batselé|titre=La loi du 11 février 1986 sur la police communale|passage=40|lieu=Bruxelles|éditeur=Editions Nemesis|date=1989|pages totales=134}}&lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Paragraphe déplacé. Cliquer pour accéder au nouvel emplacement." href="#movedpara_19_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_21_28_lhs"></a>== Grades de la police <del class="diffchange diffchange-inline">communale</del> ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Les grades de la police communale étaient les suivants:</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Les grades de la police communale étaient les suivants:</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* Auxiliaire de Police;</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* Auxiliaire de Police;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Ligne 122 :</td>
  <td colspan="2" class="diff-lineno">Ligne 78 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* Commissaire en Chef (dans les communes où il y avait plusieurs commissaires)</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* Commissaire en Chef (dans les communes où il y avait plusieurs commissaires)</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Paragraphe déplacé. Cliquer pour accéder à l’ancien emplacement." href="#movedpara_27_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_23_0_rhs"></a>{{Palette|Services urgents à la population en Belgique}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== Pouvoirs ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La police communale était armée. L’utilisation de leurs armes était limitée à la [[légitime défense]] et en cas d’absolue nécessité. Les armes autorisées à l’utilisation étaient les [[Arme blanche|armes blanches]] et [[Arme à feu|armes à feu]]. Les conditions d’utilisation d’armes étaient en cas d’actes de violences exercées contre eux et “''lorsqu’ils ne peuvent défendre autrement le terrain qu’ils occupent, les postes ou les personnes ainsi que les fonds, documents, armes, substances ou produits dangereux qui sont confiés à leur protection''.”&lt;ref&gt;Loi du 11 février 1986, ''M.B.,'' art. 170 et 171. &lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Ils pouvaient également avoir recours à la violence mais de manière "''raisonnable et proportionnée à l'objectif poursuivi"'' et dans des cas où ils n'avaient pas d'autres solutions pour atteindre leur but qui devait être légitime&lt;ref&gt;{{Lien web |langue=fr-FR |titre=Les polices municipales |url=https://www.senat.fr/lc/lc38/lc38.html |site=Sénat |date=2023-04-03 |consulté le=2023-05-18}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== Images ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>&lt;gallery&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Logo-police-communale-Gemeentepolitie.jpg|vignette|Logo de la police communale.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Ancien commissariat de la police communale de Nalinnes.jpg|Ancien commissariat de la police communale de [[Nalinnes]].</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Fête nationale belge à Bruxelles le 21 juillet 2016 02 - Casques de maintien de l'ordre de l'ancienne police communale lors du village policier.jpg|Casques de l'ancienne police communale</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Police communale .jpeg|Uniforme de la police communale.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>&lt;/gallery&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== Notes et références ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>&lt;references /&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== Bibliographie ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*BATSELÉ, D., "La loi du 11 février 1986 sur la police communale", Bruxelles, Éditions Nemesis, 1989. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*DELPÉRÉE, F., et DEPRÉ, S., "Système constitutionnel de la Belgique", ''Le droit public et administratif'', ''Rép. not.'', T XIV, Bruxelles, Larcier, 1998. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*KEUNINGS, L., ''et. al.'', "L'évolution de l'appareil policier en Belgique (1830-2002)", Brugge, La Charte, 2004.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*SCHOENAERS, F., "Comment gérer la police dans une période de changement ?", Lavoisier, 2002. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*TANGE, C., "La police de proximité", ''Courrier hebdomadaire du CRISP,'' n° 1691 - 1692, Bruxelles, 2000. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*VAN OUTRIVE, L., "La réforme des polices", ''Courier hebdomadaires du CRISP'', n° 1580-1581, Bruxelles, CRISP, 1997.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*VERHOEVEN, I., « Examen de la tutelle administrative sur les zones de police en Région wallonne », ''Rev. dr. commun.,'' liv. 4, Waterloo, Kluwer, 2004.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*WILKIN, R., "La police communale", Bruxelles, Bruylant, 1951. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*X., "Quelques questions de police", ''Rev. dr. commun.'', liv 4, 2004. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*"Les polices municipales", sur ''Sénat.'' Consultable sur https://www.senat.fr/lc/lc38/lc38.html</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*"Présentation | Police Fédérale », sur ''Police fédérale.'' Consultable sur https://www.police.be/5998/fr/a-propos/police-integree/presentation</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*"La police locale", sur ''Union des Villes et'' ''Communes de Wallonie'' / ''Fédération des CPAS.'' Consultable sur https://www.uvcw.be/police-locale/focus/art-2358</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*"Historique", sur ''Police de Nivelles - Genappe''. Consultable sur https://www.votrepolice.be/node/47#:~:text=Durant%20de%20nombreuses%20d%C3%A9cennies%2C%20la,gendarmerie%2C%20police%20%C2%ABnationale%C2%BB%20charg%C3%A9e</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*Loi du 5 aout 1992 sur la fonction de police, ''M.B.,'' https://www.ejustice.just.fgov.be/cgi_loi/change_lg.pl?language=fr&amp;la=F&amp;cn=1992080552&amp;table_name=loi&lt;nowiki/&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Portail|police|Belgique}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Portail|police|Belgique}}</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Paragraphe déplacé. Cliquer pour accéder au nouvel emplacement." href="#movedpara_23_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_27_0_lhs"></a>{{Palette|Services urgents à la population en Belgique}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Catégorie:Police en Belgique]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Catégorie:Police en Belgique]]</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 40</td>
  <td colspan="2" class="diff-lineno">Line 40</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> | date de mise à jour        = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> | date de mise à jour        = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La '''Police Communale''' (en [[néerlandais]]: ''Gemeentepolitie'') en [[Belgique]], est un ancien corps de police. <del class="diffchange diffchange-inline">Pendant un grand nombre de décennies, trois forces de sécurité intérieure coexistaient en Belgique: la [[Police judiciaire (Belgique)|police judiciaire]], la [[Gendarmerie (Belgique)|gendarmerie]] et la police communale&lt;ref&gt;{{Lien web |langue=fr-FR |titre=Les polices municipales |url=https://www.senat.fr/lc/lc38/lc38.html |site=Sénat |date=2023-04-03 |consulté le=2023-05-18}}&lt;/ref&gt;. La police communale</del> a fusionné le {{date-|1 janvier 2001}} avec la [[Gendarmerie nationale (Belgique)|<del class="diffchange diffchange-inline">gendarmerie</del>]], à la suite de la [[Réforme des polices de Belgique|réforme des polices]], pour constituer<del class="diffchange diffchange-inline"> ce qu'on appelle aujourd'hui</del> la [[Police belge|police intégrée]]<del class="diffchange diffchange-inline">&lt;ref&gt;{{Lien web |langue=fr |titre=Présentation {{!}} Police Fédérale |url=https://www.police.be/5998/fr/a-propos/police-integree/presentation |site=www.police.be |date=2023-04-21 |consulté le=2023-05-19}}&lt;/ref&gt;. La police communale était compétente pour les communes</del>.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>La '''Police Communale'''<ins class="diffchange diffchange-inline">,</ins> (en [[néerlandais]]<ins class="diffchange diffchange-inline"> </ins>: ''Gemeentepolitie'')<ins class="diffchange diffchange-inline">,</ins> en [[Belgique]], est un ancien corps de police. <ins class="diffchange diffchange-inline">Il</ins> a fusionné le {{date-|1 janvier 2001}} avec la [[Gendarmerie nationale (Belgique)|<ins class="diffchange diffchange-inline">Gendarmerie</ins>]], à la suite de la [[Réforme des polices de Belgique|réforme des polices]], pour constituer la [[Police belge|police intégrée]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Histoire ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Histoire ==</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{...}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{...}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Avant 2001, il existait en Belgique trois grand corps de police, la Police Communale, la Police Judiciaire et la Gendarmerie.</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Avant l'adoption de la [[Réforme des polices de Belgique|réforme des polices]] en 1998, qui a été promulguée en loi et mise en œuvre sur le terrain en 2001, le système policier belge était relativement morcelé. Les services de police générale, comprenant la police communale, la gendarmerie et la police judiciaire, coexistaient avec des services de police spécialisés tels que la police aéronautique, maritime et ferroviaire&lt;ref&gt;{{Lien web |langue=fr |prénom=Union des Villes et Communes de |nom=Wallonie |titre=La police locale |url=https://www.uvcw.be/police-locale/focus/art-2358 |site=Union des Villes et Communes de Wallonie / Fédération des CPAS |consulté le=2023-05-19}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>À la suite des nombreux dysfonctionnement policiers et judiciaires, mis en avant par l'[[Affaire Dutroux]] en [[1996]], la décision est prise de réformer ces différents corps pour n'en former plus qu'un, celui qui est actuellement connu.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Le {{date-|1 janvier 2001}}, la police intégrée, structurée à deux niveaux voit le jour. La réforme donne naissance à la police fédérale et à la police locale. C'est cette dernière qui endossera la majorité des fonctions initialement remplies par la police communale.</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Depuis le début du XIXe siècle, l'organisation de la police reposait principalement sur le pouvoir de police administrative communale, avec un rôle central dévolu au bourgmestre. Les forces de police communale, employées par chaque commune du pays, étaient chargées du maintien de l'ordre public&lt;ref&gt;{{Lien web |langue=fr |auteur=Francis Delpérée et S. Depré |titre=Système constitutionnel de la Belgique, Le droit public et administratif |url=https://www-stradalex-com.usaintlouis.idm.oclc.org/fr/sl_rn_comm_fr_t14/macrodocument/rn_comm_fr_t14_1401_/rn_comm_fr_t14_1401_00004_ |site=StradaLex |périodique=Rép. not., T. XIV |lieu=Bruxelles |éditeur=Larcier |date=1/01/1998}}&lt;/ref&gt; et des enquêtes pénales sur leur territoire respectif. À ce moment-là, aucune disposition relative à la police communale ne figurait dans la [[Constitution de la Belgique|Constitution]] ce qui traduisait d’une organisation superficielle de celle-ci&lt;ref&gt;{{Article|langue=Français|auteur1=Lode Van Outrive|titre=La réforme des polices|périodique=Courrier hebdomadaire du CRISP|numéro=1580-1581|date=1997|issn=0008-9664|issn2=1782-141X|doi=10.3917/cris.1580.0001|lire en ligne=http://dx.doi.org/10.3917/cris.1580.0001|consulté le=2023-05-18|pages=1}}&lt;/ref&gt;. En effet, la police communale se caractérisait par sa fragmentation en plusieurs corps de police et l'absence d'unification&lt;ref&gt;{{Ouvrage|langue=fr|auteur1=Luc Keunings|et al.=oui|titre=L’évolution de l’appareil policier en Belgique (1830-2002)|passage=311|lieu=Brugge|éditeur=La Charte|date=2004|format électronique=file:///Users/ninwekanoun/Downloads/Keunings%20et%20al_2004_L%E2%80%99%C3%A9volution%20de%20l%E2%80%99appareil%20policier%20en%20Belgique%20(1830-2002).pdf|consulté le=13 mai 2023}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Parallèlement, la gendarmerie, en tant que service de police relevant de l'État, était une autre grande force de maintien de l'ordre depuis l'indépendance du pays. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>En 1919, un troisième service de police important a été créé, la police judiciaire près les parquets. Ce dernier s'occupait exclusivement des enquêtes pénales sans intervention dans le maintien de l'ordre public&lt;ref&gt;{{Lien web |langue=fr |auteur=X |titre=Quelques questions de police |url=https://www.jurisquare.be/external/pdf/article.pdf?pdf=DF300032964_RDC.pdf&amp;clientid=d0c101cc34f3b6430134f7ba63ce2ae9&amp;jura=true |format= |site=Jurisquare |périodique=Rev. dr. commun., liv. 4 |date=2004 |page=59}}&lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La loi du 11 février 1986 sur la police communale est venue fixer le statut juridique de la police communale. Face à l’accroissement du taux de criminalité et du sentiment d’insécurité de la population, cette loi a clarifié le rôle crucial joué par la police communale dans la protection des personnes et des biens&lt;ref&gt;{{Ouvrage|langue=fr|auteur1=Didier Batselé|titre=La loi du 11 février 1986 sur la police communale|passage=109|lieu=Bruxelles|éditeur=Editions Nemesis|date=1989|pages totales=134|format livre=Livre|consulté le=28 mai 2023|partie=Annexes}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>L’article 153 de cette même loi disposait que « ''Chaque commune dispose d’un corps de police communal. Ses missions ont un caractère tant de police administrative et préventive que de police judiciaire et répressive'' ».</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Plusieurs initiatives émanant du gouvernement ont amené à associer la police communale à une politique de sécurité locale ayant pour objectif de rapprocher la police des citoyens et d'accroître sa présence dans les espaces publics, d’améliorer les services de soutien, d’intensifier les mesures de prévention&lt;ref&gt;{{Article|langue=fr|auteur1=Lode Van Outrive|titre=La réforme des polices|périodique=Courrier hebdomadaire du CRISP|numéro=1580-1581|date=1997|lire en ligne=https://www.cairn.info/revue-courrier-hebdomadaire-du-crisp-1997-35-page-1.htm?ref=doi|pages=10}}&lt;/ref&gt;'''.''' </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Tout au long du XXe siècle, ces trois services de police (police judiciaire, communale et gendarmerie) ont fonctionné en parallèle, mais se sont souvent chevauchés dans les affaires où chacun prétendait être compétent. Cela a entraîné un certain nombre d'incidents plus ou moins graves, communément appelés la "[[guerre des polices]]"&lt;ref&gt;{{Lien web |titre=Les services de police : petit historique ( avant 2002) |url=https://www.uvcw.be/police/focus/art-2358 |consulté le=11 mai 2023}}&lt;/ref&gt;'''.''' De plus, une circulaire du Ministre fédéral a été proposée en 1992 consacrant la mise en place d'un système de zone interpolice (ZIP). Cette circulaire visait à consolider géographiquement plusieurs services de polices qui étaient autrefois indépendants afin d'améliorer leur collaboration pour l'exécution de diverses taches de police de base&lt;ref&gt;{{Ouvrage|langue=français|auteur1=Frédéric Schoenaers|titre=Comment gérer la police dans une période de changement ?|passage=29|éditeur=Lavoisier|date=2002|lire en ligne=https://www.cairn.info/revue-francaise-de-gestion-2002-3-page-27.htm?contenu=article|consulté le=3 mai 2023}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>En parallèle, [[Affaire Dutroux|L'affaire Dutroux]] ayant eu lieu en 1996 a été l'événement provoquant le plus grand retentissement dans l'opinion publique. Cet événement a précipité et conduit la réforme de la police en 1998. Les erreurs et les problèmes rencontrés lors de l'enquête ont conduit à une refonte totale des services de police du pays, ayant pris la forme d'une loi-cadre; la loi du 7 décembre 1998 organisant un service de police intégrée, structuré à deux niveaux, qui constitue actuellement la base juridique de la police belge&lt;ref&gt;{{Lien web |titre=Les services de police: petit historique (avant 2002) |url=https://www.uvcw.be/police/focus/art-2358}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Le {{date-|1 janvier 2001}}, la police intégrée voit donc le jour. La réforme donne ainsi naissance à la [[Police fédérale (Belgique)|police fédérale]] et à la [[Police locale (Belgique)|police locale]]&lt;ref&gt;{{Lien web |langue=fr |auteur=I. VERHOEVEN |titre=Examen de la tutelle administrative sur les zones de police en Région wallonne |url=https://www-jurisquare-be.usaintlouis.idm.oclc.org/external/pdf/article.pdf?pdf=DF300032969_RDC.pdf&amp;clientid=d0c101cc34f3b6430134f7ba63ce2ae9&amp;jura=true |site=Jura |périodique=Rev. dr. commun. 2004, liv. 4 |lieu=Waterloo |éditeur=Kluwer |page=95-100}}&lt;/ref&gt;. Cette loi a remplacé les divers services de police existants. La fonction remplie par la police locale est la fusion entre les fonctions auparavant attribuées à la police communale et à la brigade de la gendarmerie&lt;ref name=":0"&gt;{{Ouvrage|langue=fr|auteur1=Carrol Tange|titre=La police de proximité|passage=8|lieu=Bruxelles|éditeur=CRISP|numéro dans collection=1691 - 1692|date=2000|lire en ligne=https://www.cairn.info/revue-courrier-hebdomadaire-du-crisp-2000-26-page-1.htm}}&lt;/ref&gt;.  </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{article détaillé|Réforme des polices de Belgique}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{article détaillé|Réforme des polices de Belgique}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== <del class="diffchange diffchange-inline">Organisation</del> ==</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== <ins class="diffchange diffchange-inline">Fonctionnement</ins> ==</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{...}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{...}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>La police communale, au contraire de la Gendarmerie, était dépendante du [[Bourgmestre]] du territoire sur laquelle elle était basée.</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Les services de police communale étaient organisés au niveau de chaque [[commune]] et étaient dirigés par le [[Bourgmestre (Belgique)|bourgmestre]] de la commune, qui était responsable de la sécurité publique sur le territoire communal&lt;ref&gt;{{Lien web |langue=fr |auteur=Francis Delpérée et S. Depré |titre=Système constitutionnel de la Belgique, Le droit public et administratif |url=https://www-stradalex-com.usaintlouis.idm.oclc.org/fr/sl_rn_comm_fr_t14/macrodocument/rn_comm_fr_t14_1401_/rn_comm_fr_t14_1401_00004_ |site=StradaLex |périodique=Rép. not., T. XIV |lieu=Bruxelles |éditeur=Larcier |date=01/01/1998}}&lt;/ref&gt;. En ce compris : "''les routes et chemins des voiries de l'Etat, les ruelles, impasses et passages établis à travers les propriétés privées''"&lt;ref&gt;{{Ouvrage|langue=fr|auteur1=Robert Wilkin|titre=La police communale|passage=17|lieu=Bruxelles|éditeur=Émile Bruylant|date=1951|numéro édition=Seconde édition|pages totales=173|consulté le=10 mai 2023}}&lt;/ref&gt;. Chaque police communale du pays était dotée et sous l’autorité d’un chef de corps&lt;ref name=":0" /&gt;. Il y avait une unité de police communale distincte pour chaque commune. L’article 115 de la loi du 11 février 1986 sur la police communale précise que ce dernier doit porter le grade de commissaire de police en chef ou de garde champêtre en chef. Les polices communales étaient au nombre de 589&lt;ref&gt;{{Lien web |langue=fr |titre=Historique |url=https://www.votrepolice.be/node/47#:~:text=Durant%20de%20nombreuses%20d%C3%A9cennies%2C%20la,gendarmerie%2C%20police%20%C2%ABnationale%C2%BB%20charg%C3%A9e |site=Police de Nivelles - Genappe |date=02/10/2014 |consulté le=5 mai 2023}}&lt;/ref&gt; avec 18.745 policiers communaux&lt;ref&gt;{{Lien web |langue=fr |auteur=Lode Van Outrive |titre=La réforme des polices |url=https://www.cairn.info/revue-courrier-hebdomadaire-du-crisp-1997-35-page-1.htm?contenu=article |site=Cairn |périodique=Courrier hebdomadaire du CRISP |date=05/06/2014 |consulté le=4 mai 2023}}&lt;/ref&gt;. L’article 154 de la loi 11 février 1986 sur la police communale informe d’une division au sein de la police communale comme suit : « ''La police communale fait partie de la force publique ; elle est urbaine ou rurale'' ».</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Il y avait une unité de police communale distincte pour chaque commune.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>&lt;gallery&gt;</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>&lt;gallery&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>File:1989 Jul 21 - Motocyclistes de la police de Bruxelles.JPG|Motocyclistes de la police de Bruxelles défilant devant la tribune royale lors du défilé des troupes et des services civils de secours, place des Palais le 21 juillet 1989 à Bruxelles.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>File:Politiejeep Baarle-Hertog.jpg|Ancien véhicule de la police communale avant la réforme.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>File:Politiejeep Baarle-Hertog.jpg|Ancien véhicule de la police communale avant la réforme.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>File:Politiecombi Gent.JPG|Combi de la police communale de [[Gand]].</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>File:Politiecombi Gent.JPG|Combi de la police communale de [[Gand]].</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 77</td>
  <td colspan="2" class="diff-lineno">Line 62</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>&lt;/gallery&gt;</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>&lt;/gallery&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== <del class="diffchange diffchange-inline">Compétences</del> <del class="diffchange diffchange-inline">et</del> <del class="diffchange diffchange-inline">missions</del> ==</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== <ins class="diffchange diffchange-inline">Grades</ins> <ins class="diffchange diffchange-inline">de</ins> <ins class="diffchange diffchange-inline">la police comunale</ins> ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La police communale relève des compétences de la commune dans l'intérêt de ses habitants. La mission de la commune est d'assurer aux citoyens les avantages d'une bonne police, notamment la sécurité et la tranquillité dans les rues&lt;ref&gt;{{Lien web |langue=fr |auteur=Francis Delpérée et S. Depré |titre=Système constitutionnel de la Belgique, Le droit public et administratif |url=https://www-stradalex-com.usaintlouis.idm.oclc.org/fr/sl_rn_comm_fr_t14/macrodocument/rn_comm_fr_t14_1401_/rn_comm_fr_t14_1401_00004_ |site=StradaLex |périodique=Rép. not., T. XIV |lieu=Bruxelles |éditeur=Larcier |date=01/01/1998}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La police communale en Belgique était une force de police locale qui était chargée de maintenir l'ordre public, de prévenir la criminalité et d'assurer la sécurité des citoyens dans les communes belges&lt;ref&gt;{{Lien web |langue=fr |prénom=Union des Villes et Communes de |nom=Wallonie |titre=La police locale |url=https://www.uvcw.be/police-locale/focus/art-2358 |site=Union des Villes et Communes de Wallonie / Fédération des CPAS |consulté le=2023-05-19}}&lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Le corps de la police communale avait une double fonction : administrative et judiciaire. Ils sont décrits aux articles 14 et 15 de la loi du 5 août 1992 sur la fonction de police&lt;ref&gt;{{Lien web |titre=LOI - WET |url=https://www.ejustice.just.fgov.be/cgi_loi/change_lg.pl?language=fr&amp;la=F&amp;cn=1992080552&amp;table_name=loi |site=www.ejustice.just.fgov.be |consulté le=2023-05-18}}&lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Pour les missions administratives, les policiers communaux devaient veiller à maintenir l’ordre public. Principalement, ils avaient pour tâche de faire respecter les lois et règlements de police, prévenir des infractions et protéger les personnes et les biens. Ils devaient assurer une surveillance générale et contrôler des lieux (qui leur étaient accessibles) afin de porter assistance aux personnes en danger. Également, ils devaient transmettre aux autorités compétentes le compte rendu et les renseignements de leurs missions. En tant que police administrative, ils devaient exécuter des mesures de police administrative et prendre des mesures matérielles de police administrative&lt;ref&gt;Loi du 5 août 1992 sur la fonction de police, ''M.B.,'' art. 14. &lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Pour les missions de police judiciaire, voici les quatre missions qu’ils avaient :</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>“''1° rechercher les crimes, les délits et les contraventions, en rassembler les preuves, en donner connaissance aux autorités compétentes, en saisir, arrêter et mettre à la disposition de l'autorité compétente les auteurs, de la manière et dans les formes déterminées par la loi;''</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''2° rechercher les personnes dont la privation de liberté est prévue par la loi, s’en saisir, les arrêter et les mettre à la disposition des autorités compétentes;''</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''3° rechercher, saisir et mettre à la disposition de l'autorité compétente les objets dont la saisie est prescrite;''</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''4° transmettre aux autorités compétentes le compte rendu de leurs missions ainsi que les renseignements recueillis à cette occasion''.”&lt;ref&gt;Loi du 5 août 1992 sur la fonction de police, ''M.B.,'' art. 15.&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Ils étaient également compétents pour contrôler l'identité de certaines personnes, "''s'ils ont des motifs raisonnables de croire, en fonction de son comportement, d'indices matériels ou de circonstances de temps et de lieu, qu'elle est recherchée, qu'elle a tenté de commettre une infraction ou se prépare à la commettre, qu'elle pourrait troubler l'ordre public ou qu'elle l'a troublé''"&lt;ref&gt;Loi du 5 août 1992 sur la fonction de police, ''M.B.,'' art. 34.&lt;/ref&gt;''',''' d'autres conditions sont réservées dans l'article 34 de la loi du 5 août 1992 sur la fonction de police. De plus, ils pouvaient (dans leur mission de police administrative) procéder à des fouilles de personnes ou de véhicules ainsi que faire des saisies administratives et des arrestations administratives de 12h maximum, selon les articles 27, 28 et 34 de la loi du 5 août 1992 sur la fonction de police. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La police communale était également chargée de la coordination des plans de sécurité locaux et de la gestion des situations d'urgence dans les communes&lt;ref&gt;{{Lien web |langue=fr |prénom=Union des Villes et Communes de |nom=Wallonie |titre=La police locale |url=https://www.uvcw.be/police-locale/focus/art-2358 |site=Union des Villes et Communes de Wallonie / Fédération des CPAS |consulté le=2023-05-19}}&lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Enfin, il est important de noter que la police communale belge avait un rôle important dans la prévention de la criminalité et dans la promotion de la [[Prévention et sécurité routières|sécurité routière]]&lt;ref&gt;{{Lien web |titre=Police intégrée: Présentation |url=https://www.police.be/5998/fr/a-propos/police-integree/presentation |consulté le=12 mai 2023}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''Ratione temporis'' : Les membres de la police communale (urbaine et rurale) pouvaient exercer leurs compétences en tant que policier communal à partir de leur prestation de serment ainsi que durant la période de leur nomination&lt;ref&gt;{{Ouvrage|langue=fr|auteur1=Didier Batselé|titre=La loi du 11 février 1986 sur la police communale|passage=40|lieu=Bruxelles|éditeur=Editions Nemesis|date=1989|pages totales=134}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''Ratione loci'' : Les policiers urbains avaient des compétences étendues sur l'ensemble du territoire de la commune où ils étaient nommés et les policiers ruraux étaient compétents sur le territoire où ils étaient "assermentés", donc le territoire de la commune&lt;ref&gt;{{Ouvrage|langue=fr|auteur1=Didier Batselé|titre=La loi du 11 février 1986 sur la police communale|passage=40|lieu=Bruxelles|éditeur=Editions Nemesis|date=1989|pages totales=134}}&lt;/ref&gt;. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== Grades de la police communale ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Les grades de la police communale étaient les suivants:</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Les grades de la police communale étaient les suivants:</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* Auxiliaire de Police;</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* Auxiliaire de Police;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 122</td>
  <td colspan="2" class="diff-lineno">Line 78</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* Commissaire en Chef (dans les communes où il y avait plusieurs commissaires)</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* Commissaire en Chef (dans les communes où il y avait plusieurs commissaires)</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_26_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_22_0_rhs"></a>{{Palette|Services urgents à la population en Belgique}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== Pouvoirs ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La police communale était armée. L’utilisation de leurs armes était limitée à la [[légitime défense]] et en cas d’absolue nécessité. Les armes autorisées à l’utilisation étaient les [[Arme blanche|armes blanches]] et [[Arme à feu|armes à feu]]. Les conditions d’utilisation d’armes étaient en cas d’actes de violences exercées contre eux et “''lorsqu’ils ne peuvent défendre autrement le terrain qu’ils occupent, les postes ou les personnes ainsi que les fonds, documents, armes, substances ou produits dangereux qui sont confiés à leur protection''.”&lt;ref&gt;Loi du 11 février 1986, ''M.B.,'' art. 170 et 171. &lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Ils pouvaient également avoir recours à la violence mais de manière "''raisonnable et proportionnée à l'objectif poursuivi"'' et dans des cas où ils n'avaient pas d'autres solutions pour atteindre leur but qui devait être légitime&lt;ref&gt;{{Lien web |langue=fr-FR |titre=Les polices municipales |url=https://www.senat.fr/lc/lc38/lc38.html |site=Sénat |date=2023-04-03 |consulté le=2023-05-18}}&lt;/ref&gt;.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== Images ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>&lt;gallery&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Logo-police-communale-Gemeentepolitie.jpg|vignette|Logo de la police communale.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Ancien commissariat de la police communale de Nalinnes.jpg|Ancien commissariat de la police communale de [[Nalinnes]].</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Fête nationale belge à Bruxelles le 21 juillet 2016 02 - Casques de maintien de l'ordre de l'ancienne police communale lors du village policier.jpg|Casques de l'ancienne police communale</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Police communale .jpeg|Uniforme de la police communale.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>&lt;/gallery&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== Notes et références ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>&lt;references /&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== Bibliographie ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*BATSELÉ, D., "La loi du 11 février 1986 sur la police communale", Bruxelles, Éditions Nemesis, 1989. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*DELPÉRÉE, F., et DEPRÉ, S., "Système constitutionnel de la Belgique", ''Le droit public et administratif'', ''Rép. not.'', T XIV, Bruxelles, Larcier, 1998. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*KEUNINGS, L., ''et. al.'', "L'évolution de l'appareil policier en Belgique (1830-2002)", Brugge, La Charte, 2004.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*SCHOENAERS, F., "Comment gérer la police dans une période de changement ?", Lavoisier, 2002. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*TANGE, C., "La police de proximité", ''Courrier hebdomadaire du CRISP,'' n° 1691 - 1692, Bruxelles, 2000. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*VAN OUTRIVE, L., "La réforme des polices", ''Courier hebdomadaires du CRISP'', n° 1580-1581, Bruxelles, CRISP, 1997.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*VERHOEVEN, I., « Examen de la tutelle administrative sur les zones de police en Région wallonne », ''Rev. dr. commun.,'' liv. 4, Waterloo, Kluwer, 2004.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*WILKIN, R., "La police communale", Bruxelles, Bruylant, 1951. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*X., "Quelques questions de police", ''Rev. dr. commun.'', liv 4, 2004. </div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*"Les polices municipales", sur ''Sénat.'' Consultable sur https://www.senat.fr/lc/lc38/lc38.html</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*"Présentation | Police Fédérale », sur ''Police fédérale.'' Consultable sur https://www.police.be/5998/fr/a-propos/police-integree/presentation</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*"La police locale", sur ''Union des Villes et'' ''Communes de Wallonie'' / ''Fédération des CPAS.'' Consultable sur https://www.uvcw.be/police-locale/focus/art-2358</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*"Historique", sur ''Police de Nivelles - Genappe''. Consultable sur https://www.votrepolice.be/node/47#:~:text=Durant%20de%20nombreuses%20d%C3%A9cennies%2C%20la,gendarmerie%2C%20police%20%C2%ABnationale%C2%BB%20charg%C3%A9e</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*Loi du 5 aout 1992 sur la fonction de police, ''M.B.,'' https://www.ejustice.just.fgov.be/cgi_loi/change_lg.pl?language=fr&amp;la=F&amp;cn=1992080552&amp;table_name=loi&lt;nowiki/&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Portail|police|Belgique}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Portail|police|Belgique}}</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_22_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_26_0_lhs"></a>{{Palette|Services urgents à la population en Belgique}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Catégorie:Police en Belgique]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Catégorie:Police en Belgique]]</div></td>
</tr>
</tbody></table>
</body></html>
