<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 68870 to 108587</h1><h2>Existing two-column diff</h2><a href="https://cs.wikiquote.org/w/index.php?title=Allen Ginsberg&oldid=68870&diff=108587">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://cs.wikiquote.org/w/index.php?title=Allen Ginsberg&oldid=68870">68870</a></href></td><td colspan=2><a href="https://cs.wikiquote.org/w/index.php?title=Allen Ginsberg&oldid=108587">108587</a></tr><tr>
  <td colspan="2" class="diff-lineno">Řádek 1:</td>
  <td colspan="2" class="diff-lineno">Řádek 1:</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[Soubor:Allen Ginsberg und Peter Orlowski ArM.jpg|<del class="diffchange diffchange-inline">thumb</del>|[[Allen Ginsberg]] a [[Peter Orlowski]]]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Soubor:Allen Ginsberg und Peter Orlowski ArM.jpg|<ins class="diffchange diffchange-inline">náhled</ins>|[[Allen Ginsberg]] a [[Peter Orlowski]]]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''{{Cizojazyčně|en|Irwin Allen Ginsberg}}''' (3.&amp;nbsp;června 1926, {{Cizojazyčně|en|Paterson}}, Spojené státy americké – 5.&amp;nbsp;dubna 1997, {{Cizojazyčně|en|New York}}, Spojené státy americké) byl americký básník, jedna z<del class="diffchange diffchange-inline"> </del>vůdčích osobností beatnické generace.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''{{Cizojazyčně|en|Irwin Allen Ginsberg}}''' (3.&amp;nbsp;června 1926, {{Cizojazyčně|en|Paterson}}, Spojené státy americké – 5.&amp;nbsp;dubna 1997, {{Cizojazyčně|en|New York}}, Spojené státy americké) byl americký básník, jedna z<ins class="diffchange diffchange-inline">&amp;nbsp;</ins>vůdčích osobností beatnické generace.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Výroky ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>----</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_9_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_0_rhs"></a>* Dokud jsem tady, budu dělat svoji [[<ins class="diffchange diffchange-inline">Práce</ins>|práci]]. Jakou <ins class="diffchange diffchange-inline">[[Práce|</ins>práci<ins class="diffchange diffchange-inline">]]</ins>? Ulehčovat [[bolest]] [[život]]a. Všechno <ins class="diffchange diffchange-inline">[[</ins>ostatní<ins class="diffchange diffchange-inline">]]</ins> je opilecký <ins class="diffchange diffchange-inline">[[</ins>blábol<ins class="diffchange diffchange-inline">]]</ins>.&lt;ref&gt;[http://www.pwf.cz/archivy/texty/rozhovory/ed-sanders-v-rozhovoru-s-michaelem-marchem_559.html Ed Sanders na pwf.cz]&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_11_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_1_rhs"></a>* <ins class="diffchange diffchange-inline">[[Věc]]i</ins> jsou [[symbol]]y sama sebe.&lt;br /&gt;''{{Cizojazyčně|en|Things are symbols of themselves.}}''&lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="the-work-of" /&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_40_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_8_0_rhs"></a>== Reference ==</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_6_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_9_0_lhs"></a>* Dokud jsem tady, budu dělat svoji [[<del class="diffchange diffchange-inline">práce</del>|práci]]. Jakou práci? Ulehčovat [[bolest]] [[život]]a. Všechno ostatní je opilecký blábol.&lt;ref&gt;[http://www.pwf.cz/archivy/texty/rozhovory/ed-sanders-v-rozhovoru-s-michaelem-marchem_559.html Ed Sanders na pwf.cz]&lt;/ref&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_40_1_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_0_rhs"></a>&lt;references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_6_1_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_11_0_lhs"></a>* <del class="diffchange diffchange-inline">Věci</del> jsou [[symbol]]y sama sebe.&lt;br /&gt;''{{Cizojazyčně|en|Things are symbols of themselves.}}''&lt;ref<del class="diffchange diffchange-inline">&gt;{{Citace monografie</del></div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>  &lt;ref name="the-work-of"&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_16_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_13_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| příjmení = Morgan</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>    {{Citace monografie</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_18_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_15_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| jméno = Bill</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_13_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_16_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| příjmení = Morgan</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_20_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_17_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| odkaz na autora =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_15_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_18_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| jméno = Bill</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_22_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_19_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| titul = The Works of Allen Ginsberg, 1941-1994: A Descriptive Bibliography</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_17_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_20_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| odkaz na autora =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_24_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_21_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| vydavatel = ABC-CLIO</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_19_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_22_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| titul = The Works of Allen Ginsberg, 1941-1994: A Descriptive Bibliography</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_26_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_23_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| místo =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_21_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_24_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| vydavatel = ABC-CLIO</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_28_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_25_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| rok = 1995</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_23_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_26_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| místo =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_30_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_27_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| počet stran =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_25_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_28_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| rok = 1995</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> | kapitola =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_27_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_30_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| počet stran =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_33_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_31_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| strany = 62</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>| <del class="diffchange diffchange-inline">isbn</del> =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">      </ins>| <ins class="diffchange diffchange-inline">kapitola</ins> =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_31_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_33_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| strany = 62</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> | jazyk = angličtina</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | isbn = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | jazyk = anglicky</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">  </ins>&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;/references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_8_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_40_0_lhs"></a>== Reference ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_10_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_40_1_lhs"></a>&lt;references<del class="diffchange diffchange-inline"> /</del>&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Externí odkazy ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Externí odkazy ==</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[Soubor:Allen Ginsberg und Peter Orlowski ArM.jpg|<del class="diffchange diffchange-inline">thumb</del>|[[Allen Ginsberg]] a [[Peter Orlowski]]]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Soubor:Allen Ginsberg und Peter Orlowski ArM.jpg|<ins class="diffchange diffchange-inline">náhled</ins>|[[Allen Ginsberg]] a [[Peter Orlowski]]]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''{{Cizojazyčně|en|Irwin Allen Ginsberg}}''' (3.&amp;nbsp;června 1926, {{Cizojazyčně|en|Paterson}}, Spojené státy americké – 5.&amp;nbsp;dubna 1997, {{Cizojazyčně|en|New York}}, Spojené státy americké) byl americký básník, jedna z<del class="diffchange diffchange-inline"> </del>vůdčích osobností beatnické generace.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''{{Cizojazyčně|en|Irwin Allen Ginsberg}}''' (3.&amp;nbsp;června 1926, {{Cizojazyčně|en|Paterson}}, Spojené státy americké – 5.&amp;nbsp;dubna 1997, {{Cizojazyčně|en|New York}}, Spojené státy americké) byl americký básník, jedna z<ins class="diffchange diffchange-inline">&amp;nbsp;</ins>vůdčích osobností beatnické generace.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Výroky ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>----</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_9_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_0_rhs"></a>* Dokud jsem tady, budu dělat svoji [[<ins class="diffchange diffchange-inline">Práce</ins>|práci]]. Jakou <ins class="diffchange diffchange-inline">[[Práce|</ins>práci<ins class="diffchange diffchange-inline">]]</ins>? Ulehčovat [[bolest]] [[život]]a. Všechno <ins class="diffchange diffchange-inline">[[</ins>ostatní<ins class="diffchange diffchange-inline">]]</ins> je opilecký <ins class="diffchange diffchange-inline">[[</ins>blábol<ins class="diffchange diffchange-inline">]]</ins>.&lt;ref&gt;[http://www.pwf.cz/archivy/texty/rozhovory/ed-sanders-v-rozhovoru-s-michaelem-marchem_559.html Ed Sanders na pwf.cz]&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_11_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_1_rhs"></a>* <ins class="diffchange diffchange-inline">[[Věc]]i</ins> jsou [[symbol]]y sama sebe.&lt;br /&gt;''{{Cizojazyčně|en|Things are symbols of themselves.}}''&lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="the-work-of" /&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_38_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_8_0_rhs"></a>== Reference ==</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_6_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_9_0_lhs"></a>* Dokud jsem tady, budu dělat svoji [[<del class="diffchange diffchange-inline">práce</del>|práci]]. Jakou práci? Ulehčovat [[bolest]] [[život]]a. Všechno ostatní je opilecký blábol.&lt;ref&gt;[http://www.pwf.cz/archivy/texty/rozhovory/ed-sanders-v-rozhovoru-s-michaelem-marchem_559.html Ed Sanders na pwf.cz]&lt;/ref&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_38_1_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_0_rhs"></a>&lt;references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_6_1_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_11_0_lhs"></a>* <del class="diffchange diffchange-inline">Věci</del> jsou [[symbol]]y sama sebe.&lt;br /&gt;''{{Cizojazyčně|en|Things are symbols of themselves.}}''&lt;ref<del class="diffchange diffchange-inline">&gt;{{Citace monografie</del></div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>  &lt;ref name="the-work-of"&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_16_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_13_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| příjmení = Morgan</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>    {{Citace monografie</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_18_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_15_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| jméno = Bill</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_13_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_16_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| příjmení = Morgan</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_20_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_17_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| odkaz na autora =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_15_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_18_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| jméno = Bill</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_22_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_19_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| titul = The Works of Allen Ginsberg, 1941-1994: A Descriptive Bibliography</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_17_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_20_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| odkaz na autora =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_24_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_21_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| vydavatel = ABC-CLIO</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_19_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_22_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| titul = The Works of Allen Ginsberg, 1941-1994: A Descriptive Bibliography</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_26_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_23_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| místo =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_21_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_24_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| vydavatel = ABC-CLIO</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_28_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_25_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| rok = 1995</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_23_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_26_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| místo =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> | počet stran =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_25_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_28_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| rok = 1995</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> | kapitola =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>| <del class="diffchange diffchange-inline">strany</del> = <del class="diffchange diffchange-inline">62</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">      </ins>| <ins class="diffchange diffchange-inline">počet stran</ins> = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>| <del class="diffchange diffchange-inline">isbn</del> =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">      </ins>| <ins class="diffchange diffchange-inline">kapitola</ins> =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | strany = 62</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> | jazyk = angličtina</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | isbn = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | jazyk = anglicky</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">  </ins>&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;/references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_8_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_38_0_lhs"></a>== Reference ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_10_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_38_1_lhs"></a>&lt;references<del class="diffchange diffchange-inline"> /</del>&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Externí odkazy ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Externí odkazy ==</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff changeThreshold = 0.3</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[Soubor:Allen Ginsberg und Peter Orlowski ArM.jpg|<del class="diffchange diffchange-inline">thumb</del>|[[Allen Ginsberg]] a [[Peter Orlowski]]]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Soubor:Allen Ginsberg und Peter Orlowski ArM.jpg|<ins class="diffchange diffchange-inline">náhled</ins>|[[Allen Ginsberg]] a [[Peter Orlowski]]]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''{{Cizojazyčně|en|Irwin Allen Ginsberg}}''' (3.&amp;nbsp;června 1926, {{Cizojazyčně|en|Paterson}}, Spojené státy americké – 5.&amp;nbsp;dubna 1997, {{Cizojazyčně|en|New York}}, Spojené státy americké) byl americký básník, jedna z<del class="diffchange diffchange-inline"> </del>vůdčích osobností beatnické generace.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''{{Cizojazyčně|en|Irwin Allen Ginsberg}}''' (3.&amp;nbsp;června 1926, {{Cizojazyčně|en|Paterson}}, Spojené státy americké – 5.&amp;nbsp;dubna 1997, {{Cizojazyčně|en|New York}}, Spojené státy americké) byl americký básník, jedna z<ins class="diffchange diffchange-inline">&amp;nbsp;</ins>vůdčích osobností beatnické generace.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Výroky ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>----</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_9_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_0_rhs"></a>* Dokud jsem tady, budu dělat svoji [[<ins class="diffchange diffchange-inline">Práce</ins>|práci]]. Jakou <ins class="diffchange diffchange-inline">[[Práce|</ins>práci<ins class="diffchange diffchange-inline">]]</ins>? Ulehčovat [[bolest]] [[život]]a. Všechno <ins class="diffchange diffchange-inline">[[</ins>ostatní<ins class="diffchange diffchange-inline">]]</ins> je opilecký <ins class="diffchange diffchange-inline">[[</ins>blábol<ins class="diffchange diffchange-inline">]]</ins>.&lt;ref&gt;[http://www.pwf.cz/archivy/texty/rozhovory/ed-sanders-v-rozhovoru-s-michaelem-marchem_559.html Ed Sanders na pwf.cz]&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_11_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_1_rhs"></a>* <ins class="diffchange diffchange-inline">[[Věc]]i</ins> jsou [[symbol]]y sama sebe.&lt;br /&gt;''{{Cizojazyčně|en|Things are symbols of themselves.}}''&lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="the-work-of" /&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_41_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_8_0_rhs"></a>== Reference ==</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_6_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_9_0_lhs"></a>* Dokud jsem tady, budu dělat svoji [[<del class="diffchange diffchange-inline">práce</del>|práci]]. Jakou práci? Ulehčovat [[bolest]] [[život]]a. Všechno ostatní je opilecký blábol.&lt;ref&gt;[http://www.pwf.cz/archivy/texty/rozhovory/ed-sanders-v-rozhovoru-s-michaelem-marchem_559.html Ed Sanders na pwf.cz]&lt;/ref&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_41_1_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_0_rhs"></a>&lt;references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_6_1_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_11_0_lhs"></a>* <del class="diffchange diffchange-inline">Věci</del> jsou [[symbol]]y sama sebe.&lt;br /&gt;''{{Cizojazyčně|en|Things are symbols of themselves.}}''&lt;ref<del class="diffchange diffchange-inline">&gt;{{Citace monografie</del></div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>  &lt;ref name="the-work-of"&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_16_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_13_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| příjmení = Morgan</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>    {{Citace monografie</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_18_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_15_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| jméno = Bill</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_13_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_16_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| příjmení = Morgan</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_20_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_17_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| odkaz na autora =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_15_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_18_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| jméno = Bill</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_22_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_19_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| titul = The Works of Allen Ginsberg, 1941-1994: A Descriptive Bibliography</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_17_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_20_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| odkaz na autora =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_24_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_21_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| vydavatel = ABC-CLIO</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_19_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_22_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| titul = The Works of Allen Ginsberg, 1941-1994: A Descriptive Bibliography</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_26_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_23_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| místo =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_21_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_24_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| vydavatel = ABC-CLIO</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_28_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_25_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| rok = 1995</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_23_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_26_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| místo =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_30_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_27_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| počet stran =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_25_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_28_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| rok = 1995</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_32_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_29_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| kapitola =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_27_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_30_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| počet stran =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_34_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_31_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| strany = 62</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_29_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_32_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| kapitola =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_36_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_33_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| isbn =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_31_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_34_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| strany = 62</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> | jazyk = angličtina</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_33_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_36_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| isbn =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | jazyk = anglicky</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">  </ins>&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;/references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_8_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_41_0_lhs"></a>== Reference ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_10_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_41_1_lhs"></a>&lt;references<del class="diffchange diffchange-inline"> /</del>&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Externí odkazy ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Externí odkazy ==</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff maxSplitSize = 1</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[Soubor:Allen Ginsberg und Peter Orlowski ArM.jpg|<del class="diffchange diffchange-inline">thumb</del>|[[Allen Ginsberg]] a [[Peter Orlowski]]]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Soubor:Allen Ginsberg und Peter Orlowski ArM.jpg|<ins class="diffchange diffchange-inline">náhled</ins>|[[Allen Ginsberg]] a [[Peter Orlowski]]]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''{{Cizojazyčně|en|Irwin Allen Ginsberg}}''' (3.&amp;nbsp;června 1926, {{Cizojazyčně|en|Paterson}}, Spojené státy americké – 5.&amp;nbsp;dubna 1997, {{Cizojazyčně|en|New York}}, Spojené státy americké) byl americký básník, jedna z<del class="diffchange diffchange-inline"> </del>vůdčích osobností beatnické generace.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''{{Cizojazyčně|en|Irwin Allen Ginsberg}}''' (3.&amp;nbsp;června 1926, {{Cizojazyčně|en|Paterson}}, Spojené státy americké – 5.&amp;nbsp;dubna 1997, {{Cizojazyčně|en|New York}}, Spojené státy americké) byl americký básník, jedna z<ins class="diffchange diffchange-inline">&amp;nbsp;</ins>vůdčích osobností beatnické generace.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Výroky ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>----</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_9_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_0_rhs"></a>* Dokud jsem tady, budu dělat svoji [[<ins class="diffchange diffchange-inline">Práce</ins>|práci]]. Jakou <ins class="diffchange diffchange-inline">[[Práce|</ins>práci<ins class="diffchange diffchange-inline">]]</ins>? Ulehčovat [[bolest]] [[život]]a. Všechno <ins class="diffchange diffchange-inline">[[</ins>ostatní<ins class="diffchange diffchange-inline">]]</ins> je opilecký <ins class="diffchange diffchange-inline">[[</ins>blábol<ins class="diffchange diffchange-inline">]]</ins>.&lt;ref&gt;[http://www.pwf.cz/archivy/texty/rozhovory/ed-sanders-v-rozhovoru-s-michaelem-marchem_559.html Ed Sanders na pwf.cz]&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_11_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_1_rhs"></a>* <ins class="diffchange diffchange-inline">[[Věc]]i</ins> jsou [[symbol]]y sama sebe.&lt;br /&gt;''{{Cizojazyčně|en|Things are symbols of themselves.}}''&lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="the-work-of" /&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_38_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_8_0_rhs"></a>== Reference ==</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_6_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_9_0_lhs"></a>* Dokud jsem tady, budu dělat svoji [[<del class="diffchange diffchange-inline">práce</del>|práci]]. Jakou práci? Ulehčovat [[bolest]] [[život]]a. Všechno ostatní je opilecký blábol.&lt;ref&gt;[http://www.pwf.cz/archivy/texty/rozhovory/ed-sanders-v-rozhovoru-s-michaelem-marchem_559.html Ed Sanders na pwf.cz]&lt;/ref&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_38_1_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_0_rhs"></a>&lt;references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_6_1_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_11_0_lhs"></a>* <del class="diffchange diffchange-inline">Věci</del> jsou [[symbol]]y sama sebe.&lt;br /&gt;''{{Cizojazyčně|en|Things are symbols of themselves.}}''&lt;ref<del class="diffchange diffchange-inline">&gt;{{Citace monografie</del></div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>  &lt;ref name="the-work-of"&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_16_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_13_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| příjmení = Morgan</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>    {{Citace monografie</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_18_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_15_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| jméno = Bill</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_13_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_16_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| příjmení = Morgan</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_20_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_17_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| odkaz na autora =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_15_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_18_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| jméno = Bill</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_22_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_19_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| titul = The Works of Allen Ginsberg, 1941-1994: A Descriptive Bibliography</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_17_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_20_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| odkaz na autora =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_24_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_21_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| vydavatel = ABC-CLIO</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_19_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_22_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| titul = The Works of Allen Ginsberg, 1941-1994: A Descriptive Bibliography</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_26_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_23_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| místo =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_21_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_24_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| vydavatel = ABC-CLIO</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_28_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_25_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| rok = 1995</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_23_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_26_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| místo =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> | počet stran =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_25_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_28_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| rok = 1995</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> | kapitola =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>| <del class="diffchange diffchange-inline">strany</del> = <del class="diffchange diffchange-inline">62</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">      </ins>| <ins class="diffchange diffchange-inline">počet stran</ins> = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>| <del class="diffchange diffchange-inline">isbn</del> =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">      </ins>| <ins class="diffchange diffchange-inline">kapitola</ins> =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | strany = 62</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> | jazyk = angličtina</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | isbn = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | jazyk = anglicky</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">  </ins>&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;/references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_8_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_38_0_lhs"></a>== Reference ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_10_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_38_1_lhs"></a>&lt;references<del class="diffchange diffchange-inline"> /</del>&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Externí odkazy ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Externí odkazy ==</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff both</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[Soubor:Allen Ginsberg und Peter Orlowski ArM.jpg|<del class="diffchange diffchange-inline">thumb</del>|[[Allen Ginsberg]] a [[Peter Orlowski]]]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Soubor:Allen Ginsberg und Peter Orlowski ArM.jpg|<ins class="diffchange diffchange-inline">náhled</ins>|[[Allen Ginsberg]] a [[Peter Orlowski]]]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''{{Cizojazyčně|en|Irwin Allen Ginsberg}}''' (3.&amp;nbsp;června 1926, {{Cizojazyčně|en|Paterson}}, Spojené státy americké – 5.&amp;nbsp;dubna 1997, {{Cizojazyčně|en|New York}}, Spojené státy americké) byl americký básník, jedna z<del class="diffchange diffchange-inline"> </del>vůdčích osobností beatnické generace.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''{{Cizojazyčně|en|Irwin Allen Ginsberg}}''' (3.&amp;nbsp;června 1926, {{Cizojazyčně|en|Paterson}}, Spojené státy americké – 5.&amp;nbsp;dubna 1997, {{Cizojazyčně|en|New York}}, Spojené státy americké) byl americký básník, jedna z<ins class="diffchange diffchange-inline">&amp;nbsp;</ins>vůdčích osobností beatnické generace.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Výroky ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>----</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_9_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_0_rhs"></a>* Dokud jsem tady, budu dělat svoji [[<ins class="diffchange diffchange-inline">Práce</ins>|práci]]. Jakou <ins class="diffchange diffchange-inline">[[Práce|</ins>práci<ins class="diffchange diffchange-inline">]]</ins>? Ulehčovat [[bolest]] [[život]]a. Všechno <ins class="diffchange diffchange-inline">[[</ins>ostatní<ins class="diffchange diffchange-inline">]]</ins> je opilecký <ins class="diffchange diffchange-inline">[[</ins>blábol<ins class="diffchange diffchange-inline">]]</ins>.&lt;ref&gt;[http://www.pwf.cz/archivy/texty/rozhovory/ed-sanders-v-rozhovoru-s-michaelem-marchem_559.html Ed Sanders na pwf.cz]&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_11_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_1_rhs"></a>* <ins class="diffchange diffchange-inline">[[Věc]]i</ins> jsou [[symbol]]y sama sebe.&lt;br /&gt;''{{Cizojazyčně|en|Things are symbols of themselves.}}''&lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="the-work-of" /&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_41_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_8_0_rhs"></a>== Reference ==</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_6_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_9_0_lhs"></a>* Dokud jsem tady, budu dělat svoji [[<del class="diffchange diffchange-inline">práce</del>|práci]]. Jakou práci? Ulehčovat [[bolest]] [[život]]a. Všechno ostatní je opilecký blábol.&lt;ref&gt;[http://www.pwf.cz/archivy/texty/rozhovory/ed-sanders-v-rozhovoru-s-michaelem-marchem_559.html Ed Sanders na pwf.cz]&lt;/ref&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_41_1_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_0_rhs"></a>&lt;references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_6_1_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_11_0_lhs"></a>* <del class="diffchange diffchange-inline">Věci</del> jsou [[symbol]]y sama sebe.&lt;br /&gt;''{{Cizojazyčně|en|Things are symbols of themselves.}}''&lt;ref<del class="diffchange diffchange-inline">&gt;{{Citace monografie</del></div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>  &lt;ref name="the-work-of"&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_16_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_13_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| příjmení = Morgan</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>    {{Citace monografie</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_18_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_15_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| jméno = Bill</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_13_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_16_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| příjmení = Morgan</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_20_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_17_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| odkaz na autora =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_15_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_18_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| jméno = Bill</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_22_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_19_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| titul = The Works of Allen Ginsberg, 1941-1994: A Descriptive Bibliography</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_17_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_20_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| odkaz na autora =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_24_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_21_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| vydavatel = ABC-CLIO</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_19_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_22_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| titul = The Works of Allen Ginsberg, 1941-1994: A Descriptive Bibliography</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_26_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_23_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| místo =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_21_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_24_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| vydavatel = ABC-CLIO</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_28_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_25_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| rok = 1995</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_23_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_26_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| místo =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_30_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_27_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| počet stran =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_25_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_28_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| rok = 1995</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_32_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_29_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| kapitola =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_27_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_30_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| počet stran =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_34_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_31_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| strany = 62</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_29_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_32_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| kapitola =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_36_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_33_0_lhs"></a><del class="diffchange diffchange-inline"> </del>| isbn =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_31_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_34_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| strany = 62</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> | jazyk = angličtina</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_33_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_36_0_rhs"></a><ins class="diffchange diffchange-inline">      </ins>| isbn =<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | jazyk = anglicky</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">  </ins>&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;/references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_8_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_41_0_lhs"></a>== Reference ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_10_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_41_1_lhs"></a>&lt;references<del class="diffchange diffchange-inline"> /</del>&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Externí odkazy ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Externí odkazy ==</div></td>
</tr>
</tbody></table>
</body></html>
