<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 138171 to 114206</h1><h2>Existing two-column diff</h2><a href="https://cs.wikiquote.org/w/index.php?title=Majetek&oldid=138171&diff=114206">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://cs.wikiquote.org/w/index.php?title=Majetek&oldid=138171">138171</a></href></td><td colspan=2><a href="https://cs.wikiquote.org/w/index.php?title=Majetek&oldid=114206">114206</a></tr><tr>
  <td colspan="2" class="diff-lineno">Řádek 1:</td>
  <td colspan="2" class="diff-lineno">Řádek 1:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== V dílech ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== V dílech ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* Poslechněte, neříká Odo, že kde je [[majetek]], tam je i&amp;nbsp;[[krádež]]?&lt;ref<del class="diffchange diffchange-inline"> name="test"&gt;{{Citace monografie|příjmení = K. Le Guinová|jméno = Ursula|titul = Vyděděnec|vydavatel = Laser|místo = Plzeň|rok = 1995|počet stran = 374|strany = 144|isbn = 80-7193-002-4}}&lt;/ref&gt;&lt;br</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* Poslechněte, neříká Odo, že kde je [[majetek]], tam je i&amp;nbsp;[[krádež]]?&lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="test"&gt;{{Citace monografie|příjmení = K. Le Guinová|jméno = Ursula|titul = Vyděděnec|vydavatel = Laser|místo = Plzeň|rok = 1995|počet stran = 374|strany = 144|isbn = 80-7193-002-4}}&lt;/ref&gt;&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;— [[Ursula K. Le Guinová]], ''[[Dílo:Vyděděnec|Vyděděnec]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;— [[Ursula K. Le Guinová]], ''[[Dílo:Vyděděnec|Vyděděnec]]''</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* Neustálé hromadění [[majetek|majetku]] jednou třídou lidí by způsobilo velké příkrosti, zbídačení a ponížení druhé třídy lidí. Kdyby se [[moc]]i zámožných nějakým způsobem nečelilo, stala by se neomezenou, a chudý, ač má v [[oko|očích]] [[Bůh|Božích]] stejnou [[hodnota|cenu]], by byl svými bohatšími [[bratr]]y pokládán za méněcenného a podle toho by s ním i jednali. Pocit takového útlaku by vyvolal hnutí v chudší třídě. Zavládl by v ní pocit beznaděje a [[zoufalství]], který by vedl ke zkáze mravů [[společnost]]i a otevřel [[dveře]] zločinům všeho druhu. &lt;ref<del class="diffchange diffchange-inline"> name="PP" /&gt;&lt;br</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* Neustálé hromadění [[majetek|majetku]] jednou třídou lidí by způsobilo velké příkrosti, zbídačení a ponížení druhé třídy lidí. Kdyby se [[moc]]i zámožných nějakým způsobem nečelilo, stala by se neomezenou, a chudý, ač má v [[oko|očích]] [[Bůh|Božích]] stejnou [[hodnota|cenu]], by byl svými bohatšími [[bratr]]y pokládán za méněcenného a podle toho by s ním i jednali. Pocit takového útlaku by vyvolal hnutí v chudší třídě. Zavládl by v ní pocit beznaděje a [[zoufalství]], který by vedl ke zkáze mravů [[společnost]]i a otevřel [[dveře]] zločinům všeho druhu. &lt;ref</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_8_1_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_7_0_lhs"></a><del class="diffchange diffchange-inline"> </del>/&gt;— [[Ellen Gould Whiteová]], ''Drama věků: Patriarchové a proroci''</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="PP"/&gt;&lt;br</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_7_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_8_1_rhs"></a>/&gt;— [[Ellen Gould Whiteová]], ''Drama věků: Patriarchové a proroci''</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Lidová slovesnost ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Lidová slovesnost ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* Lépe [[Dítě|děti]] vychovávat, než pro ně hromadit [[majetek]].&lt;ref<del class="diffchange diffchange-inline"> name="vzp2003" /&gt;&lt;br</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* Lépe [[Dítě|děti]] vychovávat, než pro ně hromadit [[majetek]].&lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="vzp2003" /&gt;&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;— ''[[Čínská přísloví|čínské přísloví]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;— ''[[Čínská přísloví|čínské přísloví]]''</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* [[Hojnost]] [[Majetek|majetku]] není na škodu.&lt;br</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* [[Hojnost]] [[Majetek|majetku]] není na škodu.&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;''{{Cizojazyčně|fr|Abondance de biens ne nuit pas.}}''&lt;ref<del class="diffchange diffchange-inline"> name="larousse-1054" /&gt;&lt;br</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;''{{Cizojazyčně|fr|Abondance de biens ne nuit pas.}}''&lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="larousse-1054" /&gt;&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;— ''[[Francouzská přísloví|<del class="diffchange diffchange-inline">francouzské</del> přísloví]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;— ''[[Francouzská přísloví|<ins class="diffchange diffchange-inline">francuzské</ins> přísloví]]''</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* Náhodný [[majetek]] pomíjí jako [[měsíc]].&lt;br</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* Náhodný [[majetek]] pomíjí jako [[měsíc]].&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;''{{Cizojazyčně|it|Beni di fortuna passano come la luna}}''&lt;br</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;''{{Cizojazyčně|it|Beni di fortuna passano come la luna}}''&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;— ''[[Italská přísloví|italské přísloví]]'' (<del class="diffchange diffchange-inline">''</del>srov. české <del class="diffchange diffchange-inline">„Lehko</del> nabyl, lehko pozbyl.<del class="diffchange diffchange-inline">“</del>'')</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;— ''[[Italská přísloví|italské přísloví]]''<ins class="diffchange diffchange-inline">,</ins> (srov. české <ins class="diffchange diffchange-inline">''Lehko</ins> nabyl, lehko pozbyl.'')</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Reference ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Reference ==</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== V dílech ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== V dílech ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* Poslechněte, neříká Odo, že kde je [[majetek]], tam je i&amp;nbsp;[[krádež]]?&lt;ref<del class="diffchange diffchange-inline"> </del>name="test"&gt;{{Citace monografie|příjmení = K. Le Guinová|jméno = Ursula|titul = Vyděděnec|vydavatel = Laser|místo = Plzeň|rok = 1995|počet stran = 374|strany = 144|isbn = 80-7193-002-4}}&lt;/ref&gt;&lt;br</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* Poslechněte, neříká Odo, že kde je [[majetek]], tam je i&amp;nbsp;[[krádež]]?&lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="test"&gt;{{Citace monografie|příjmení = K. Le Guinová|jméno = Ursula|titul = Vyděděnec|vydavatel = Laser|místo = Plzeň|rok = 1995|počet stran = 374|strany = 144|isbn = 80-7193-002-4}}&lt;/ref&gt;&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;— [[Ursula K. Le Guinová]], ''[[Dílo:Vyděděnec|Vyděděnec]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;— [[Ursula K. Le Guinová]], ''[[Dílo:Vyděděnec|Vyděděnec]]''</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* Neustálé hromadění [[majetek|majetku]] jednou třídou lidí by způsobilo velké příkrosti, zbídačení a ponížení druhé třídy lidí. Kdyby se [[moc]]i zámožných nějakým způsobem nečelilo, stala by se neomezenou, a chudý, ač má v [[oko|očích]] [[Bůh|Božích]] stejnou [[hodnota|cenu]], by byl svými bohatšími [[bratr]]y pokládán za méněcenného a podle toho by s ním i jednali. Pocit takového útlaku by vyvolal hnutí v chudší třídě. Zavládl by v ní pocit beznaděje a [[zoufalství]], který by vedl ke zkáze mravů [[společnost]]i a otevřel [[dveře]] zločinům všeho druhu. &lt;ref<del class="diffchange diffchange-inline"> </del>name="PP"<del class="diffchange diffchange-inline"> </del>/&gt;&lt;br</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* Neustálé hromadění [[majetek|majetku]] jednou třídou lidí by způsobilo velké příkrosti, zbídačení a ponížení druhé třídy lidí. Kdyby se [[moc]]i zámožných nějakým způsobem nečelilo, stala by se neomezenou, a chudý, ač má v [[oko|očích]] [[Bůh|Božích]] stejnou [[hodnota|cenu]], by byl svými bohatšími [[bratr]]y pokládán za méněcenného a podle toho by s ním i jednali. Pocit takového útlaku by vyvolal hnutí v chudší třídě. Zavládl by v ní pocit beznaděje a [[zoufalství]], který by vedl ke zkáze mravů [[společnost]]i a otevřel [[dveře]] zločinům všeho druhu. &lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="PP"/&gt;&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;— [[Ellen Gould Whiteová]], ''Drama věků: Patriarchové a proroci''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;— [[Ellen Gould Whiteová]], ''Drama věků: Patriarchové a proroci''</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Lidová slovesnost ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Lidová slovesnost ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* Lépe [[Dítě|děti]] vychovávat, než pro ně hromadit [[majetek]].&lt;ref<del class="diffchange diffchange-inline"> </del>name="vzp2003" /&gt;&lt;br</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* Lépe [[Dítě|děti]] vychovávat, než pro ně hromadit [[majetek]].&lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="vzp2003" /&gt;&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;— ''[[Čínská přísloví|čínské přísloví]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;— ''[[Čínská přísloví|čínské přísloví]]''</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* [[Hojnost]] [[Majetek|majetku]] není na škodu.&lt;br</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* [[Hojnost]] [[Majetek|majetku]] není na škodu.&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;''{{Cizojazyčně|fr|Abondance de biens ne nuit pas.}}''&lt;ref<del class="diffchange diffchange-inline"> </del>name="larousse-1054" /&gt;&lt;br</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;''{{Cizojazyčně|fr|Abondance de biens ne nuit pas.}}''&lt;ref</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="larousse-1054" /&gt;&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;— ''[[Francouzská přísloví|<del class="diffchange diffchange-inline">francouzské</del> přísloví]]''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;— ''[[Francouzská přísloví|<ins class="diffchange diffchange-inline">francuzské</ins> přísloví]]''</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* Náhodný [[majetek]] pomíjí jako [[měsíc]].&lt;br</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* Náhodný [[majetek]] pomíjí jako [[měsíc]].&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;''{{Cizojazyčně|it|Beni di fortuna passano come la luna}}''&lt;br</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;''{{Cizojazyčně|it|Beni di fortuna passano come la luna}}''&lt;br</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline"> </del>/&gt;— ''[[Italská přísloví|italské přísloví]]'' (<del class="diffchange diffchange-inline">''</del>srov. české <del class="diffchange diffchange-inline">„Lehko</del> nabyl, lehko pozbyl.<del class="diffchange diffchange-inline">“</del>'')</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;— ''[[Italská přísloví|italské přísloví]]''<ins class="diffchange diffchange-inline">,</ins> (srov. české <ins class="diffchange diffchange-inline">''Lehko</ins> nabyl, lehko pozbyl.'')</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Reference ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Reference ==</div></td>
</tr>
</tbody></table>
</body></html>
