<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 128249 to 128394</h1><h2>Existing two-column diff</h2><a href="https://cs.wikiquote.org/w/index.php?title=Dílo:Když tě Bůh něžně volá tvým jménem&oldid=128249&diff=128394">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://cs.wikiquote.org/w/index.php?title=Dílo:Když tě Bůh něžně volá tvým jménem&oldid=128249">128249</a></href></td><td colspan=2><a href="https://cs.wikiquote.org/w/index.php?title=Dílo:Když tě Bůh něžně volá tvým jménem&oldid=128394">128394</a></tr><tr>
  <td colspan="2" class="diff-lineno">Řádek 1:</td>
  <td colspan="2" class="diff-lineno">Řádek 1:</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''''Když tě Bůh něžně volá tvým jménem''''' (v&amp;nbsp;originále '''''{{Cizojazyčně|en|When God Whispers Your Name}}''''') je kniha [[Max Lucado|Maxe Lucada]] z&amp;nbsp;roku 1994.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''''Když tě Bůh něžně volá tvým jménem''''' (v&amp;nbsp;originále '''''{{Cizojazyčně|en|When God Whispers Your Name}}''''') je kniha [[Max Lucado|Maxe Lucada]] z&amp;nbsp;roku 1994.<ins class="diffchange diffchange-inline">&lt;ref</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="kdyz..." /&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Výroky ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Výroky ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* [[Konflikt]] je nevyhnutelný, ale [[boj]] je volitelný.&lt;br<del class="diffchange diffchange-inline"> /&gt;''{{Cizojazyčně|en|Conflict is inevitable but combat is optional.}}''</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* [[Konflikt]] je nevyhnutelný, ale [[boj]] je volitelný.&lt;br</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;''{{Cizojazyčně|en|Conflict is inevitable but combat is optional.}}''</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Reference ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Reference ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_20_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_6_0_rhs"></a>&lt;references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* {{Citace monografie</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>  &lt;ref name="kdyz..."&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | příjmení = Lucado</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   <del class="diffchange diffchange-inline">|</del> <del class="diffchange diffchange-inline">jméno</del> <del class="diffchange diffchange-inline">= Max</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>    <ins class="diffchange diffchange-inline">{{Citace</ins> <ins class="diffchange diffchange-inline">monografie</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   <del class="diffchange diffchange-inline">|</del> <del class="diffchange diffchange-inline">odkaz</del> <del class="diffchange diffchange-inline">na</del> <del class="diffchange diffchange-inline">autora</del> <del class="diffchange diffchange-inline">=</del> <del class="diffchange diffchange-inline">Max</del> Lucado</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      <ins class="diffchange diffchange-inline">|</ins> <ins class="diffchange diffchange-inline">příjmení</ins> <ins class="diffchange diffchange-inline">=</ins> Lucado</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | jméno = Max</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_14_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_12_0_lhs"></a>   | titul = Když tě Bůh něžně volá tvým jménem : naslouchej a&amp;nbsp;uč se znovu doufat</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | <del class="diffchange diffchange-inline">překladatelé</del> = <del class="diffchange diffchange-inline">Jiří</del> <del class="diffchange diffchange-inline">Drejnar</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">   </ins>   | <ins class="diffchange diffchange-inline">odkaz na autora</ins> = <ins class="diffchange diffchange-inline">Max</ins> <ins class="diffchange diffchange-inline">Lucado</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Odstavec byl přesunut. Kliknutím skočíte na původní umístění." href="#movedpara_12_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_14_0_rhs"></a><ins class="diffchange diffchange-inline">   </ins>   | titul = Když tě Bůh něžně volá tvým jménem : naslouchej a&amp;nbsp;uč se znovu doufat</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | vydavatel = Luxpress</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | <del class="diffchange diffchange-inline">místo</del> = <del class="diffchange diffchange-inline">Praha</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">   </ins>   | <ins class="diffchange diffchange-inline">překladatelé</ins> = <ins class="diffchange diffchange-inline">Jiří Drejnar</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | <del class="diffchange diffchange-inline">rok</del> = <del class="diffchange diffchange-inline">2006</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">   </ins>   | <ins class="diffchange diffchange-inline">vydavatel</ins> = <ins class="diffchange diffchange-inline">Luxpress</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | <del class="diffchange diffchange-inline">vydání</del> = <del class="diffchange diffchange-inline">1</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">   </ins>   | <ins class="diffchange diffchange-inline">místo</ins> = <ins class="diffchange diffchange-inline">Praha</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   <del class="diffchange diffchange-inline">|</del> <del class="diffchange diffchange-inline">počet</del> <del class="diffchange diffchange-inline">stran</del> = <del class="diffchange diffchange-inline">243</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>     <ins class="diffchange diffchange-inline"> | rok</ins> = <ins class="diffchange diffchange-inline">2006</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | <del class="diffchange diffchange-inline">isbn</del> = <del class="diffchange diffchange-inline">80-7130-125-6</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">   </ins>   | <ins class="diffchange diffchange-inline">vydání</ins> = <ins class="diffchange diffchange-inline">1</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | počet stran = 243</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | isbn = 80-7130-125-6</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>  &lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Odstavec byl přesunut. Kliknutím skočíte na nové umístění." href="#movedpara_6_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_20_0_lhs"></a>&lt;references<del class="diffchange diffchange-inline"> /</del>&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;/references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Kategorie:Díla:Náboženská literatura]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Kategorie:Díla:Náboženská literatura]]</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''''Když tě Bůh něžně volá tvým jménem''''' (v&amp;nbsp;originále '''''{{Cizojazyčně|en|When God Whispers Your Name}}''''') je kniha [[Max Lucado|Maxe Lucada]] z&amp;nbsp;roku 1994.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''''Když tě Bůh něžně volá tvým jménem''''' (v&amp;nbsp;originále '''''{{Cizojazyčně|en|When God Whispers Your Name}}''''') je kniha [[Max Lucado|Maxe Lucada]] z&amp;nbsp;roku 1994.<ins class="diffchange diffchange-inline">&lt;ref</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="kdyz..." /&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Výroky ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Výroky ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* [[Konflikt]] je nevyhnutelný, ale [[boj]] je volitelný.&lt;br<del class="diffchange diffchange-inline"> </del>/&gt;''{{Cizojazyčně|en|Conflict is inevitable but combat is optional.}}''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* [[Konflikt]] je nevyhnutelný, ale [[boj]] je volitelný.&lt;br</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;''{{Cizojazyčně|en|Conflict is inevitable but combat is optional.}}''</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Reference ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Reference ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_19_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_5_0_rhs"></a>&lt;references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* {{Citace monografie</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>  &lt;ref name="kdyz..."&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | příjmení = Lucado</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   <del class="diffchange diffchange-inline">|</del> <del class="diffchange diffchange-inline">jméno</del> <del class="diffchange diffchange-inline">= Max</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>    <ins class="diffchange diffchange-inline">{{Citace</ins> <ins class="diffchange diffchange-inline">monografie</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   <del class="diffchange diffchange-inline">|</del> <del class="diffchange diffchange-inline">odkaz</del> <del class="diffchange diffchange-inline">na</del> <del class="diffchange diffchange-inline">autora</del> <del class="diffchange diffchange-inline">=</del> <del class="diffchange diffchange-inline">Max</del> Lucado</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      <ins class="diffchange diffchange-inline">|</ins> <ins class="diffchange diffchange-inline">příjmení</ins> <ins class="diffchange diffchange-inline">=</ins> Lucado</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | jméno = Max</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_13_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_11_0_lhs"></a>   | titul = Když tě Bůh něžně volá tvým jménem : naslouchej a&amp;nbsp;uč se znovu doufat</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | <del class="diffchange diffchange-inline">překladatelé</del> = <del class="diffchange diffchange-inline">Jiří</del> <del class="diffchange diffchange-inline">Drejnar</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">   </ins>   | <ins class="diffchange diffchange-inline">odkaz na autora</ins> = <ins class="diffchange diffchange-inline">Max</ins> <ins class="diffchange diffchange-inline">Lucado</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_11_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_13_0_rhs"></a><ins class="diffchange diffchange-inline">   </ins>   | titul = Když tě Bůh něžně volá tvým jménem : naslouchej a&amp;nbsp;uč se znovu doufat</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | vydavatel = Luxpress</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | <del class="diffchange diffchange-inline">místo</del> = <del class="diffchange diffchange-inline">Praha</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">   </ins>   | <ins class="diffchange diffchange-inline">překladatelé</ins> = <ins class="diffchange diffchange-inline">Jiří Drejnar</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | <del class="diffchange diffchange-inline">rok</del> = <del class="diffchange diffchange-inline">2006</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">   </ins>   | <ins class="diffchange diffchange-inline">vydavatel</ins> = <ins class="diffchange diffchange-inline">Luxpress</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | <del class="diffchange diffchange-inline">vydání</del> = <del class="diffchange diffchange-inline">1</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">   </ins>   | <ins class="diffchange diffchange-inline">místo</ins> = <ins class="diffchange diffchange-inline">Praha</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   <del class="diffchange diffchange-inline">|</del> <del class="diffchange diffchange-inline">počet</del> <del class="diffchange diffchange-inline">stran</del> = <del class="diffchange diffchange-inline">243</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>     <ins class="diffchange diffchange-inline"> | rok</ins> = <ins class="diffchange diffchange-inline">2006</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | <del class="diffchange diffchange-inline">isbn</del> = <del class="diffchange diffchange-inline">80-7130-125-6</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">   </ins>   | <ins class="diffchange diffchange-inline">vydání</ins> = <ins class="diffchange diffchange-inline">1</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | počet stran = 243</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | isbn = 80-7130-125-6</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>  &lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_5_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_19_0_lhs"></a>&lt;references<del class="diffchange diffchange-inline"> /</del>&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;/references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Kategorie:Díla:Náboženská literatura]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Kategorie:Díla:Náboženská literatura]]</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff changeThreshold = 0.3</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''''Když tě Bůh něžně volá tvým jménem''''' (v&amp;nbsp;originále '''''{{Cizojazyčně|en|When God Whispers Your Name}}''''') je kniha [[Max Lucado|Maxe Lucada]] z&amp;nbsp;roku 1994.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''''Když tě Bůh něžně volá tvým jménem''''' (v&amp;nbsp;originále '''''{{Cizojazyčně|en|When God Whispers Your Name}}''''') je kniha [[Max Lucado|Maxe Lucada]] z&amp;nbsp;roku 1994.<ins class="diffchange diffchange-inline">&lt;ref</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>name="kdyz..." /&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Výroky ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Výroky ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* [[Konflikt]] je nevyhnutelný, ale [[boj]] je volitelný.&lt;br<del class="diffchange diffchange-inline"> </del>/&gt;''{{Cizojazyčně|en|Conflict is inevitable but combat is optional.}}''</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* [[Konflikt]] je nevyhnutelný, ale [[boj]] je volitelný.&lt;br</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>/&gt;''{{Cizojazyčně|en|Conflict is inevitable but combat is optional.}}''</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Reference ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Reference ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_28_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_5_0_rhs"></a>&lt;references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_9_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_6_0_lhs"></a><del class="diffchange diffchange-inline">*</del> {{Citace monografie</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>  &lt;ref name="kdyz..."&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | příjmení = Lucado</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_6_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_9_0_rhs"></a><ins class="diffchange diffchange-inline">   </ins> {{Citace monografie</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_12_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_10_0_lhs"></a>   | jméno = Max</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   <del class="diffchange diffchange-inline">|</del> <del class="diffchange diffchange-inline">odkaz</del> <del class="diffchange diffchange-inline">na</del> <del class="diffchange diffchange-inline">autora</del> <del class="diffchange diffchange-inline">=</del> <del class="diffchange diffchange-inline">Max</del> Lucado</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      <ins class="diffchange diffchange-inline">|</ins> <ins class="diffchange diffchange-inline">příjmení</ins> <ins class="diffchange diffchange-inline">=</ins> Lucado</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_10_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_12_0_rhs"></a><ins class="diffchange diffchange-inline">   </ins>   | jméno = Max</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_16_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_13_0_lhs"></a>   | titul = Když tě Bůh něžně volá tvým jménem : naslouchej a&amp;nbsp;uč se znovu doufat</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | odkaz na autora = Max Lucado</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_18_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_15_0_lhs"></a>   | překladatelé = Jiří Drejnar</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_13_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_16_0_rhs"></a><ins class="diffchange diffchange-inline">   </ins>   | titul = Když tě Bůh něžně volá tvým jménem : naslouchej a&amp;nbsp;uč se znovu doufat</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_20_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_17_0_lhs"></a>   | vydavatel = Luxpress</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_15_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_18_0_rhs"></a><ins class="diffchange diffchange-inline">   </ins>   | překladatelé = Jiří Drejnar</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | místo = Praha</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_17_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_20_0_rhs"></a><ins class="diffchange diffchange-inline">   </ins>   | vydavatel = Luxpress</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | rok = 2006</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   | <del class="diffchange diffchange-inline">vydání</del> = <del class="diffchange diffchange-inline">1</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">   </ins>   | <ins class="diffchange diffchange-inline">místo</ins> = <ins class="diffchange diffchange-inline">Praha</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>   <del class="diffchange diffchange-inline">|</del> <del class="diffchange diffchange-inline">počet</del> <del class="diffchange diffchange-inline">stran</del> = <del class="diffchange diffchange-inline">243</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>     <ins class="diffchange diffchange-inline"> | rok</ins> = <ins class="diffchange diffchange-inline">2006</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | vydání = 1</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_25_1_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_24_0_lhs"></a>   | isbn = 80-7130-125-6</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>      | počet stran = 243</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_24_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_25_1_rhs"></a><ins class="diffchange diffchange-inline">   </ins>   | isbn = 80-7130-125-6</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>  &lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_5_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_28_0_lhs"></a>&lt;references<del class="diffchange diffchange-inline"> /</del>&gt;</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;/references&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Kategorie:Díla:Náboženská literatura]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Kategorie:Díla:Náboženská literatura]]</div></td>
</tr>
</tbody></table>
</body></html>
