<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 10653842 to 10338121</h1><h2>Existing two-column diff</h2><a href="https://th.wikipedia.org/w/index.php?title=เหตุการณ์รถไฟชนรถบัสในจังหวัดฉะเชิงเทรา พ.ศ. 2563&oldid=10653842&diff=10338121">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://th.wikipedia.org/w/index.php?title=เหตุการณ์รถไฟชนรถบัสในจังหวัดฉะเชิงเทรา พ.ศ. 2563&oldid=10653842">10653842</a></href></td><td colspan=2><a href="https://th.wikipedia.org/w/index.php?title=เหตุการณ์รถไฟชนรถบัสในจังหวัดฉะเชิงเทรา พ.ศ. 2563&oldid=10338121">10338121</a></tr><tr>
  <td colspan="2" class="diff-lineno">บรรทัด 57:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 57:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''เหตุการณ์รถไฟขนส่งสินค้าชนรถบัสคณะกฐิน พ.ศ. 2563''' เป็นเหตุการณ์ที่นับว่าเป็นอุบัติเหตุทางรถไฟไทยที่ร้ายแรงครั้งหนึ่งของไทย เหตุเกิดขึ้นเมื่อเวลา 08.05 น. ของวันที่ 11 ตุลาคม พ.ศ. 2563 หลังจากรถบัสโดยสารหมายเลขทะเบียน 30-1476 พระนครศรีอยุธยาบรรทุกผู้โดยสารจำนวน 57 ราย ออกจากจังหวัดสมุทรปราการเพื่อไปทอดกฐินที่จังหวัดฉะเชิงเทรา เมื่อมาถึงที่เกิดเหตุเวลาประมาณ 08.05 น. ขณะขับผ่านทางข้ามรถไฟที่ไม่มีเครื่องกั้น นาย บุญส่ง สวนยิ้ม คนขับรถบัสโดยสารขับรถบัสโดยสารชนกับรถไฟบรรทุกสินค้าคอนเทนเนอร์ ที่ 852 ดีเซลเลขที่ 5102 มีต้นทางสถานีแหลมฉบัง และสถานีปลายทางลาดกระบังขณะที่ขบวนผ่านสถานีคลองบางพระ ถึง สทล.51/1 บริเวณป้ายหยุดรถคลองแขวงกลั่น ตำบลบางเตย โดยรถพุ่งไปชนกับหัวขบวนรถไฟ ทำให้คนขับและผู้โดยสารเสียชีวิตทันทีในที่เกิดเหตุ จำนวน 18 ราย และมีผู้บาดเจ็บ 30 ราย&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1950314 บัสคณะกฐิน ผิด 3 ข้อหา ปรับ 150,000 บาท เปิดความเร็วสุดท้าย ก่อนชนรถไฟ]&lt;/ref&gt; หลังเกิดเหตุได้มีการนำทีมใมกู้ภัยเข้าช่วยเหลือ&lt;ref&gt;[http://portal.rotfaithai.com/modules.php?name=Forums&amp;file=viewtopic&amp;t=7558 รถสินค้า 852 แหลมฉบัง-ICDชนรถทัวร์ที่คลองแขวงกลั่น(11/10/63)]<del class="diffchange diffchange-inline">&lt;/ref&gt;&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1950159 นทพ. นำทหารช่วยปชช.เหตุรถไฟชนรถบัส และเคลียร์พื้นที่ จ.ฉะเชิงเทรา]&lt;/ref&gt; ต่อมาวันที่ 12 ต.ค. 2563 ได้มีผู้เสียชีวิตอีก2รายที่โรงพยาบาล รวม 20 ราย&lt;ref&gt;[https://www.posttoday.com/social/local/635218 ปภ.สรุปเหตุรถไฟชนบัสคณะทำบุญตาย20ศพเจ็บกว่า30]&lt;/ref&gt;&lt;ref&gt;[http://www.cco.chachoengsao.go.th/index.php/2016-02-15-05-52-57/2021-02-07-11-06-15/2016-02-15-07-20-42/3950-20-30 ผู้ว่าราชการจังหวัดฉะเชิงเทราลงพื้นที่ตรวจสอบ]{{ลิงก์เสีย|date=ธันวาคม 2022 |bot=InternetArchiveBot |fix-attempted=yes }}</del>&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''เหตุการณ์รถไฟขนส่งสินค้าชนรถบัสคณะกฐิน พ.ศ. 2563''' เป็นเหตุการณ์ที่นับว่าเป็นอุบัติเหตุทางรถไฟไทยที่ร้ายแรงครั้งหนึ่งของไทย เหตุเกิดขึ้นเมื่อเวลา 08.05 น. ของวันที่ 11 ตุลาคม พ.ศ. 2563 หลังจากรถบัสโดยสารหมายเลขทะเบียน 30-1476 พระนครศรีอยุธยาบรรทุกผู้โดยสารจำนวน 57 ราย ออกจากจังหวัดสมุทรปราการเพื่อไปทอดกฐินที่จังหวัดฉะเชิงเทรา เมื่อมาถึงที่เกิดเหตุเวลาประมาณ 08.05 น. ขณะขับผ่านทางข้ามรถไฟที่ไม่มีเครื่องกั้น นาย บุญส่ง สวนยิ้ม คนขับรถบัสโดยสารขับรถบัสโดยสารชนกับรถไฟบรรทุกสินค้าคอนเทนเนอร์ ที่ 852 ดีเซลเลขที่ 5102 มีต้นทางสถานีแหลมฉบัง และสถานีปลายทางลาดกระบังขณะที่ขบวนผ่านสถานีคลองบางพระ ถึง สทล.51/1 บริเวณป้ายหยุดรถคลองแขวงกลั่น ตำบลบางเตย โดยรถพุ่งไปชนกับหัวขบวนรถไฟ ทำให้คนขับและผู้โดยสารเสียชีวิตทันทีในที่เกิดเหตุ จำนวน 18 ราย และมีผู้บาดเจ็บ 30 ราย&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1950314 บัสคณะกฐิน ผิด 3 ข้อหา ปรับ 150,000 บาท เปิดความเร็วสุดท้าย ก่อนชนรถไฟ]&lt;/ref&gt; หลังเกิดเหตุได้มีการนำทีมใมกู้ภัยเข้าช่วยเหลือ&lt;ref&gt;[http://portal.rotfaithai.com/modules.php?name=Forums&amp;file=viewtopic&amp;t=7558 รถสินค้า 852 แหลมฉบัง-ICDชนรถทัวร์ที่คลองแขวงกลั่น(11/10/63)]&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1950159]&lt;/ref&gt;  ต่อมาวันที่ 12 ต.ค. 2563 ได้มีผู้เสียชีวิตอีก1รายที่โรงพยาบาล รวม 20 ราย&lt;ref&gt;[https://www.posttoday.com/social/local/635218 ปภ.สรุปเหตุรถไฟชนบัสคณะทำบุญตาย20ศพเจ็บกว่า30]&lt;/ref&gt;&lt;ref&gt;[http://www.cco.chachoengsao.go.th/index.php/2016-02-15-05-52-57/2021-02-07-11-06-15/2016-02-15-07-20-42/3950-20-30 ผู้ว่าราชการจังหวัดฉะเชิงเทราลงพื้นที่ตรวจสอบ]&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>==สาเหตุของอุบัติเหตุ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>==สาเหตุของอุบัติเหตุ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 72:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 73:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>==การแก้ไขปัญหาจุดตัดทางรถไฟที่เกิดเหตุ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>==การแก้ไขปัญหาจุดตัดทางรถไฟที่เกิดเหตุ==</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>*ผู้นำชุมชนเครื่องกั้นและป้ายหยุดตรวจมาตั้งที่ทางลักผ่านโดยมีเจ้าหน้าที่ของการรถไฟคอยโบก</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>*ผู้นำชุมชนเครื่องกั้นและป้ายหยุดตรวจมาตั้งที่ทางลักผ่านโดยมีเจ้าหน้าที่ของการรถไฟคอยโบก</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*ผู้ใหญ่บ้านหมู่7ของชุมชนบางเตยได้รับมอบคำสั่งจากนาย[[อำเภอเมืองฉะเชิงเทรา]]ให้ประสานหน่วยงานท้องถิ่นนำป้ายสัญญาณไฟมาติดตั้งบริเวณทางข้ามรถไฟ<del class="diffchange diffchange-inline">&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1951584</del> <del class="diffchange diffchange-inline">นอภ.สั่งตั้งป้าย "หยุดตรวจ” ทางลักผ่าน 19 ศพ รฟท.จัดคนคอยยืนโบก]&lt;/ref&gt;</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>*ผู้ใหญ่บ้านหมู่7ของชุมชนบางเตยได้รับมอบคำสั่งจากนาย[[อำเภอเมืองฉะเชิงเทรา]]ให้ประสานหน่วยงานท้องถิ่นนำป้ายสัญญาณไฟมาติดตั้งบริเวณทางข้ามรถไฟ </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1951584]&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>==ดูเพิ่ม==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>==ดูเพิ่ม==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 82:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 84:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[หมวดหมู่:ประเทศไทยในปี พ.ศ. 2563]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[หมวดหมู่:ประเทศไทยในปี พ.ศ. 2563]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[หมวดหมู่:เหตุการณ์ในจังหวัดฉะเชิงเทรา]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[หมวดหมู่:เหตุการณ์ในจังหวัดฉะเชิงเทรา]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[หมวดหมู่:การขนส่งในจังหวัดฉะเชิงเทรา]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[หมวดหมู่:อำเภอเมืองฉะเชิงเทรา]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 57</td>
  <td colspan="2" class="diff-lineno">Line 57</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''เหตุการณ์รถไฟขนส่งสินค้าชนรถบัสคณะกฐิน พ.ศ. 2563''' เป็นเหตุการณ์ที่นับว่าเป็นอุบัติเหตุทางรถไฟไทยที่ร้ายแรงครั้งหนึ่งของไทย เหตุเกิดขึ้นเมื่อเวลา 08.05 น. ของวันที่ 11 ตุลาคม พ.ศ. 2563 หลังจากรถบัสโดยสารหมายเลขทะเบียน 30-1476 พระนครศรีอยุธยาบรรทุกผู้โดยสารจำนวน 57 ราย ออกจากจังหวัดสมุทรปราการเพื่อไปทอดกฐินที่จังหวัดฉะเชิงเทรา เมื่อมาถึงที่เกิดเหตุเวลาประมาณ 08.05 น. ขณะขับผ่านทางข้ามรถไฟที่ไม่มีเครื่องกั้น นาย บุญส่ง สวนยิ้ม คนขับรถบัสโดยสารขับรถบัสโดยสารชนกับรถไฟบรรทุกสินค้าคอนเทนเนอร์ ที่ 852 ดีเซลเลขที่ 5102 มีต้นทางสถานีแหลมฉบัง และสถานีปลายทางลาดกระบังขณะที่ขบวนผ่านสถานีคลองบางพระ ถึง สทล.51/1 บริเวณป้ายหยุดรถคลองแขวงกลั่น ตำบลบางเตย โดยรถพุ่งไปชนกับหัวขบวนรถไฟ ทำให้คนขับและผู้โดยสารเสียชีวิตทันทีในที่เกิดเหตุ จำนวน 18 ราย และมีผู้บาดเจ็บ 30 ราย&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1950314 บัสคณะกฐิน ผิด 3 ข้อหา ปรับ 150,000 บาท เปิดความเร็วสุดท้าย ก่อนชนรถไฟ]&lt;/ref&gt; หลังเกิดเหตุได้มีการนำทีมใมกู้ภัยเข้าช่วยเหลือ&lt;ref&gt;[http://portal.rotfaithai.com/modules.php?name=Forums&amp;file=viewtopic&amp;t=7558 รถสินค้า 852 แหลมฉบัง-ICDชนรถทัวร์ที่คลองแขวงกลั่น(11/10/63)]&lt;/ref&gt;&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1950159<del class="diffchange diffchange-inline"> นทพ. นำทหารช่วยปชช.เหตุรถไฟชนรถบัส และเคลียร์พื้นที่ จ.ฉะเชิงเทรา</del>]&lt;/ref&gt; ต่อมาวันที่ 12 ต.ค. 2563 ได้มีผู้เสียชีวิตอีก<del class="diffchange diffchange-inline">2</del>รายที่โรงพยาบาล รวม 20 ราย&lt;ref&gt;[https://www.posttoday.com/social/local/635218 ปภ.สรุปเหตุรถไฟชนบัสคณะทำบุญตาย20ศพเจ็บกว่า30]&lt;/ref&gt;&lt;ref&gt;[http://www.cco.chachoengsao.go.th/index.php/2016-02-15-05-52-57/2021-02-07-11-06-15/2016-02-15-07-20-42/3950-20-30 ผู้ว่าราชการจังหวัดฉะเชิงเทราลงพื้นที่ตรวจสอบ]<del class="diffchange diffchange-inline">{{ลิงก์เสีย|date=ธันวาคม 2022 |bot=InternetArchiveBot |fix-attempted=yes }}</del>&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''เหตุการณ์รถไฟขนส่งสินค้าชนรถบัสคณะกฐิน พ.ศ. 2563''' เป็นเหตุการณ์ที่นับว่าเป็นอุบัติเหตุทางรถไฟไทยที่ร้ายแรงครั้งหนึ่งของไทย เหตุเกิดขึ้นเมื่อเวลา 08.05 น. ของวันที่ 11 ตุลาคม พ.ศ. 2563 หลังจากรถบัสโดยสารหมายเลขทะเบียน 30-1476 พระนครศรีอยุธยาบรรทุกผู้โดยสารจำนวน 57 ราย ออกจากจังหวัดสมุทรปราการเพื่อไปทอดกฐินที่จังหวัดฉะเชิงเทรา เมื่อมาถึงที่เกิดเหตุเวลาประมาณ 08.05 น. ขณะขับผ่านทางข้ามรถไฟที่ไม่มีเครื่องกั้น นาย บุญส่ง สวนยิ้ม คนขับรถบัสโดยสารขับรถบัสโดยสารชนกับรถไฟบรรทุกสินค้าคอนเทนเนอร์ ที่ 852 ดีเซลเลขที่ 5102 มีต้นทางสถานีแหลมฉบัง และสถานีปลายทางลาดกระบังขณะที่ขบวนผ่านสถานีคลองบางพระ ถึง สทล.51/1 บริเวณป้ายหยุดรถคลองแขวงกลั่น ตำบลบางเตย โดยรถพุ่งไปชนกับหัวขบวนรถไฟ ทำให้คนขับและผู้โดยสารเสียชีวิตทันทีในที่เกิดเหตุ จำนวน 18 ราย และมีผู้บาดเจ็บ 30 ราย&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1950314 บัสคณะกฐิน ผิด 3 ข้อหา ปรับ 150,000 บาท เปิดความเร็วสุดท้าย ก่อนชนรถไฟ]&lt;/ref&gt; หลังเกิดเหตุได้มีการนำทีมใมกู้ภัยเข้าช่วยเหลือ&lt;ref&gt;[http://portal.rotfaithai.com/modules.php?name=Forums&amp;file=viewtopic&amp;t=7558 รถสินค้า 852 แหลมฉบัง-ICDชนรถทัวร์ที่คลองแขวงกลั่น(11/10/63)]&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1950159]&lt;/ref&gt;<ins class="diffchange diffchange-inline"> </ins> ต่อมาวันที่ 12 ต.ค. 2563 ได้มีผู้เสียชีวิตอีก<ins class="diffchange diffchange-inline">1</ins>รายที่โรงพยาบาล รวม 20 ราย&lt;ref&gt;[https://www.posttoday.com/social/local/635218 ปภ.สรุปเหตุรถไฟชนบัสคณะทำบุญตาย20ศพเจ็บกว่า30]&lt;/ref&gt;&lt;ref&gt;[http://www.cco.chachoengsao.go.th/index.php/2016-02-15-05-52-57/2021-02-07-11-06-15/2016-02-15-07-20-42/3950-20-30 ผู้ว่าราชการจังหวัดฉะเชิงเทราลงพื้นที่ตรวจสอบ]&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>==สาเหตุของอุบัติเหตุ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>==สาเหตุของอุบัติเหตุ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 72</td>
  <td colspan="2" class="diff-lineno">Line 73</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>==การแก้ไขปัญหาจุดตัดทางรถไฟที่เกิดเหตุ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>==การแก้ไขปัญหาจุดตัดทางรถไฟที่เกิดเหตุ==</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>*ผู้นำชุมชนเครื่องกั้นและป้ายหยุดตรวจมาตั้งที่ทางลักผ่านโดยมีเจ้าหน้าที่ของการรถไฟคอยโบก</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>*ผู้นำชุมชนเครื่องกั้นและป้ายหยุดตรวจมาตั้งที่ทางลักผ่านโดยมีเจ้าหน้าที่ของการรถไฟคอยโบก</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>*ผู้ใหญ่บ้านหมู่7ของชุมชนบางเตยได้รับมอบคำสั่งจากนาย[[อำเภอเมืองฉะเชิงเทรา]]ให้ประสานหน่วยงานท้องถิ่นนำป้ายสัญญาณไฟมาติดตั้งบริเวณทางข้ามรถไฟ&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1951584<del class="diffchange diffchange-inline"> นอภ.สั่งตั้งป้าย "หยุดตรวจ” ทางลักผ่าน 19 ศพ รฟท.จัดคนคอยยืนโบก</del>]&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>*ผู้ใหญ่บ้านหมู่7ของชุมชนบางเตยได้รับมอบคำสั่งจากนาย[[อำเภอเมืองฉะเชิงเทรา]]ให้ประสานหน่วยงานท้องถิ่นนำป้ายสัญญาณไฟมาติดตั้งบริเวณทางข้ามรถไฟ<ins class="diffchange diffchange-inline"> </ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>&lt;ref&gt;[https://www.thairath.co.th/news/local/central/1951584]&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>==ดูเพิ่ม==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>==ดูเพิ่ม==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 82</td>
  <td colspan="2" class="diff-lineno">Line 84</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[หมวดหมู่:ประเทศไทยในปี พ.ศ. 2563]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[หมวดหมู่:ประเทศไทยในปี พ.ศ. 2563]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[หมวดหมู่:เหตุการณ์ในจังหวัดฉะเชิงเทรา]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[หมวดหมู่:เหตุการณ์ในจังหวัดฉะเชิงเทรา]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[หมวดหมู่:การขนส่งในจังหวัดฉะเชิงเทรา]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[หมวดหมู่:อำเภอเมืองฉะเชิงเทรา]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
</tbody></table>
</body></html>
