<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 153404762 to 190087940</h1><h2>Existing two-column diff</h2><a href="https://fr.wikipedia.org/w/index.php?title=Merv&oldid=153404762&diff=190087940">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://fr.wikipedia.org/w/index.php?title=Merv&oldid=153404762">153404762</a></href></td><td colspan=2><a href="https://fr.wikipedia.org/w/index.php?title=Merv&oldid=190087940">190087940</a></tr><tr>
  <td colspan="2" class="diff-lineno">Ligne 2 :</td>
  <td colspan="2" class="diff-lineno">Ligne 2 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{ébauche|ONU|archéologie}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{ébauche|ONU|archéologie}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Infobox Patrimoine mondial</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Infobox Patrimoine mondial</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Nom</del>         = Parc national historique et culturel de l’« Ancienne Merv »</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">nom</ins>         = Parc national historique et culturel de l’« Ancienne Merv »</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Image</del>       = Mervturkmenistan.jpg</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">image</ins>       = Mervturkmenistan.jpg</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Legende</del>     =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">légende</ins>     =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Latitude</del>    = 37/42/03/N</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">latitude</ins>    = 37/42/03/N</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Longitude</del>   = 62/10/39/E</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">longitude</ins>   = 62/10/39/E</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Échelle</del>     = </div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">échelle</ins>     = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Pays</del>        = {{Turkménistan}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">pays</ins>        = {{Turkménistan}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Type</del>        = culturel</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">type</ins>        = culturel</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Critères</del>    = (ii) (iii)</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">critères</ins>    = (ii) (iii)</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Superficie</del>  =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">superficie</ins>  =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Subdivision</del> =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">subdivision</ins> =</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| ID          = 886</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| ID          = 886</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Région</del>      = Asie et Pacifique</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">région</ins>      = Asie et Pacifique</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Année</del>       = 1999</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">année</ins>       = 1999</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Retrait</del>     =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">retrait</ins>     =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Extension</del>   =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">extension</ins>   =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Extension2</del>  =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">extension2</ins>  =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Domaine</del>     =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">domaine</ins>     =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Danger</del>      =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">danger</ins>      =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">DangerFin</del>   =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">danger fin</ins>   =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Carte</del>       =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">carte</ins>       =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Note</del>        =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">note</ins>        =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Géolocalisation</del>  = Turkménistan</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">géolocalisation</ins>  = Turkménistan</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''Merv''', parfois <del class="diffchange diffchange-inline">orthographié</del> '''Marv''' (en [[turkmène]] : Merw ; en [[Persan|farsi]] : مرو ''Marw''), autrefois satrapie de [[Margiane]], était une ville de l'[[Asie centrale]], sur la [[route de la soie|route historique de la soie]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''Merv''', parfois <ins class="diffchange diffchange-inline">orthographiée</ins> '''Marv''' (en [[turkmène]] : Merw ; en [[Persan|farsi]] : مرو ''Marw''), autrefois satrapie de [[Margiane]], était une ville de l'[[Asie centrale]], sur la [[route de la soie|route historique de la soie]]<ins class="diffchange diffchange-inline">.</ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Ses vestiges sont situés aujourd'hui près de la ville de [[Mary (ville)|Mary]] au [[Turkmenistan]].</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Ses vestiges sont situés aujourd'hui près de la ville de [[Mary (ville)|Mary]] au [[Turkmenistan]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Historique ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Historique ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>C'est une ville plusieurs fois millénaire selon le [[Avesta|Zend Avesta]] du prophète [[<del class="diffchange diffchange-inline">Perse</del>|iranien]] [[Zoroastre|Zarathoustra]]. Des traditions [[hindouisme|hindoues]] et [[arabes]] en font « le siège du [[paradis]] terrestre ».</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>C'est une ville plusieurs fois millénaire selon le [[Avesta|Zend Avesta]] du prophète [[<ins class="diffchange diffchange-inline">Histoire de l'Iran#Antiquité</ins>|iranien]] [[Zoroastre|Zarathoustra]]. Des traditions [[hindouisme|hindoues]] et [[arabes]] en font « le siège du [[paradis]] terrestre ».</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La ville a connu plusieurs refondations au cours d'une histoire millénaire et a connu divers noms comme « '''Mourou''' » à l'époque [[<del class="diffchange diffchange-inline">Achéménide</del>]], puis « '''Alexandrie de Margiane''' » ([[Villes fondées par Alexandre|ville fondée par Alexandre]]) et enfin « '''Antioche de Margiane''' » sous les Macédoniens&lt;ref&gt;Cf. Bulletin du Musée d'ethnographie de la ville de Genève, vol. 29-32, 1987, p. 11&lt;/ref&gt;.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>La ville a connu plusieurs refondations au cours d'une histoire <ins class="diffchange diffchange-inline">multi-</ins>millénaire et a connu divers noms comme « '''Mourou''' » à l'époque [[<ins class="diffchange diffchange-inline">Achéménides|achéménide</ins>]], puis « '''Alexandrie de Margiane''' » ([[Villes fondées par Alexandre|ville fondée par Alexandre]]) et enfin « '''Antioche de Margiane''' » sous les Macédoniens&lt;ref&gt;Cf. Bulletin du Musée d'ethnographie de la ville de Genève, vol. 29-32, 1987, p. 11&lt;/ref&gt;.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Ce fut un important [[évêché]] du [[christianisme]] [[nestorianisme|nestorien]] entre le {{sp-|VI|e| et le|XIV|e}}. En 651, le dernier roi [[perse]] [[Sassanides|sassanide]], [[Yazdgard III]], fut assassiné à Merv.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Ce fut un important [[évêché]] du [[christianisme]] [[nestorianisme|nestorien]] entre le {{sp-|VI|e| et le|XIV|e}}. En 651, le dernier roi [[<ins class="diffchange diffchange-inline">Empire perse|</ins>perse]] [[Sassanides|sassanide]], [[Yazdgard III]], fut assassiné à Merv.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Merv fut un temps capitale des [[Seldjoukides]] avant leur avancée vers l'[[Iran]].</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Merv fut un temps capitale des [[Seldjoukides]] avant leur avancée vers l'[[Iran]].</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Ligne 42 :</td>
  <td colspan="2" class="diff-lineno">Ligne 42 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Omar Khayyam]] ([[1048]]-[[1131]]) y séjourna de [[1116]] à [[1118]] et s'y consacra à des travaux d'[[astronomie]] avant de revenir finir sa vie dans sa ville natale de [[Nichapur]].</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Omar Khayyam]] ([[1048]]-[[1131]]) y séjourna de [[1116]] à [[1118]] et s'y consacra à des travaux d'[[astronomie]] avant de revenir finir sa vie dans sa ville natale de [[Nichapur]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Ce fut une ville de haute culture, renommée pour ses dix [[bibliothèque]]s, et [[Yaqout al-Rumi]] ([[1179]]-[[1229]]) y resta deux ans, peu avant sa destruction par les [[Mongols]] en [[1221]].</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Ce fut une ville de haute culture, renommée pour ses dix [[bibliothèque]]s, et [[Yaqout al-<ins class="diffchange diffchange-inline">Rumi|</ins>Rumi]] ([[1179]]-[[1229]]) y resta deux ans, peu avant sa destruction par les [[Mongols]] en [[1221]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>En [[1999]], le Parc national historique et culturel de l’« Ancienne Merv » a été inscrit au [[patrimoine mondial de l'humanité]] par l'[[Organisation des Nations unies pour l'éducation, la science et la culture|UNESCO]].</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>En [[1999]], le Parc national historique et culturel de l’« Ancienne Merv » a été inscrit au [[patrimoine mondial de l'humanité]] par l'[[Organisation des Nations unies pour l'éducation, la science et la culture|UNESCO]].</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Ligne 68 :</td>
  <td colspan="2" class="diff-lineno">Ligne 68 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Catégorie:Architecture en terre]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Catégorie:Architecture en terre]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Catégorie:Ville fondée par Alexandre le Grand]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Catégorie:Ville fondée par Alexandre le Grand]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Catégorie:Tell]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Catégorie:Ancienne capitale de pays]]</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff changeThreshold = 0.3</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 2</td>
  <td colspan="2" class="diff-lineno">Line 2</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{ébauche|ONU|archéologie}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{ébauche|ONU|archéologie}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Infobox Patrimoine mondial</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Infobox Patrimoine mondial</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Nom</del>         = Parc national historique et culturel de l’« Ancienne Merv »</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">nom</ins>         = Parc national historique et culturel de l’« Ancienne Merv »</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Image</del>       = Mervturkmenistan.jpg</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">image</ins>       = Mervturkmenistan.jpg</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Legende</del>     =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">légende</ins>     =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Latitude</del>    = 37/42/03/N</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">latitude</ins>    = 37/42/03/N</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Longitude</del>   = 62/10/39/E</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">longitude</ins>   = 62/10/39/E</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Échelle</del>     = </div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">échelle</ins>     = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Pays</del>        = {{Turkménistan}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">pays</ins>        = {{Turkménistan}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Type</del>        = culturel</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">type</ins>        = culturel</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Critères</del>    = (ii) (iii)</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">critères</ins>    = (ii) (iii)</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Superficie</del>  =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">superficie</ins>  =</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| subdivision =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| Subdivision =</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| ID          = 886</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| ID          = 886</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Région</del>      = Asie et Pacifique</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">région</ins>      = Asie et Pacifique</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Année</del>       = 1999</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">année</ins>       = 1999</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Retrait</del>     =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">retrait</ins>     =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Extension</del>   =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">extension</ins>   =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Extension2</del>  =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">extension2</ins>  =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Domaine</del>     =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">domaine</ins>     =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Danger</del>      =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">danger</ins>      =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">DangerFin</del>   =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">danger fin</ins>   =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Carte</del>       =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">carte</ins>       =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Note</del>        =</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">note</ins>        =</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| <del class="diffchange diffchange-inline">Géolocalisation</del>  = Turkménistan</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| <ins class="diffchange diffchange-inline">géolocalisation</ins>  = Turkménistan</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''Merv''', parfois <del class="diffchange diffchange-inline">orthographié</del> '''Marv''' (en [[turkmène]] : Merw ; en [[Persan|farsi]] : مرو ''Marw''), autrefois satrapie de [[Margiane]], était une ville de l'[[Asie centrale]], sur la [[route de la soie|route historique de la soie]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''Merv''', parfois <ins class="diffchange diffchange-inline">orthographiée</ins> '''Marv''' (en [[turkmène]] : Merw ; en [[Persan|farsi]] : مرو ''Marw''), autrefois satrapie de [[Margiane]], était une ville de l'[[Asie centrale]], sur la [[route de la soie|route historique de la soie]]<ins class="diffchange diffchange-inline">.</ins></div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Ses vestiges sont situés aujourd'hui près de la ville de [[Mary (ville)|Mary]] au [[Turkmenistan]].</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Ses vestiges sont situés aujourd'hui près de la ville de [[Mary (ville)|Mary]] au [[Turkmenistan]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Historique ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Historique ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>C'est une ville plusieurs fois millénaire selon le [[Avesta|Zend Avesta]] du prophète [[<del class="diffchange diffchange-inline">Perse</del>|iranien]] [[Zoroastre|Zarathoustra]]. Des traditions [[hindouisme|hindoues]] et [[arabes]] en font « le siège du [[paradis]] terrestre ».</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>C'est une ville plusieurs fois millénaire selon le [[Avesta|Zend Avesta]] du prophète [[<ins class="diffchange diffchange-inline">Histoire de l'Iran#Antiquité</ins>|iranien]] [[Zoroastre|Zarathoustra]]. Des traditions [[hindouisme|hindoues]] et [[arabes]] en font « le siège du [[paradis]] terrestre ».</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La ville a connu plusieurs refondations au cours d'une histoire millénaire et a connu divers noms comme « '''Mourou''' » à l'époque [[<del class="diffchange diffchange-inline">Achéménide</del>]], puis « '''Alexandrie de Margiane''' » ([[Villes fondées par Alexandre|ville fondée par Alexandre]]) et enfin « '''Antioche de Margiane''' » sous les Macédoniens&lt;ref&gt;Cf. Bulletin du Musée d'ethnographie de la ville de Genève, vol. 29-32, 1987, p. 11&lt;/ref&gt;.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>La ville a connu plusieurs refondations au cours d'une histoire <ins class="diffchange diffchange-inline">multi-</ins>millénaire et a connu divers noms comme « '''Mourou''' » à l'époque [[<ins class="diffchange diffchange-inline">Achéménides|achéménide</ins>]], puis « '''Alexandrie de Margiane''' » ([[Villes fondées par Alexandre|ville fondée par Alexandre]]) et enfin « '''Antioche de Margiane''' » sous les Macédoniens&lt;ref&gt;Cf. Bulletin du Musée d'ethnographie de la ville de Genève, vol. 29-32, 1987, p. 11&lt;/ref&gt;.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Ce fut un important [[évêché]] du [[christianisme]] [[nestorianisme|nestorien]] entre le {{sp-|VI|e| et le|XIV|e}}. En 651, le dernier roi [[perse]] [[Sassanides|sassanide]], [[Yazdgard III]], fut assassiné à Merv.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Ce fut un important [[évêché]] du [[christianisme]] [[nestorianisme|nestorien]] entre le {{sp-|VI|e| et le|XIV|e}}. En 651, le dernier roi [[<ins class="diffchange diffchange-inline">Empire perse|</ins>perse]] [[Sassanides|sassanide]], [[Yazdgard III]], fut assassiné à Merv.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Merv fut un temps capitale des [[Seldjoukides]] avant leur avancée vers l'[[Iran]].</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Merv fut un temps capitale des [[Seldjoukides]] avant leur avancée vers l'[[Iran]].</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 42</td>
  <td colspan="2" class="diff-lineno">Line 42</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Omar Khayyam]] ([[1048]]-[[1131]]) y séjourna de [[1116]] à [[1118]] et s'y consacra à des travaux d'[[astronomie]] avant de revenir finir sa vie dans sa ville natale de [[Nichapur]].</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Omar Khayyam]] ([[1048]]-[[1131]]) y séjourna de [[1116]] à [[1118]] et s'y consacra à des travaux d'[[astronomie]] avant de revenir finir sa vie dans sa ville natale de [[Nichapur]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Ce fut une ville de haute culture, renommée pour ses dix [[bibliothèque]]s, et [[Yaqout al-Rumi]] ([[1179]]-[[1229]]) y resta deux ans, peu avant sa destruction par les [[Mongols]] en [[1221]].</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Ce fut une ville de haute culture, renommée pour ses dix [[bibliothèque]]s, et [[Yaqout al-<ins class="diffchange diffchange-inline">Rumi|</ins>Rumi]] ([[1179]]-[[1229]]) y resta deux ans, peu avant sa destruction par les [[Mongols]] en [[1221]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>En [[1999]], le Parc national historique et culturel de l’« Ancienne Merv » a été inscrit au [[patrimoine mondial de l'humanité]] par l'[[Organisation des Nations unies pour l'éducation, la science et la culture|UNESCO]].</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>En [[1999]], le Parc national historique et culturel de l’« Ancienne Merv » a été inscrit au [[patrimoine mondial de l'humanité]] par l'[[Organisation des Nations unies pour l'éducation, la science et la culture|UNESCO]].</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 68</td>
  <td colspan="2" class="diff-lineno">Line 68</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Catégorie:Architecture en terre]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Catégorie:Architecture en terre]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Catégorie:Ville fondée par Alexandre le Grand]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Catégorie:Ville fondée par Alexandre le Grand]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Catégorie:Tell]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Catégorie:Ancienne capitale de pays]]</div></td>
</tr>
</tbody></table>
</body></html>
