<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 148652742 to 99113998</h1><h2>Existing two-column diff</h2><a href="https://fr.wikipedia.org/w/index.php?title=Modèle:Données/Nages-et-Solorgues/informations générales&oldid=148652742&diff=99113998">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://fr.wikipedia.org/w/index.php?title=Modèle:Données/Nages-et-Solorgues/informations générales&oldid=148652742">148652742</a></href></td><td colspan=2><a href="https://fr.wikipedia.org/w/index.php?title=Modèle:Données/Nages-et-Solorgues/informations générales&oldid=99113998">99113998</a></tr><tr>
  <td colspan="2" class="diff-lineno">Ligne 1 :</td>
  <td colspan="2" class="diff-lineno">Ligne 1 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>&lt;includeonly&gt;{{#switch: {{{1|}}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>&lt;includeonly&gt;{{#switch: {{{1|}}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source1=http://www.insee.fr/fr/<del class="diffchange diffchange-inline">methodes</del>/<del class="diffchange diffchange-inline">nomenclatures/zonages/commune</del>.asp?<del class="diffchange diffchange-inline">depcom</del>=<del class="diffchange diffchange-inline">30186</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source1=http://www.insee.fr/fr/<ins class="diffchange diffchange-inline">themes</ins>/<ins class="diffchange diffchange-inline">detail</ins>.asp?<ins class="diffchange diffchange-inline">reg_id=99&amp;ref_id</ins>=<ins class="diffchange diffchange-inline">base-cc-table-appartenance-geo-communes</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source2=http://www.<del class="diffchange diffchange-inline">collectivites-locales.gouv</del>.fr/<del class="diffchange diffchange-inline">liste-et-composition-2015</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source2=http://www.<ins class="diffchange diffchange-inline">insee</ins>.fr/<ins class="diffchange diffchange-inline">fr/methodes/nomenclatures/cog/canarr.asp?codedep=30&amp;codearr=0</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source3=http://www.insee.fr/fr/methodes/nomenclatures/cog/comcan.asp?codedep=30&amp;codecan=32</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source3=https://www.banatic.interieur.gouv.fr/V5/recherche-de-groupements/fiche-raison-sociale-PDF.php?siren=243000569&amp;arch=01/04/2015&amp;dcou=</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |source4=http://professionnels.ign.fr/sites/default/files/RGC2012.tar</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |source4=http://professionnels.ign.fr/sites/default/files/RGC2012.tar</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |source5=http://www.habitants.fr/habitants_departement_gard_30.html</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |source5=http://www.habitants.fr/habitants_departement_gard_30.html</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Ligne 9 :</td>
  <td colspan="2" class="diff-lineno">Ligne 9 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |sourceAU2010=http://www.insee.fr/fr/methodes/zonages/AU2010.zip</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |sourceAU2010=http://www.insee.fr/fr/methodes/zonages/AU2010.zip</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |insee=30186</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |insee=30186</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Paragraphe déplacé. Cliquer pour accéder à l’ancien emplacement." href="#movedpara_8_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_5_0_rhs"></a> |arrondissement=[[<ins class="diffchange diffchange-inline">arrondissement</ins> de Nîmes|Nîmes]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |code postal=30114</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Paragraphe déplacé. Cliquer pour accéder à l’ancien emplacement." href="#movedpara_9_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_7_0_rhs"></a> |canton=[[<ins class="diffchange diffchange-inline">canton</ins> de Sommières|Sommières]]</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Paragraphe déplacé. Cliquer pour accéder au nouvel emplacement." href="#movedpara_5_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_8_0_lhs"></a> |arrondissement=[[<del class="diffchange diffchange-inline">Arrondissement</del> de Nîmes|Nîmes]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Paragraphe déplacé. Cliquer pour accéder au nouvel emplacement." href="#movedpara_7_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_9_0_lhs"></a> |canton<del class="diffchange diffchange-inline"> avant 2015</del>=[[<del class="diffchange diffchange-inline">Canton</del> de Sommières|Sommières]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |canton=[[Canton de Calvisson|Calvisson]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |département=[[Gard |Gard]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |département=[[Gard |Gard]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |gentilé=Nageois</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |gentilé=Nageois</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Paragraphe déplacé. Cliquer pour accéder à l’ancien emplacement." href="#movedpara_14_4_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_11_0_rhs"></a> |<ins class="diffchange diffchange-inline">code_EPCI</ins>=243000569</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |siren_com= 213001860</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |intercommunalité=[[Communauté de communes Rhôny Vistre Vidourle|CC <del class="diffchange diffchange-inline">Rhôny</del> Vistre Vidourle]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |intercommunalité=[[Communauté de communes Rhôny Vistre Vidourle|CC <ins class="diffchange diffchange-inline">Rhony,</ins> Vistre<ins class="diffchange diffchange-inline">,</ins> Vidourle]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_nb=10</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_nj=CC</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_an=2018</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |dep_epci=30</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Paragraphe déplacé. Cliquer pour accéder au nouvel emplacement." href="#movedpara_11_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_14_4_lhs"></a> |<del class="diffchange diffchange-inline">siren_epci</del>=243000569</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |nj_epci2015=CC</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |fisc_epci2015=FPU</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |nb_com_epci_2015=10</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |nom=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |nom=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |zone_d'emploi_2010=Nîmes</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |zone_d'emploi_2010=Nîmes</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>&lt;includeonly&gt;{{#switch: {{{1|}}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>&lt;includeonly&gt;{{#switch: {{{1|}}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source1=http://www.insee.fr/fr/<del class="diffchange diffchange-inline">methodes</del>/<del class="diffchange diffchange-inline">nomenclatures/zonages/commune</del>.asp?<del class="diffchange diffchange-inline">depcom</del>=<del class="diffchange diffchange-inline">30186</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source1=http://www.insee.fr/fr/<ins class="diffchange diffchange-inline">themes</ins>/<ins class="diffchange diffchange-inline">detail</ins>.asp?<ins class="diffchange diffchange-inline">reg_id=99&amp;ref_id</ins>=<ins class="diffchange diffchange-inline">base-cc-table-appartenance-geo-communes</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source2=http://www.<del class="diffchange diffchange-inline">collectivites-locales.gouv</del>.fr/<del class="diffchange diffchange-inline">liste-et-composition-2015</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source2=http://www.<ins class="diffchange diffchange-inline">insee</ins>.fr/<ins class="diffchange diffchange-inline">fr/methodes/nomenclatures/cog/canarr.asp?codedep=30&amp;codearr=0</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source3=http://www.insee.fr/fr/methodes/nomenclatures/cog/comcan.asp?codedep=30&amp;codecan=32</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source3=https://www.banatic.interieur.gouv.fr/V5/recherche-de-groupements/fiche-raison-sociale-PDF.php?siren=243000569&amp;arch=01/04/2015&amp;dcou=</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |source4=http://professionnels.ign.fr/sites/default/files/RGC2012.tar</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |source4=http://professionnels.ign.fr/sites/default/files/RGC2012.tar</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |source5=http://www.habitants.fr/habitants_departement_gard_30.html</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |source5=http://www.habitants.fr/habitants_departement_gard_30.html</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 9</td>
  <td colspan="2" class="diff-lineno">Line 9</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |sourceAU2010=http://www.insee.fr/fr/methodes/zonages/AU2010.zip</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |sourceAU2010=http://www.insee.fr/fr/methodes/zonages/AU2010.zip</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |insee=30186</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |insee=30186</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |arrondissement=[[arrondissement de Nîmes|Nîmes]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |code postal=30114</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |<del class="diffchange diffchange-inline">arrondissement</del>=[[<del class="diffchange diffchange-inline">Arrondissement</del> de <del class="diffchange diffchange-inline">Nîmes</del>|<del class="diffchange diffchange-inline">Nîmes</del>]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |<ins class="diffchange diffchange-inline">canton</ins>=[[<ins class="diffchange diffchange-inline">canton</ins> de <ins class="diffchange diffchange-inline">Sommières</ins>|<ins class="diffchange diffchange-inline">Sommières</ins>]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |canton avant 2015=[[Canton de Sommières|Sommières]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |canton=[[Canton de Calvisson|Calvisson]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |département=[[Gard |Gard]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |département=[[Gard |Gard]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |gentilé=Nageois</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |gentilé=Nageois</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_13_4_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_0_rhs"></a> |<ins class="diffchange diffchange-inline">code_EPCI</ins>=243000569</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |siren_com= 213001860</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |intercommunalité=[[Communauté de communes Rhôny Vistre Vidourle|CC <del class="diffchange diffchange-inline">Rhôny</del> Vistre Vidourle]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |intercommunalité=[[Communauté de communes Rhôny Vistre Vidourle|CC <ins class="diffchange diffchange-inline">Rhony,</ins> Vistre<ins class="diffchange diffchange-inline">,</ins> Vidourle]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_nb=10</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_nj=CC</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_an=2018</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |dep_epci=30</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_10_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_13_4_lhs"></a> |<del class="diffchange diffchange-inline">siren_epci</del>=243000569</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |nj_epci2015=CC</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |fisc_epci2015=FPU</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |nb_com_epci_2015=10</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |nom=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |nom=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |zone_d'emploi_2010=Nîmes</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |zone_d'emploi_2010=Nîmes</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff changeThreshold = 0.3</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>&lt;includeonly&gt;{{#switch: {{{1|}}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>&lt;includeonly&gt;{{#switch: {{{1|}}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source1=http://www.insee.fr/fr/<del class="diffchange diffchange-inline">methodes</del>/<del class="diffchange diffchange-inline">nomenclatures/zonages/commune</del>.asp?<del class="diffchange diffchange-inline">depcom</del>=<del class="diffchange diffchange-inline">30186</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source1=http://www.insee.fr/fr/<ins class="diffchange diffchange-inline">themes</ins>/<ins class="diffchange diffchange-inline">detail</ins>.asp?<ins class="diffchange diffchange-inline">reg_id=99&amp;ref_id</ins>=<ins class="diffchange diffchange-inline">base-cc-table-appartenance-geo-communes</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source2=http://www.insee.fr/fr/methodes/nomenclatures/cog/canarr.asp?codedep=30&amp;codearr=0</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source2=http://www.collectivites-locales.gouv.fr/liste-et-composition-2015</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source3=http://www.insee.fr/fr/methodes/nomenclatures/cog/comcan.asp?codedep=30&amp;codecan=32</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source3=https://www.banatic.interieur.gouv.fr/V5/recherche-de-groupements/fiche-raison-sociale-PDF.php?siren=243000569&amp;arch=01/04/2015&amp;dcou=</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |source4=http://professionnels.ign.fr/sites/default/files/RGC2012.tar</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |source4=http://professionnels.ign.fr/sites/default/files/RGC2012.tar</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |source5=http://www.habitants.fr/habitants_departement_gard_30.html</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |source5=http://www.habitants.fr/habitants_departement_gard_30.html</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 9</td>
  <td colspan="2" class="diff-lineno">Line 9</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |sourceAU2010=http://www.insee.fr/fr/methodes/zonages/AU2010.zip</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |sourceAU2010=http://www.insee.fr/fr/methodes/zonages/AU2010.zip</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |insee=30186</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |insee=30186</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_10_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_7_0_rhs"></a> |arrondissement=[[<ins class="diffchange diffchange-inline">arrondissement</ins> de Nîmes|Nîmes]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |code postal=30114</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_11_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_9_0_rhs"></a> |canton=[[<ins class="diffchange diffchange-inline">canton</ins> de Sommières|Sommières]]</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_7_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_10_0_lhs"></a> |arrondissement=[[<del class="diffchange diffchange-inline">Arrondissement</del> de Nîmes|Nîmes]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_9_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_11_0_lhs"></a> |canton<del class="diffchange diffchange-inline"> avant 2015</del>=[[<del class="diffchange diffchange-inline">Canton</del> de Sommières|Sommières]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |canton=[[Canton de Calvisson|Calvisson]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |département=[[Gard |Gard]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |département=[[Gard |Gard]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |gentilé=Nageois</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |gentilé=Nageois</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_16_4_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_13_0_rhs"></a> |<ins class="diffchange diffchange-inline">code_EPCI</ins>=243000569</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |siren_com= 213001860</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |intercommunalité=[[Communauté de communes Rhôny Vistre Vidourle|CC <del class="diffchange diffchange-inline">Rhôny</del> Vistre Vidourle]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |intercommunalité=[[Communauté de communes Rhôny Vistre Vidourle|CC <ins class="diffchange diffchange-inline">Rhony,</ins> Vistre<ins class="diffchange diffchange-inline">,</ins> Vidourle]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_nb=10</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_nj=CC</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_an=2018</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |dep_epci=30</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_13_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_16_4_lhs"></a> |<del class="diffchange diffchange-inline">siren_epci</del>=243000569</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |nj_epci2015=CC</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |fisc_epci2015=FPU</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |nb_com_epci_2015=10</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |nom=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |nom=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |zone_d'emploi_2010=Nîmes</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |zone_d'emploi_2010=Nîmes</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff maxSplitSize = 1</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>&lt;includeonly&gt;{{#switch: {{{1|}}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>&lt;includeonly&gt;{{#switch: {{{1|}}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source1=http://www.insee.fr/fr/<del class="diffchange diffchange-inline">methodes</del>/<del class="diffchange diffchange-inline">nomenclatures/zonages/commune</del>.asp?<del class="diffchange diffchange-inline">depcom</del>=<del class="diffchange diffchange-inline">30186</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source1=http://www.insee.fr/fr/<ins class="diffchange diffchange-inline">themes</ins>/<ins class="diffchange diffchange-inline">detail</ins>.asp?<ins class="diffchange diffchange-inline">reg_id=99&amp;ref_id</ins>=<ins class="diffchange diffchange-inline">base-cc-table-appartenance-geo-communes</ins></div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source2=http://www.<del class="diffchange diffchange-inline">collectivites-locales.gouv</del>.fr/<del class="diffchange diffchange-inline">liste-et-composition-2015</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source2=http://www.<ins class="diffchange diffchange-inline">insee</ins>.fr/<ins class="diffchange diffchange-inline">fr/methodes/nomenclatures/cog/canarr.asp?codedep=30&amp;codearr=0</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source3=http://www.insee.fr/fr/methodes/nomenclatures/cog/comcan.asp?codedep=30&amp;codecan=32</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source3=https://www.banatic.interieur.gouv.fr/V5/recherche-de-groupements/fiche-raison-sociale-PDF.php?siren=243000569&amp;arch=01/04/2015&amp;dcou=</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |source4=http://professionnels.ign.fr/sites/default/files/RGC2012.tar</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |source4=http://professionnels.ign.fr/sites/default/files/RGC2012.tar</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |source5=http://www.habitants.fr/habitants_departement_gard_30.html</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |source5=http://www.habitants.fr/habitants_departement_gard_30.html</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 9</td>
  <td colspan="2" class="diff-lineno">Line 9</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |sourceAU2010=http://www.insee.fr/fr/methodes/zonages/AU2010.zip</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |sourceAU2010=http://www.insee.fr/fr/methodes/zonages/AU2010.zip</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |insee=30186</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |insee=30186</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |arrondissement=[[arrondissement de Nîmes|Nîmes]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |code postal=30114</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |<del class="diffchange diffchange-inline">arrondissement</del>=[[<del class="diffchange diffchange-inline">Arrondissement</del> de <del class="diffchange diffchange-inline">Nîmes</del>|<del class="diffchange diffchange-inline">Nîmes</del>]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |<ins class="diffchange diffchange-inline">canton</ins>=[[<ins class="diffchange diffchange-inline">canton</ins> de <ins class="diffchange diffchange-inline">Sommières</ins>|<ins class="diffchange diffchange-inline">Sommières</ins>]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |canton avant 2015=[[Canton de Sommières|Sommières]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |canton=[[Canton de Calvisson|Calvisson]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |département=[[Gard |Gard]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |département=[[Gard |Gard]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |gentilé=Nageois</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |gentilé=Nageois</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_13_4_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_0_rhs"></a> |<ins class="diffchange diffchange-inline">code_EPCI</ins>=243000569</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |siren_com= 213001860</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |intercommunalité=[[Communauté de communes Rhôny Vistre Vidourle|CC <del class="diffchange diffchange-inline">Rhôny</del> Vistre Vidourle]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |intercommunalité=[[Communauté de communes Rhôny Vistre Vidourle|CC <ins class="diffchange diffchange-inline">Rhony,</ins> Vistre<ins class="diffchange diffchange-inline">,</ins> Vidourle]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_nb=10</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_nj=CC</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_an=2018</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |dep_epci=30</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_10_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_13_4_lhs"></a> |<del class="diffchange diffchange-inline">siren_epci</del>=243000569</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |nj_epci2015=CC</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |fisc_epci2015=FPU</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |nb_com_epci_2015=10</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |nom=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |nom=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |zone_d'emploi_2010=Nîmes</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |zone_d'emploi_2010=Nîmes</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff both</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>&lt;includeonly&gt;{{#switch: {{{1|}}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>&lt;includeonly&gt;{{#switch: {{{1|}}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source1=http://www.insee.fr/fr/<del class="diffchange diffchange-inline">methodes</del>/<del class="diffchange diffchange-inline">nomenclatures/zonages/commune</del>.asp?<del class="diffchange diffchange-inline">depcom</del>=<del class="diffchange diffchange-inline">30186</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source1=http://www.insee.fr/fr/<ins class="diffchange diffchange-inline">themes</ins>/<ins class="diffchange diffchange-inline">detail</ins>.asp?<ins class="diffchange diffchange-inline">reg_id=99&amp;ref_id</ins>=<ins class="diffchange diffchange-inline">base-cc-table-appartenance-geo-communes</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source2=http://www.insee.fr/fr/methodes/nomenclatures/cog/canarr.asp?codedep=30&amp;codearr=0</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source2=http://www.collectivites-locales.gouv.fr/liste-et-composition-2015</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |source3=http://www.insee.fr/fr/methodes/nomenclatures/cog/comcan.asp?codedep=30&amp;codecan=32</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |source3=https://www.banatic.interieur.gouv.fr/V5/recherche-de-groupements/fiche-raison-sociale-PDF.php?siren=243000569&amp;arch=01/04/2015&amp;dcou=</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |source4=http://professionnels.ign.fr/sites/default/files/RGC2012.tar</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |source4=http://professionnels.ign.fr/sites/default/files/RGC2012.tar</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |source5=http://www.habitants.fr/habitants_departement_gard_30.html</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |source5=http://www.habitants.fr/habitants_departement_gard_30.html</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 9</td>
  <td colspan="2" class="diff-lineno">Line 9</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |sourceAU2010=http://www.insee.fr/fr/methodes/zonages/AU2010.zip</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |sourceAU2010=http://www.insee.fr/fr/methodes/zonages/AU2010.zip</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |insee=30186</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |insee=30186</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_10_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_7_0_rhs"></a> |arrondissement=[[<ins class="diffchange diffchange-inline">arrondissement</ins> de Nîmes|Nîmes]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |code postal=30114</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_11_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_9_0_rhs"></a> |canton=[[<ins class="diffchange diffchange-inline">canton</ins> de Sommières|Sommières]]</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_7_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_10_0_lhs"></a> |arrondissement=[[<del class="diffchange diffchange-inline">Arrondissement</del> de Nîmes|Nîmes]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_9_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_11_0_lhs"></a> |canton<del class="diffchange diffchange-inline"> avant 2015</del>=[[<del class="diffchange diffchange-inline">Canton</del> de Sommières|Sommières]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |canton=[[Canton de Calvisson|Calvisson]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |département=[[Gard |Gard]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |département=[[Gard |Gard]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |gentilé=Nageois</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |gentilé=Nageois</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_16_4_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_13_0_rhs"></a> |<ins class="diffchange diffchange-inline">code_EPCI</ins>=243000569</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |siren_com= 213001860</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |intercommunalité=[[Communauté de communes Rhôny Vistre Vidourle|CC <del class="diffchange diffchange-inline">Rhôny</del> Vistre Vidourle]]</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div> |intercommunalité=[[Communauté de communes Rhôny Vistre Vidourle|CC <ins class="diffchange diffchange-inline">Rhony,</ins> Vistre<ins class="diffchange diffchange-inline">,</ins> Vidourle]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_nb=10</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_nj=CC</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |epci_an=2018</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |dep_epci=30</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_13_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_16_4_lhs"></a> |<del class="diffchange diffchange-inline">siren_epci</del>=243000569</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |nj_epci2015=CC</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |fisc_epci2015=FPU</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div> |nb_com_epci_2015=10</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |nom=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |nom=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |zone_d'emploi_2010=Nîmes</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |zone_d'emploi_2010=Nîmes</div></td>
</tr>
</tbody></table>
</body></html>
