<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 741845 to 741846</h1><h2>Existing two-column diff</h2><a href="https://de.wikiversity.org/w/index.php?title=Riemannsche Flächen/Gemischte Definitionsabfrage/3/Aufgabe&oldid=741845&diff=741846">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://de.wikiversity.org/w/index.php?title=Riemannsche Flächen/Gemischte Definitionsabfrage/3/Aufgabe&oldid=741845">741845</a></href></td><td colspan=2><a href="https://de.wikiversity.org/w/index.php?title=Riemannsche Flächen/Gemischte Definitionsabfrage/3/Aufgabe&oldid=741846">741846</a></tr><tr>
  <td colspan="2" class="diff-lineno">Zeile 3:</td>
  <td colspan="2" class="diff-lineno">Zeile 3:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Text=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Text=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Definitionsabfrage6{{{opt1|}}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Definitionsabfrage6{{{opt1|}}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Riemannsche Flächen/Holomorphe Abbildung/Funktionen/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Überlagerung/Diskret</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Prägarbe</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Fläche/Meromorphe Funktion</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Fläche/Divisor</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Fläche/Kompakt/Geschlecht</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Textart=Aufgabe </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Textart=Aufgabe </div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 3</td>
  <td colspan="2" class="diff-lineno">Line 3</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Text=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Text=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Definitionsabfrage6{{{opt1|}}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Definitionsabfrage6{{{opt1|}}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Flächen/Holomorphe Abbildung/Funktionen</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Überlagerung/Diskret</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Prägarbe</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Fläche/Meromorphe Funktion</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Fläche/Divisor</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Fläche/Kompakt/Geschlecht</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Textart=Aufgabe </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Textart=Aufgabe </div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff changeThreshold = 0.3</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 3</td>
  <td colspan="2" class="diff-lineno">Line 3</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Text=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Text=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Definitionsabfrage6{{{opt1|}}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Definitionsabfrage6{{{opt1|}}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Riemannsche Flächen/Holomorphe Abbildung/Funktionen/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Überlagerung/Diskret</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Prägarbe</ins>/Definition|</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Riemannsche Fläche/Meromorphe Funktion/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Fläche/Divisor</ins>/Definition|</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Riemannsche Fläche/Kompakt/Geschlecht/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Textart=Aufgabe </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Textart=Aufgabe </div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff maxSplitSize = 1</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 3</td>
  <td colspan="2" class="diff-lineno">Line 3</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Text=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Text=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Definitionsabfrage6{{{opt1|}}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Definitionsabfrage6{{{opt1|}}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Flächen/Holomorphe Abbildung/Funktionen</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Überlagerung/Diskret</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Prägarbe</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Fläche/Meromorphe Funktion</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Fläche/Divisor</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Fläche/Kompakt/Geschlecht</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Textart=Aufgabe </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Textart=Aufgabe </div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff both</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 3</td>
  <td colspan="2" class="diff-lineno">Line 3</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Text=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Text=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Definitionsabfrage6{{{opt1|}}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Definitionsabfrage6{{{opt1|}}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Riemannsche Flächen/Holomorphe Abbildung/Funktionen/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Überlagerung/Diskret</ins>/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Prägarbe</ins>/Definition|</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Riemannsche Fläche/Meromorphe Funktion/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|<ins class="diffchange diffchange-inline">Riemannsche Fläche/Divisor</ins>/Definition|</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Riemannsche Fläche/Kompakt/Geschlecht/Definition|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|/Definition|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Textart=Aufgabe </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Textart=Aufgabe </div></td>
</tr>
</tbody></table>
</body></html>
