<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 184336803 to 189800360</h1><h2>Existing two-column diff</h2><a href="https://fr.wikipedia.org/w/index.php?title=Docks 76&oldid=184336803&diff=189800360">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://fr.wikipedia.org/w/index.php?title=Docks 76&oldid=184336803">184336803</a></href></td><td colspan=2><a href="https://fr.wikipedia.org/w/index.php?title=Docks 76&oldid=189800360">189800360</a></tr><tr>
  <td colspan="2" class="diff-lineno">Ligne 18 :</td>
  <td colspan="2" class="diff-lineno">Ligne 18 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| fréquentation annuelle      = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| fréquentation annuelle      = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| chiffre d'affaires annuel   = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| chiffre d'affaires annuel   = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| propriétaire                = <del class="diffchange diffchange-inline">[[Wereldhave]]</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| propriétaire                = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| slogan                      = « Rouen au fil du temps »</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| slogan                      = « Rouen au fil du temps »</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| site web                    = http://www.docks76.com</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| site web                    = http://www.docks76.com</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Ligne 24 :</td>
  <td colspan="2" class="diff-lineno">Ligne 24 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| métro                       = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| métro                       = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| tram                        = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| tram                        = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| bus                         = {{Correspondances|réseau=<del class="diffchange diffchange-inline">TCAR</del>|T1<del class="diffchange diffchange-inline">}} {{Correspondances|réseau=TCAR</del>|T2}} <del class="diffchange diffchange-inline">{{Correspondances|réseau=TCAR</del>|<del class="diffchange diffchange-inline">T3</del>}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| bus                         = {{Correspondances|réseau=<ins class="diffchange diffchange-inline">Astuce</ins>|T1|T2<ins class="diffchange diffchange-inline">|T3|F4|26|29|30</ins>}}<ins class="diffchange diffchange-inline">&lt;br</ins> <ins class="diffchange diffchange-inline">/&gt;(Arrêt ''[[Liste des stations du TEOR et du tramway de Rouen</ins>|<ins class="diffchange diffchange-inline">Mont-Riboudet Kindarena]]'') </ins>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Correspondances|réseau=TCAR|F4}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline">{{Correspondances|réseau=TCAR|26}} {{Correspondances|réseau=TCAR|29}} {{Correspondances|réseau=TCAR|30}}&lt;br /&gt;(Arrêt ''[[Liste des stations du TEOR et du tramway de Rouen|Mont-Riboudet Kindarena]]'') }}Le centre commercial</del> '''Docks 76''' <del class="diffchange diffchange-inline">est</del> un [[Centre commercial|complexe commercial]]<del class="diffchange diffchange-inline"> géré par [[Wereldhave]] et</del> situé sur la rive droite de la [[Seine]], dans le [[ZAC Luciline|quartier Luciline]] de [[Rouen]] ([[Normandie (région administrative)|Normandie]], [[France]]).</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">Les</ins> '''Docks 76''' <ins class="diffchange diffchange-inline">sont</ins> un [[Centre commercial|complexe commercial]] situé sur la rive droite de la [[Seine]], dans le [[ZAC Luciline|quartier Luciline]] de [[Rouen]] ([[Normandie (région administrative)|Normandie]], [[France]]).</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Historique ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Historique ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>En 1902, à l'Ouest de [[Rouen]] sur la rive droite de la Seine, des bâtiments sont construits sur ce qui deviendra l'emplacement de Docks 76. Il s'agit de deux halles métalliques construites pour accueillir une halle à vins et une centrale électrique. En 1955, des entrepôts sont construits pour les docks sous la supervision d'[[André Robinne]], ce qui vaut à l'ensemble d'être distingué du label ''Architecture contemporaine remarquable''&lt;ref&gt;{{Base Mérimée|ACR0000932}}.&lt;/ref&gt; en 2001.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>En 1902, à l'Ouest de [[Rouen]] sur la rive droite de la Seine, des bâtiments sont construits sur ce qui deviendra l'emplacement de Docks 76. Il s'agit de deux halles métalliques construites pour accueillir une halle à vins et une centrale électrique. En 1955, des entrepôts sont construits pour les <ins class="diffchange diffchange-inline">[[Dock (portuaire)|</ins>docks<ins class="diffchange diffchange-inline">]]</ins> sous la supervision d'[[André Robinne]], ce qui vaut à l'ensemble d'être distingué du label ''Architecture contemporaine remarquable''&lt;ref&gt;{{Base Mérimée|ACR0000932}}.&lt;/ref&gt; en 2001.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La tâche de <del class="diffchange diffchange-inline">transformer</del> ces entrepôts désaffectés sur les docks en centre commercial est <del class="diffchange diffchange-inline">donné</del> à l'architecte [[Jean-Michel Wilmotte]]. L'idée est de conserver les entrepôts et de les rénover<del class="diffchange diffchange-inline">,</del> l'architecture s'inspire également d'éléments du monde de la mer en hommage à l'important passé maritime de <del class="diffchange diffchange-inline">[[</del>Rouen<del class="diffchange diffchange-inline">]]</del>. Pour les espaces intérieurs et le design d'environnement du site, ce sont Boris Gentine et Michael Bezou de l'agence Saguez &amp; Partners qui sont mandatés. Un même thème « shopping au fil de l'eau » relie les différents espaces et bâtiments. Il s'inspire des couleurs, des matériaux, et d'instantanés de vie « des bords de Seine ». Dans les sanitaires du centre commercial, un aquarium expose les espèces de poissons peuplant les rivières environnantes. Le coût total du centre commercial est de 114 millions d’euros hors taxes. Il est inauguré le 23 avril 2009.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>La tâche de <ins class="diffchange diffchange-inline">transformation de</ins> ces entrepôts désaffectés sur les docks en centre commercial est <ins class="diffchange diffchange-inline">confiée</ins> à l'architecte [[Jean-Michel Wilmotte]]. L'idée est de conserver les entrepôts et de les rénover<ins class="diffchange diffchange-inline">;</ins> l'architecture s'inspire également d'éléments du monde de la mer en hommage à l'important passé maritime de Rouen. Pour les espaces intérieurs et le design d'environnement du site, ce sont Boris Gentine et Michael Bezou de l'agence Saguez &amp; Partners qui sont mandatés. Un même thème « shopping au fil de l'eau » relie les différents espaces et bâtiments. Il s'inspire des couleurs, des matériaux, et d'instantanés de vie « des bords de Seine ». Dans les sanitaires du centre commercial, un aquarium expose les espèces de poissons peuplant les rivières environnantes. Le coût total du centre commercial est de 114 millions d’euros hors taxes. Il est inauguré le <ins class="diffchange diffchange-inline">{{date-|</ins>23 avril 2009<ins class="diffchange diffchange-inline">}}</ins>.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Le 8 septembre 2012<del class="diffchange diffchange-inline">,</del> a lieu l'inauguration du [[palais des sports de Rouen]] à proximité du centre commercial, dans un projet de définition du quartier Luciline.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Le <ins class="diffchange diffchange-inline">{{date-|</ins>8 septembre 2012<ins class="diffchange diffchange-inline">}}</ins> a lieu l'inauguration du [[palais des sports de Rouen]] à proximité du centre commercial, dans un projet de définition du quartier Luciline.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>En 2016, le centre est repris par le groupe néerlandais Wereldhave, également gestionnaire du [[centre Saint-Sever]]. Les Docks 76 enregistrent une fréquentation annuelle de quatre millions de visiteurs.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>En 2016, le centre est repris par le groupe néerlandais Wereldhave, également gestionnaire du [[centre Saint-Sever]]. Les Docks 76 enregistrent une fréquentation annuelle de quatre millions de visiteurs.</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>En 2021, Wereldhave revend le centre à Lighthouse capital limited&lt;ref&gt;{{Article |langue= |auteur1= |titre=Docks 76, Docks Vauban, Saint-Sever… Au Havre et à Rouen, les trois centres commerciaux changent de main|périodique=[[Paris-Normandie]]|numéro= |date=1er août 2021 |pages= |issn= |e-issn= |lire en ligne=https://www.paris-normandie.fr/id218208/article/2021-08-01/docks-76-docks-vauban-saint-sever-au-havre-et-rouen-les-trois-centres|consulté le=11 août 2021}}.&lt;/ref&gt;.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Enseignes ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Enseignes ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Fichier:Dimanche Docks76.JPG|thumb|Intérieur du centre|gauche]]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline">[[Fichier:Dimanche Docks76.JPG|thumb|Intérieur du centre|gauche]]</del>Le centre commercial compte 95 enseignes, dans les secteurs de l'alimentation, des soins de soi, des vêtements et accessoires, des loisirs, du multimédia et de la téléphonie, du mobilier et de la décoration, de l'optique, des services, et de la restauration. En outre, plusieurs cases commerciales ne sont pas encore attribuées.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Le centre commercial compte 95 enseignes, dans les secteurs de l'alimentation, des soins de soi, des vêtements et accessoires, des loisirs, du multimédia et de la téléphonie, du mobilier et de la décoration, de l'optique, des services, et de la restauration. En outre, plusieurs cases commerciales ne sont pas encore attribuées.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{clr}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{clr}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Ligne 64 :</td>
  <td colspan="2" class="diff-lineno">Ligne 66 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>=== Liens externes===</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>=== Liens externes===</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* {{<del class="diffchange diffchange-inline">Bases</del>}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* {{<ins class="diffchange diffchange-inline">Liens</ins>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* {{fr}} [http://www.docks76.com Docks 76]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* {{fr}} [http://www.docks76.com Docks 76]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 18</td>
  <td colspan="2" class="diff-lineno">Line 18</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| fréquentation annuelle      = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| fréquentation annuelle      = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| chiffre d'affaires annuel   = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| chiffre d'affaires annuel   = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| propriétaire                = <del class="diffchange diffchange-inline">[[Wereldhave]]</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| propriétaire                = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| slogan                      = « Rouen au fil du temps »</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| slogan                      = « Rouen au fil du temps »</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| site web                    = http://www.docks76.com</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| site web                    = http://www.docks76.com</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 24</td>
  <td colspan="2" class="diff-lineno">Line 24</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| métro                       = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| métro                       = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| tram                        = </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| tram                        = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| bus                         = {{Correspondances|réseau=<del class="diffchange diffchange-inline">TCAR</del>|T1<del class="diffchange diffchange-inline">}} {{Correspondances|réseau=TCAR</del>|T2}} <del class="diffchange diffchange-inline">{{Correspondances|réseau=TCAR</del>|<del class="diffchange diffchange-inline">T3</del>}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| bus                         = {{Correspondances|réseau=<ins class="diffchange diffchange-inline">Astuce</ins>|T1|T2<ins class="diffchange diffchange-inline">|T3|F4|26|29|30</ins>}}<ins class="diffchange diffchange-inline">&lt;br</ins> <ins class="diffchange diffchange-inline">/&gt;(Arrêt ''[[Liste des stations du TEOR et du tramway de Rouen</ins>|<ins class="diffchange diffchange-inline">Mont-Riboudet Kindarena]]'') </ins>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Correspondances|réseau=TCAR|F4}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div><del class="diffchange diffchange-inline">{{Correspondances|réseau=TCAR|26}} {{Correspondances|réseau=TCAR|29}} {{Correspondances|réseau=TCAR|30}}&lt;br /&gt;(Arrêt ''[[Liste des stations du TEOR et du tramway de Rouen|Mont-Riboudet Kindarena]]'') }}Le centre commercial</del> '''Docks 76''' <del class="diffchange diffchange-inline">est</del> un [[Centre commercial|complexe commercial]]<del class="diffchange diffchange-inline"> géré par [[Wereldhave]] et</del> situé sur la rive droite de la [[Seine]], dans le [[ZAC Luciline|quartier Luciline]] de [[Rouen]] ([[Normandie (région administrative)|Normandie]], [[France]]).</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">Les</ins> '''Docks 76''' <ins class="diffchange diffchange-inline">sont</ins> un [[Centre commercial|complexe commercial]] situé sur la rive droite de la [[Seine]], dans le [[ZAC Luciline|quartier Luciline]] de [[Rouen]] ([[Normandie (région administrative)|Normandie]], [[France]]).</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Historique ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Historique ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>En 1902, à l'Ouest de [[Rouen]] sur la rive droite de la Seine, des bâtiments sont construits sur ce qui deviendra l'emplacement de Docks 76. Il s'agit de deux halles métalliques construites pour accueillir une halle à vins et une centrale électrique. En 1955, des entrepôts sont construits pour les docks sous la supervision d'[[André Robinne]], ce qui vaut à l'ensemble d'être distingué du label ''Architecture contemporaine remarquable''&lt;ref&gt;{{Base Mérimée|ACR0000932}}.&lt;/ref&gt; en 2001.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>En 1902, à l'Ouest de [[Rouen]] sur la rive droite de la Seine, des bâtiments sont construits sur ce qui deviendra l'emplacement de Docks 76. Il s'agit de deux halles métalliques construites pour accueillir une halle à vins et une centrale électrique. En 1955, des entrepôts sont construits pour les <ins class="diffchange diffchange-inline">[[Dock (portuaire)|</ins>docks<ins class="diffchange diffchange-inline">]]</ins> sous la supervision d'[[André Robinne]], ce qui vaut à l'ensemble d'être distingué du label ''Architecture contemporaine remarquable''&lt;ref&gt;{{Base Mérimée|ACR0000932}}.&lt;/ref&gt; en 2001.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>La tâche de <del class="diffchange diffchange-inline">transformer</del> ces entrepôts désaffectés sur les docks en centre commercial est <del class="diffchange diffchange-inline">donné</del> à l'architecte [[Jean-Michel Wilmotte]]. L'idée est de conserver les entrepôts et de les rénover<del class="diffchange diffchange-inline">,</del> l'architecture s'inspire également d'éléments du monde de la mer en hommage à l'important passé maritime de <del class="diffchange diffchange-inline">[[</del>Rouen<del class="diffchange diffchange-inline">]]</del>. Pour les espaces intérieurs et le design d'environnement du site, ce sont Boris Gentine et Michael Bezou de l'agence Saguez &amp; Partners qui sont mandatés. Un même thème « shopping au fil de l'eau » relie les différents espaces et bâtiments. Il s'inspire des couleurs, des matériaux, et d'instantanés de vie « des bords de Seine ». Dans les sanitaires du centre commercial, un aquarium expose les espèces de poissons peuplant les rivières environnantes. Le coût total du centre commercial est de 114 millions d’euros hors taxes. Il est inauguré le 23 avril 2009.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>La tâche de <ins class="diffchange diffchange-inline">transformation de</ins> ces entrepôts désaffectés sur les docks en centre commercial est <ins class="diffchange diffchange-inline">confiée</ins> à l'architecte [[Jean-Michel Wilmotte]]. L'idée est de conserver les entrepôts et de les rénover<ins class="diffchange diffchange-inline">;</ins> l'architecture s'inspire également d'éléments du monde de la mer en hommage à l'important passé maritime de Rouen. Pour les espaces intérieurs et le design d'environnement du site, ce sont Boris Gentine et Michael Bezou de l'agence Saguez &amp; Partners qui sont mandatés. Un même thème « shopping au fil de l'eau » relie les différents espaces et bâtiments. Il s'inspire des couleurs, des matériaux, et d'instantanés de vie « des bords de Seine ». Dans les sanitaires du centre commercial, un aquarium expose les espèces de poissons peuplant les rivières environnantes. Le coût total du centre commercial est de 114 millions d’euros hors taxes. Il est inauguré le <ins class="diffchange diffchange-inline">{{date-|</ins>23 avril 2009<ins class="diffchange diffchange-inline">}}</ins>.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Le 8 septembre 2012<del class="diffchange diffchange-inline">,</del> a lieu l'inauguration du [[palais des sports de Rouen]] à proximité du centre commercial, dans un projet de définition du quartier Luciline.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Le <ins class="diffchange diffchange-inline">{{date-|</ins>8 septembre 2012<ins class="diffchange diffchange-inline">}}</ins> a lieu l'inauguration du [[palais des sports de Rouen]] à proximité du centre commercial, dans un projet de définition du quartier Luciline.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>En 2016, le centre est repris par le groupe néerlandais Wereldhave, également gestionnaire du [[centre Saint-Sever]]. Les Docks 76 enregistrent une fréquentation annuelle de quatre millions de visiteurs.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>En 2016, le centre est repris par le groupe néerlandais Wereldhave, également gestionnaire du [[centre Saint-Sever]]. Les Docks 76 enregistrent une fréquentation annuelle de quatre millions de visiteurs.</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>En 2021, Wereldhave revend le centre à Lighthouse capital limited&lt;ref&gt;{{Article |langue= |auteur1= |titre=Docks 76, Docks Vauban, Saint-Sever… Au Havre et à Rouen, les trois centres commerciaux changent de main|périodique=[[Paris-Normandie]]|numéro= |date=1er août 2021 |pages= |issn= |e-issn= |lire en ligne=https://www.paris-normandie.fr/id218208/article/2021-08-01/docks-76-docks-vauban-saint-sever-au-havre-et-rouen-les-trois-centres|consulté le=11 août 2021}}.&lt;/ref&gt;.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Enseignes ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Enseignes ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[Fichier:Dimanche Docks76.JPG|thumb|Intérieur du centre|gauche]]Le centre commercial compte 95 enseignes, dans les secteurs de l'alimentation, des soins de soi, des vêtements et accessoires, des loisirs, du multimédia et de la téléphonie, du mobilier et de la décoration, de l'optique, des services, et de la restauration. En outre, plusieurs cases commerciales ne sont pas encore attribuées.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Fichier:Dimanche Docks76.JPG|thumb|Intérieur du centre|gauche]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Le centre commercial compte 95 enseignes, dans les secteurs de l'alimentation, des soins de soi, des vêtements et accessoires, des loisirs, du multimédia et de la téléphonie, du mobilier et de la décoration, de l'optique, des services, et de la restauration. En outre, plusieurs cases commerciales ne sont pas encore attribuées.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{clr}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{clr}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 64</td>
  <td colspan="2" class="diff-lineno">Line 66</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>=== Liens externes===</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>=== Liens externes===</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* {{<del class="diffchange diffchange-inline">Bases</del>}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* {{<ins class="diffchange diffchange-inline">Liens</ins>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* {{fr}} [http://www.docks76.com Docks 76]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* {{fr}} [http://www.docks76.com Docks 76]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
</tbody></table>
</body></html>
