<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 29340258 to 41583747</h1><h2>Existing two-column diff</h2><a href="https://ar.wikipedia.org/w/index.php?title=نقاش:روك هدسون&oldid=29340258&diff=41583747">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://ar.wikipedia.org/w/index.php?title=نقاش:روك هدسون&oldid=29340258">29340258</a></href></td><td colspan=2><a href="https://ar.wikipedia.org/w/index.php?title=نقاش:روك هدسون&oldid=41583747">41583747</a></tr><tr>
  <td colspan="2" class="diff-lineno">سطر 1:</td>
  <td colspan="2" class="diff-lineno">سطر 1:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{رأس نقاش}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{رأس نقاش}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{غلاف شريط مشروع ويكي|</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="الفقرة تم نقلها. اضغط للذهاب للموقع الجديد." href="#movedpara_3_1_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_2_0_lhs"></a>{{مشروع ويكي أعلام|الصنف=بذرة|الممثلون وصناع الأفلام=نعم|الممثلون وصناع الأفلام-أهمية=|آلي=نعم}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="الفقرة تم نقلها. اضغط للذهاب للموقع القديم." href="#movedpara_2_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_3_1_rhs"></a>{{مشروع ويكي أعلام|الصنف=بذرة|الممثلون وصناع الأفلام=نعم|الممثلون وصناع الأفلام-أهمية=|آلي=نعم<ins class="diffchange diffchange-inline">|حي=لا</ins>}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{مشروع ويكي الولايات المتحدة| الصنف = بذرة| الأهمية = متوسطة|آلي=نعم}}}}</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{رأس نقاش}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{رأس نقاش}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{مشروع ويكي أعلام|الصنف=بذرة|الممثلون وصناع الأفلام=نعم|الممثلون وصناع الأفلام-أهمية=|آلي=نعم}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">{{غلاف شريط مشروع ويكي|</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{مشروع ويكي أعلام|الصنف=بذرة|الممثلون وصناع الأفلام=نعم|الممثلون وصناع الأفلام-أهمية=|آلي=نعم<ins class="diffchange diffchange-inline">|حي=لا</ins>}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{مشروع ويكي الولايات المتحدة| الصنف = بذرة| الأهمية = متوسطة|آلي=نعم}}}}</div></td>
</tr>
</tbody></table>
</body></html>
