<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<table class="diff" width="100%">
	<colgroup>
		<col class="diff-marker">
		<col class="diff-content">
		<col class="diff-marker">
		<col class="diff-content">
	</colgroup>

	<tbody id="the-tbody">
		<tr>
			<td colspan="4">
				<table width="100%">
					<tbody><tr class="params">
						<td>
							<label>numContextLines<br>
							<input type="text" value="2" id="numContextLines"></label>
						</td>
						<td>
							<label>changeThreshold<br>
							<input type="text" value="0.2" id="changeThreshold"></label>
						</td>
						<td>
							<label>movedLineThreshold<br>
							<input type="text" value="0.4" id="movedLineThreshold"></label>
						</td>
						<td>
							<label>maxMovedLines<br>
							<input type="text" value="100" id="maxMovedLines"></label>
						</td>
						<td>
							<label>maxWordLevelDiffComplexity<br>
							<input type="text" value="40000000" id="maxWordLevelDiffComplexity"></label>
						</td>
						<td>
							<label>maxSplitSize<br>
							<input type="text" value="3" id="maxSplitSize"></label>
						</td>
						<td>
							<label>initialSplitThreshold<br>
							<input type="text" value="0.1" id="initialSplitThreshold"></label>
						</td>
						<td>
							<label>finalSplitThreshold<br>
							<input type="text" value="0.6" id="finalSplitThreshold"></label>
						</td>
					</tr><tr>
				</tr></tbody></table>
			</td><td>
		</td></tr><tr>
			<td class="diff-marker"></td>
			<td>
				<textarea class="full-width half-height" id="lhs"></textarea>
			</td>
			<td class="diff-marker"></td>
			<td>
				<textarea class="full-width half-height" id="rhs"></textarea>
			</td>
		</tr>
		<tr id="last-header-row">
			<td colspan="4" id="perf-info">0.255 ms</td>
		</tr><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Wikiprojet<del class="diffchange diffchange-inline"> Physique|avancement=BD|importance=moyenne}}</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Wikiprojet</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Physique|moyenne</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Télécommunications|moyenne</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|avancement=BD</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Liens externes modifiés ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Bonjour aux contributeurs,</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Je viens de modifier 1 lien(s) externe(s) sur [[Ferdinand Braun]]. Prenez le temps de vérifier [https://fr.wikipedia.org/w/index.php?diff=prev&amp;oldid=151040495 ma modification]. Si vous avez des questions, ou que vous voulez que le bot ignore le lien ou la page complète, lisez [[:m:InternetArchiveBot/FAQ/fr|cette FaQ]] pour de plus amples informations. J'ai fait les changements suivants :</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>*L'archive https://web.archive.org/web/20051013093108/http://misha1.u-strasbg.fr/AMUSS/Braun.htm a été ajoutée à http://misha1.u-strasbg.fr/AMUSS/Braun.htm</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>SVP, lisez la FaQ pour connaître les erreurs corrigées par le bot.</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Cordialement.—[[:en:User:InternetArchiveBot|'''&lt;span style="color:darkgrey;font-family:monospace"&gt;InternetArchiveBot&lt;/span&gt;''']] &lt;span style="color:green;font-family:Rockwell"&gt;([[:en:User talk:InternetArchiveBot|Rapportez une erreur]])&lt;/span&gt; 6 août 2018 à 15:00 (CEST)</div></td>
</tr>
</tbody>
</table>
</body></html>
