<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 221345706 to 223141982</h1><h2>Existing two-column diff</h2><a href="https://de.wikipedia.org/w/index.php?title=Amerikanische Geparde&oldid=221345706&diff=223141982">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://de.wikipedia.org/w/index.php?title=Amerikanische Geparde&oldid=221345706">221345706</a></href></td><td colspan=2><a href="https://de.wikipedia.org/w/index.php?title=Amerikanische Geparde&oldid=223141982">223141982</a></tr><tr>
  <td colspan="2" class="diff-lineno">Zeile 20:</td>
  <td colspan="2" class="diff-lineno">Zeile 20:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| Taxon6_WissName  = Laurasiatheria</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| Taxon6_WissName  = Laurasiatheria</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| Taxon6_Rang      = Überordnung</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| Taxon6_Rang      = Überordnung</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| Bild             = <del class="diffchange diffchange-inline">Miracinonyx inexpectatus.jpg</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| Bild             = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| Bildbeschreibung = <del class="diffchange diffchange-inline">Illustration des Amerikanischen Gepards (''Miracinonyx'')</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| Bildbeschreibung = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| ErdzeitalterVon  = spätes [[Pliozän]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| ErdzeitalterVon  = spätes [[Pliozän]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| ErdzeitalterBis  = spätes [[Pleistozän]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| ErdzeitalterBis  = spätes [[Pleistozän]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Zeile 33:</td>
  <td colspan="2" class="diff-lineno">Zeile 33:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Taxonomie und Evolution ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Taxonomie und Evolution ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die Amerikanischen Geparde wurden <del class="diffchange diffchange-inline">zu Beginn</del> als frühe Vertreter der [[Pumas]] angesehen, in den 1970er Jahren aber als nahe Verwandte des [[Gepard]]s neu klassifiziert.&lt;ref&gt;{{cite journal | first = Daniel B. | last = Adams | date = 14. September 1979 | url = <del class="diffchange diffchange-inline">http</del>://www.<del class="diffchange diffchange-inline">sciencemag</del>.org/<del class="diffchange diffchange-inline">cgi</del>/<del class="diffchange diffchange-inline">content/abstract</del>/205<del class="diffchange diffchange-inline">/</del>4411<del class="diffchange diffchange-inline">/</del>1155 | title = The Cheetah: Native American | journal = [[Science]] | volume = 205 | issue = 4411 | pages = 1155–1158 | doi= 10.1126/science.205.4411.1155 | accessdate=2007-06-04 | format = abstract | pmid = 17735054}}&lt;/ref&gt; Diese Theorie geht davon aus, dass sich die Vorfahren des Gepards aus der Linie der Pumas auf dem [[Amerika|amerikanischen Kontinent]] (die [[Neue Welt]]) entwickelten und über die [[Beringbrücke]] wieder in die [[Alte Welt]] (vor allem Asien und Afrika) wanderten.&lt;ref name="Warren E. Johnson 2006"&gt;{{cite journal | author = Johnson, W.E., Eizirik, E., Pecon-Slattery, J., Murphy, W.J., Antunes, A., Teeling, E. &amp; O'Brien, S.J. | date = 2006-01-06 | url = http://www.sciencemag.org/cgi/content/abstract/311/5757/73 | title = The Late Miocene radiation of modern Felidae: A genetic assessment | journal = [[Science]] | volume = 311 | issue=5757 | pages = 73–77 | doi = 10.1126/science.1122277 | accessdate=2007-06-04 | format = abstract | pmid = 16400146}}&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die Amerikanischen Geparde wurden <ins class="diffchange diffchange-inline">ursprünglich</ins> als frühe Vertreter der [[Pumas]] angesehen, in den 1970er Jahren aber als nahe Verwandte des [[Gepard]]s neu klassifiziert.&lt;ref&gt;{{cite journal | first = Daniel B. | last = Adams | date = 14. September 1979 | url = <ins class="diffchange diffchange-inline">https</ins>://www.<ins class="diffchange diffchange-inline">science</ins>.org/<ins class="diffchange diffchange-inline">doi</ins>/<ins class="diffchange diffchange-inline">10.1126</ins>/<ins class="diffchange diffchange-inline">science.</ins>205<ins class="diffchange diffchange-inline">.</ins>4411<ins class="diffchange diffchange-inline">.</ins>1155 | title = The Cheetah: Native American | journal = [[Science]] | volume = 205 | issue = 4411 | pages = 1155–1158 | doi= 10.1126/science.205.4411.1155 | accessdate=2007-06-04 | format = abstract | pmid = 17735054}}&lt;/ref&gt; Diese Theorie geht davon aus, dass sich die Vorfahren des Gepards aus der Linie der Pumas auf dem [[Amerika|amerikanischen Kontinent]] (die [[Neue Welt]]) entwickelten und über die [[Beringbrücke]] wieder in die [[Alte Welt]] (vor allem Asien und Afrika) wanderten.&lt;ref name="Warren E. Johnson 2006"&gt;{{cite journal | author = Johnson, W.E., Eizirik, E., Pecon-Slattery, J., Murphy, W.J., Antunes, A., Teeling, E. &amp; O'Brien, S.J. | date = 2006-01-06 | url = http://www.sciencemag.org/cgi/content/abstract/311/5757/73 | title = The Late Miocene radiation of modern Felidae: A genetic assessment | journal = [[Science]] | volume = 311 | issue=5757 | pages = 73–77 | doi = 10.1126/science.1122277 | accessdate=2007-06-04 | format = abstract | pmid = 16400146}}&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Andere Forschungen, wie etwa die von Ross Barnett, welche die Untersuchung der [[Mitochondriale DNA|mitochondrialen DNA]] der Knochenfunde sowie eine neue Analyse der Morphologie mit einschloss, sehen die Amerikanischen Geparde als unmittelbare Verwandte des [[Puma]]s, die gepardähnliche Merkmale aufgrund von [[Konvergenz (Biologie)|konvergenter Evolution]] entwickelten.&lt;ref name=Barnett&gt;{{cite journal | first = Ross | last = Barnett | coauthors= Ian Barnes, Matthew J. Phillips1, Larry D. Martin, C. Richard Harington, Jennifer A. Leonard, and Alan Cooper |date = 9. August 2005 | url = http://linkinghub.elsevier.com/retrieve/pii/S0960982205008365 | title = Evolution of the extinct Sabretooths and the American cheetah-like cat | journal = Current Biology | volume = 15 | issue = 15 | pages = R589–R590 | doi= 10.1016/j.cub.2005.07.052 | accessdate=2007-06-04}}&lt;/ref&gt; Puma und Amerikanischer Gepard sind dieser Analyse zufolge die [[Schwestergruppe]] des [[Jaguarundi]]s, einer eher [[Kleinkatzen|kleinkatzenähnlichen]] südamerikanischen Art. Erst diese Dreiergruppe sei Schwestergruppe des altweltlichen Gepards. Der vermutete amerikanische Ursprung der Geparde wäre damit hinfällig, denn die amerikanische Gepardlinie hätte sich demnach erst in der Neuen Welt (vor etwa 3 Millionen Jahren) von der Pumalinie getrennt, wohingegen diese sich deutlich vorher (vor mehr als 6 Millionen Jahren) und noch außerhalb Amerikas von der altweltlichen Gepardlinie trennte.&lt;ref name=Barnett/&gt;</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Andere Forschungen, wie etwa die von Ross Barnett, welche die Untersuchung der [[Mitochondriale DNA|mitochondrialen DNA]] der Knochenfunde sowie eine neue Analyse der Morphologie mit einschloss, sehen die Amerikanischen Geparde als unmittelbare Verwandte des [[Puma]]s, die gepardähnliche Merkmale aufgrund von [[Konvergenz (Biologie)|konvergenter Evolution]] entwickelten.&lt;ref name=Barnett&gt;{{cite journal | first = Ross | last = Barnett | coauthors= Ian Barnes, Matthew J. Phillips1, Larry D. Martin, C. Richard Harington, Jennifer A. Leonard, and Alan Cooper |date = 9. August 2005 | url = http://linkinghub.elsevier.com/retrieve/pii/S0960982205008365 | title = Evolution of the extinct Sabretooths and the American cheetah-like cat | journal = Current Biology | volume = 15 | issue = 15 | pages = R589–R590 | doi= 10.1016/j.cub.2005.07.052 | accessdate=2007-06-04}}&lt;/ref&gt; Puma und Amerikanischer Gepard sind dieser Analyse zufolge die [[Schwestergruppe]] des [[Jaguarundi]]s, einer eher [[Kleinkatzen|kleinkatzenähnlichen]] südamerikanischen Art. Erst diese Dreiergruppe sei Schwestergruppe des altweltlichen Gepards. Der vermutete amerikanische Ursprung der Geparde wäre damit hinfällig, denn die amerikanische Gepardlinie hätte sich demnach erst in der Neuen Welt (vor etwa 3 Millionen Jahren) von der Pumalinie getrennt, wohingegen diese sich deutlich vorher (vor mehr als 6 Millionen Jahren) und noch außerhalb Amerikas von der altweltlichen Gepardlinie trennte.&lt;ref name=Barnett/&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Zeile 41:</td>
  <td colspan="2" class="diff-lineno">Zeile 41:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Vom Amerikanischen Gepard wurden bislang zwei Arten beschrieben: ''Miracinonyx trumani'' und ''Miracynonix inexpectatus''. Teilweise wird auch eine dritte Art ''Miracinonyx studeri'' angeführt, diese gilt jedoch als jüngeres [[Synonym (Taxonomie)|Synonym]] für ''Miracynonix trumani''. Beide Arten waren dem heutigen Gepard sehr ähnlich, mit verkürzten runden [[Schädel]]n und vergrößerten [[Nasenhöhle|Nasengängen]] für einen größeren Atemdurchsatz sowie speziell für schnelles Rennen proportionierte extrem lange [[Gliedmaßen]] und einem langen [[Schwanz]]. Ebenso soll das [[Gebiss]] gegenüber anderen Katzen stark verkleinert und relativ schwach gewesen sein. Dennoch wurden die Ähnlichkeiten nicht durch einen direkten gemeinsamen Vorfahren vererbt, sondern waren das Ergebnis von entweder [[Parallele Evolution|paralleler]] oder konvergenter Evolution.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Vom Amerikanischen Gepard wurden bislang zwei Arten beschrieben: ''Miracinonyx trumani'' und ''Miracynonix inexpectatus''. Teilweise wird auch eine dritte Art ''Miracinonyx studeri'' angeführt, diese gilt jedoch als jüngeres [[Synonym (Taxonomie)|Synonym]] für ''Miracynonix trumani''. Beide Arten waren dem heutigen Gepard sehr ähnlich, mit verkürzten runden [[Schädel]]n und vergrößerten [[Nasenhöhle|Nasengängen]] für einen größeren Atemdurchsatz sowie speziell für schnelles Rennen proportionierte extrem lange [[Gliedmaßen]] und einem langen [[Schwanz]]. Ebenso soll das [[Gebiss]] gegenüber anderen Katzen stark verkleinert und relativ schwach gewesen sein. Dennoch wurden die Ähnlichkeiten nicht durch einen direkten gemeinsamen Vorfahren vererbt, sondern waren das Ergebnis von entweder [[Parallele Evolution|paralleler]] oder konvergenter Evolution.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Durch [[Genetik|genetische]] und [[Immunologie|immunologische]] Untersuchungen konnte ermittelt werden, dass die heutigen Geparde wahrscheinlich alle von einer sehr kleinen Stammgruppe abstammen (→ [[genetischer Flaschenhals]]), die vor etwa 10.000 Jahren gelebt hat.&lt;ref name="Menotti-Raymond, M. ; O'Brien, S. J."&gt;M. Menotti-Raymond, S. J. O'Brien: ''Dating the genetic bottleneck of the African cheetah''. In: ''[[Proceedings of the National Academy of Sciences]]''. 1993<del class="diffchange diffchange-inline">;</del> <del class="diffchange diffchange-inline">90(8):</del> <del class="diffchange diffchange-inline">3172-3176</del>&lt;/ref&gt;&lt;ref&gt;[http://homepage.univie.ac.at/Franz.Embacher/Lehre/aussermathAnw/Populationen.html Modellberechnung der genetischen Drift]&lt;/ref&gt; Damals starb der Amerikanische Gepard aus, und der gewöhnliche Gepard in Afrika und Asien entging diesem Schicksal offenbar nur knapp. Er breitete sich jedoch in den [[Savanne]]n Afrikas und Asiens wieder aus und konnte daher bis in unsere Zeit überleben. Diese Untersuchung genießt in Fachkreisen hohes Ansehen und wird mittlerweile als klassisches Beispiel in der [[Populationsgenetik]] benutzt.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Durch [[Genetik|genetische]] und [[Immunologie|immunologische]] Untersuchungen konnte ermittelt werden, dass die heutigen Geparde wahrscheinlich alle von einer sehr kleinen Stammgruppe abstammen (→ [[genetischer Flaschenhals]]), die vor etwa 10.000 Jahren gelebt hat.&lt;ref name="Menotti-Raymond, M. ; O'Brien, S. J."&gt;M. Menotti-Raymond, S. J. O'Brien: ''Dating the genetic bottleneck of the African cheetah''. In: ''[[Proceedings of the National Academy of Sciences]]<ins class="diffchange diffchange-inline">.</ins>''<ins class="diffchange diffchange-inline"> 90, Nr</ins>.<ins class="diffchange diffchange-inline"> 8,</ins> 1993<ins class="diffchange diffchange-inline">,</ins> <ins class="diffchange diffchange-inline">S.</ins> <ins class="diffchange diffchange-inline">3172–3176</ins>&lt;/ref&gt;&lt;ref&gt;[http://homepage.univie.ac.at/Franz.Embacher/Lehre/aussermathAnw/Populationen.html Modellberechnung der genetischen Drift]&lt;/ref&gt; Damals starb der Amerikanische Gepard aus, und der gewöhnliche Gepard in Afrika und Asien entging diesem Schicksal offenbar nur knapp. Er breitete sich jedoch in den [[Savanne]]n Afrikas und Asiens wieder aus und konnte daher bis in unsere Zeit überleben. Diese Untersuchung genießt in Fachkreisen hohes Ansehen und wird mittlerweile als klassisches Beispiel in der [[Populationsgenetik]] benutzt.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die genauen Gründe, die zum Aussterben der Amerikanischen Geparde geführt haben oder geführt haben könnten, sind trotz aller Forschung dazu bislang nicht abschließend aufgeklärt. Einige Experten vermuten zusätzlich zum genannten genetischen Flaschenhals durchaus auch weitere Einflüsse wie einsetzende Klimaveränderungen und eine verstärkte Nahrungskonkurrenz. Dafür spricht etwa der Umstand, dass circa 10.000 Jahren vor unserer Zeitrechnung, während der [[Quartäre Aussterbewelle|<del class="diffchange diffchange-inline">Quartären</del> Aussterbewelle]], etliche andere [[Megafauna|Großtierarten]] Amerikas ausgestorben sind, wie beispielsweise der [[Amerikanischer Löwe|Amerikanische Löwe]].</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die genauen Gründe, die zum Aussterben der Amerikanischen Geparde geführt haben oder geführt haben könnten, sind trotz aller Forschung dazu bislang nicht abschließend aufgeklärt. Einige Experten vermuten zusätzlich zum genannten genetischen Flaschenhals durchaus auch weitere Einflüsse wie einsetzende Klimaveränderungen und eine verstärkte Nahrungskonkurrenz. Dafür spricht etwa der Umstand, dass circa 10.000 Jahren vor unserer Zeitrechnung, während der [[Quartäre Aussterbewelle|<ins class="diffchange diffchange-inline">quartären</ins> Aussterbewelle]], etliche andere [[Megafauna|Großtierarten]] Amerikas ausgestorben sind, wie beispielsweise der [[Amerikanischer Löwe|Amerikanische Löwe]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== <del class="diffchange diffchange-inline">''Miracinonyx trumani''</del> ==</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== <ins class="diffchange diffchange-inline">Arten</ins> ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Der Absatz wurde verschoben. Klicken, um zur alten Stelle zu springen." href="#movedpara_18_1_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_0_rhs"></a><ins class="diffchange diffchange-inline">=</ins>== ''Miracinonyx <ins class="diffchange diffchange-inline">trumani</ins>'' <ins class="diffchange diffchange-inline">=</ins>==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''Miracinonyx trumani'' war den echten Geparden morphologisch am ähnlichsten. Er lebte in der [[Prärie]] sowie den weiten [[Ebene (Geographie)|Ebenen]] des westlichen Nordamerika und jagte sehr wahrscheinlich [[Huftiere]] der [[Great Plains]], wie den heute noch lebenden [[Gabelbock]]. <del class="diffchange diffchange-inline">Es</del> besteht <del class="diffchange diffchange-inline">Grund zur</del> Annahme, dass seine maximal erreichbare Geschwindigkeit jener der heutigen Geparde nur wenig nachstand und mindestens um die 100&amp;nbsp;km/h gelegen haben dürfte.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>''Miracinonyx trumani'' war den echten Geparden morphologisch am ähnlichsten. Er lebte in der [[Prärie]] sowie den weiten [[Ebene (Geographie)|Ebenen]] des westlichen Nordamerika und jagte sehr wahrscheinlich [[Huftiere]] der [[Great Plains]], wie den heute noch lebenden [[Gabelbock]]. <ins class="diffchange diffchange-inline">Teilweise</ins> besteht <ins class="diffchange diffchange-inline">die</ins> Annahme, dass seine maximal erreichbare Geschwindigkeit jener der heutigen Geparde nur wenig nachstand und mindestens um die 100&amp;nbsp;km/h gelegen haben dürfte<ins class="diffchange diffchange-inline">. Dabei wird die Ähnlichkeit zwischen ''Miracinonyx trumani'' und dem Gepard als ein Beispiel für [[parallele Evolution]] betrachtet. Als weite [[Graslandschaft]]en sowohl in Nordamerika als auch in Afrika während des [[Pleistozän]]s häufiger wurden, entwickelten sich pumaähnliche Katzenarten auf beiden Kontinenten zu schnellen Läufern, um die neu aufkommenden schnellen [[Pflanzenfresser]] jagen zu können. Die [[Kralle]]n von ''Miracinonyx trumani'' entwickelten sich dabei derart, dass sie – wie auch beim Gepard – nur noch teilweise einziehbar waren, um die Bodengriffigkeit beim schnellen Rennen zu erhöhen</ins>.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die Nachstellung der Gabelböcke durch<del class="diffchange diffchange-inline"> den</del> ''Miracinonyx trumani'' galt gemeinhin als Beispiel einer [[Koevolution]] in der [[Räuber-Beute-Beziehung]] ([[Red-Queen-Hypothese]]), da deren maximale Höchstgeschwindigkeit von 86&amp;nbsp;km/h weit höher ist als nötig, um den noch heute lebenden amerikanischen Raubtieren wie dem [[Puma]] und dem [[Wolf]] zu entkommen.&lt;ref&gt;{{cite book|last=Byers|first=John|title=American Pronghorn: Social Adaptations and the Ghosts of Predators Past|publisher=Chicago University Press|url=http://books.google.com/books?id=iFQgW0Mf5VoC&amp;source=gbs_navlinks_s|date=1998|pages=318|isbn=978-0226086996}}&lt;/ref&gt; Der älteste Nachweis von ''Miracinonyx'' stammt allerdings erst aus dem ausgehenden [[Pliozän]]. Da aber schon die frühesten Vertreter der Gabelhornträger vom beginnenden [[Miozän]] an vor rund 20 Millionen Jahren aus [[Anatomie|anatomischen]] Gründen als extrem schnelle Läufer anzusehen sind, fehlt dieser Ansicht zahlreichen Wissenschaftlern zufolge die wissenschaftliche Grundlage.&lt;ref&gt;James R. Heffelfinger, Bart W. O'Gara, Christine M. Janis<del class="diffchange diffchange-inline"> und</del> Randall Babb: ''A bestiary of ancestral Antilocaprids.'' Proceedings of the 20th Biennial Pronghorn Workshop 20, 2004, S. 87–111.&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die Nachstellung der Gabelböcke durch ''Miracinonyx trumani'' galt<ins class="diffchange diffchange-inline"> zudem</ins> gemeinhin als Beispiel einer [[Koevolution]] in der [[Räuber-Beute-Beziehung]] ([[Red-Queen-Hypothese]]), da deren maximale Höchstgeschwindigkeit von 86&amp;nbsp;km/h weit höher ist als nötig, um den noch heute lebenden amerikanischen Raubtieren wie dem [[Puma]] und dem [[Wolf]] zu entkommen.&lt;ref&gt;{{cite book|last=Byers|first=John|title=American Pronghorn: Social Adaptations and the Ghosts of Predators Past|publisher=Chicago University Press|url=http://books.google.com/books?id=iFQgW0Mf5VoC&amp;source=gbs_navlinks_s|date=1998|pages=318|isbn=978-0226086996}}&lt;/ref&gt; Der älteste Nachweis von ''Miracinonyx'' stammt allerdings erst aus dem ausgehenden [[Pliozän]]. Da aber schon die frühesten Vertreter der Gabelhornträger vom beginnenden [[Miozän]] an vor rund 20 Millionen Jahren aus [[Anatomie|anatomischen]] Gründen als extrem schnelle Läufer anzusehen sind, fehlt dieser Ansicht zahlreichen Wissenschaftlern zufolge die wissenschaftliche Grundlage.&lt;ref&gt;James R. Heffelfinger, Bart W. O'Gara, Christine M. Janis<ins class="diffchange diffchange-inline">,</ins> Randall Babb: ''A bestiary of ancestral Antilocaprids.'' Proceedings of the 20th Biennial Pronghorn Workshop 20, 2004, S. 87–111<ins class="diffchange diffchange-inline">.&lt;/ref&gt; Für die spätpleistozänen Vertreter, die unter anderem aus verschiedenen Höhlen im [[Grand Canyon]] wie der ''Rampart Cave'' oder der ''Next Door Cave'' stammen, ergeben sich andere Interpretationen des Jagdverhaltens. Für diese wird vermutet, dass weniger die angenommene hohe Laufgeschwindigkeit als vielmehr eine ausgesprochene Kletterfähigkeit im Vordergrund stand. Demnach stellten die Raubtiere ihrer Beute in den steilen Felshängen der Schluchten nach, wodurch eher fossile Verwandte der heutigen [[Schneeziege]] zum Nahrungsspektrum gehörten. In dieser Eigenschaft glichen die Amerikanischen Geparde stärker dem heutigen [[Schneeleopard]]en, zudem auch dem Asiatischen Gepard, der im Gegensatz zu seinem afrikanischen Vetter häufiger verschiedenen [[Ziegenartige]]n in den gebirgigen Landschaften Zentralasiens nachstellt.&lt;ref&gt;John-Paul M. Hodnett, Richard S. White, Mary Carpenter, Jim I. Mead, Vincent L. Santucci: ''Miracinonyx trumani (Carnivora; Felidae) from the Rancholabrean of the Grand Canyon, Arizona and its implications for the ecology of the "American cheetah".'' In: ''New Mexico Museum of Natural History and Science Bulletin.'' 88, 2022, S. 157–185</ins>.&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>=== ''Miracinonyx inexpectatus'' ===</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die Ähnlichkeit zwischen ''Miracinonyx trumani'' und dem Gepard ist ein Beispiel für [[parallele Evolution]]. Als weite [[Graslandschaft]]en sowohl in Nordamerika als auch in Afrika während des [[Pleistozän]]s häufiger wurden, entwickelten sich pumaähnliche Katzenarten auf beiden Kontinenten zu schnellen Läufern, um die neu aufkommenden schnellen [[Pflanzenfresser]] jagen zu können. Die [[Kralle]]n von ''Miracinonyx trumani'' entwickelten sich dabei derart, dass sie – wie auch beim Gepard – nur noch teilweise einziehbar waren, um die Bodengriffigkeit beim schnellen Rennen zu erhöhen.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Der Absatz wurde verschoben. Klicken, um zur neuen Stelle zu springen." href="#movedpara_10_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_18_1_lhs"></a>== ''Miracinonyx <del class="diffchange diffchange-inline">inexpectatus</del>'' ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>''Miracinonix inexpectatus'' war dem Puma ähnlicher als dem Gepard. Er hatte vollständig einziehbare Krallen und konnte aufgrund seines schlanken Körperbaus wahrscheinlich schneller laufen als der Puma. Eventuell konnte er noch klettern und hatte seinen Lebensraum weniger in der Prärie als in stärker bewaldeten Regionen. Aufgrund des etwas kühleren Lebensraumes könnte er ein längeres Fell gehabt haben.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>''Miracinonix inexpectatus'' war dem Puma ähnlicher als dem Gepard. Er hatte vollständig einziehbare Krallen und konnte aufgrund seines schlanken Körperbaus wahrscheinlich schneller laufen als der Puma. Eventuell konnte er noch klettern und hatte seinen Lebensraum weniger in der Prärie als in stärker bewaldeten Regionen. Aufgrund des etwas kühleren Lebensraumes könnte er ein längeres Fell gehabt haben.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 20</td>
  <td colspan="2" class="diff-lineno">Line 20</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| Taxon6_WissName  = Laurasiatheria</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| Taxon6_WissName  = Laurasiatheria</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| Taxon6_Rang      = Überordnung</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| Taxon6_Rang      = Überordnung</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| Bild             = <del class="diffchange diffchange-inline">Miracinonyx inexpectatus.jpg</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| Bild             = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| Bildbeschreibung = <del class="diffchange diffchange-inline">Illustration des Amerikanischen Gepards (''Miracinonyx'')</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| Bildbeschreibung = </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| ErdzeitalterVon  = spätes [[Pliozän]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| ErdzeitalterVon  = spätes [[Pliozän]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| ErdzeitalterBis  = spätes [[Pleistozän]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| ErdzeitalterBis  = spätes [[Pleistozän]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 33</td>
  <td colspan="2" class="diff-lineno">Line 33</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Taxonomie und Evolution ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Taxonomie und Evolution ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die Amerikanischen Geparde wurden <del class="diffchange diffchange-inline">zu Beginn</del> als frühe Vertreter der [[Pumas]] angesehen, in den 1970er Jahren aber als nahe Verwandte des [[Gepard]]s neu klassifiziert.&lt;ref&gt;{{cite journal | first = Daniel B. | last = Adams | date = 14. September 1979 | url = <del class="diffchange diffchange-inline">http</del>://www.<del class="diffchange diffchange-inline">sciencemag</del>.org/<del class="diffchange diffchange-inline">cgi</del>/<del class="diffchange diffchange-inline">content/abstract</del>/205<del class="diffchange diffchange-inline">/</del>4411<del class="diffchange diffchange-inline">/</del>1155 | title = The Cheetah: Native American | journal = [[Science]] | volume = 205 | issue = 4411 | pages = 1155–1158 | doi= 10.1126/science.205.4411.1155 | accessdate=2007-06-04 | format = abstract | pmid = 17735054}}&lt;/ref&gt; Diese Theorie geht davon aus, dass sich die Vorfahren des Gepards aus der Linie der Pumas auf dem [[Amerika|amerikanischen Kontinent]] (die [[Neue Welt]]) entwickelten und über die [[Beringbrücke]] wieder in die [[Alte Welt]] (vor allem Asien und Afrika) wanderten.&lt;ref name="Warren E. Johnson 2006"&gt;{{cite journal | author = Johnson, W.E., Eizirik, E., Pecon-Slattery, J., Murphy, W.J., Antunes, A., Teeling, E. &amp; O'Brien, S.J. | date = 2006-01-06 | url = http://www.sciencemag.org/cgi/content/abstract/311/5757/73 | title = The Late Miocene radiation of modern Felidae: A genetic assessment | journal = [[Science]] | volume = 311 | issue=5757 | pages = 73–77 | doi = 10.1126/science.1122277 | accessdate=2007-06-04 | format = abstract | pmid = 16400146}}&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die Amerikanischen Geparde wurden <ins class="diffchange diffchange-inline">ursprünglich</ins> als frühe Vertreter der [[Pumas]] angesehen, in den 1970er Jahren aber als nahe Verwandte des [[Gepard]]s neu klassifiziert.&lt;ref&gt;{{cite journal | first = Daniel B. | last = Adams | date = 14. September 1979 | url = <ins class="diffchange diffchange-inline">https</ins>://www.<ins class="diffchange diffchange-inline">science</ins>.org/<ins class="diffchange diffchange-inline">doi</ins>/<ins class="diffchange diffchange-inline">10.1126</ins>/<ins class="diffchange diffchange-inline">science.</ins>205<ins class="diffchange diffchange-inline">.</ins>4411<ins class="diffchange diffchange-inline">.</ins>1155 | title = The Cheetah: Native American | journal = [[Science]] | volume = 205 | issue = 4411 | pages = 1155–1158 | doi= 10.1126/science.205.4411.1155 | accessdate=2007-06-04 | format = abstract | pmid = 17735054}}&lt;/ref&gt; Diese Theorie geht davon aus, dass sich die Vorfahren des Gepards aus der Linie der Pumas auf dem [[Amerika|amerikanischen Kontinent]] (die [[Neue Welt]]) entwickelten und über die [[Beringbrücke]] wieder in die [[Alte Welt]] (vor allem Asien und Afrika) wanderten.&lt;ref name="Warren E. Johnson 2006"&gt;{{cite journal | author = Johnson, W.E., Eizirik, E., Pecon-Slattery, J., Murphy, W.J., Antunes, A., Teeling, E. &amp; O'Brien, S.J. | date = 2006-01-06 | url = http://www.sciencemag.org/cgi/content/abstract/311/5757/73 | title = The Late Miocene radiation of modern Felidae: A genetic assessment | journal = [[Science]] | volume = 311 | issue=5757 | pages = 73–77 | doi = 10.1126/science.1122277 | accessdate=2007-06-04 | format = abstract | pmid = 16400146}}&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Andere Forschungen, wie etwa die von Ross Barnett, welche die Untersuchung der [[Mitochondriale DNA|mitochondrialen DNA]] der Knochenfunde sowie eine neue Analyse der Morphologie mit einschloss, sehen die Amerikanischen Geparde als unmittelbare Verwandte des [[Puma]]s, die gepardähnliche Merkmale aufgrund von [[Konvergenz (Biologie)|konvergenter Evolution]] entwickelten.&lt;ref name=Barnett&gt;{{cite journal | first = Ross | last = Barnett | coauthors= Ian Barnes, Matthew J. Phillips1, Larry D. Martin, C. Richard Harington, Jennifer A. Leonard, and Alan Cooper |date = 9. August 2005 | url = http://linkinghub.elsevier.com/retrieve/pii/S0960982205008365 | title = Evolution of the extinct Sabretooths and the American cheetah-like cat | journal = Current Biology | volume = 15 | issue = 15 | pages = R589–R590 | doi= 10.1016/j.cub.2005.07.052 | accessdate=2007-06-04}}&lt;/ref&gt; Puma und Amerikanischer Gepard sind dieser Analyse zufolge die [[Schwestergruppe]] des [[Jaguarundi]]s, einer eher [[Kleinkatzen|kleinkatzenähnlichen]] südamerikanischen Art. Erst diese Dreiergruppe sei Schwestergruppe des altweltlichen Gepards. Der vermutete amerikanische Ursprung der Geparde wäre damit hinfällig, denn die amerikanische Gepardlinie hätte sich demnach erst in der Neuen Welt (vor etwa 3 Millionen Jahren) von der Pumalinie getrennt, wohingegen diese sich deutlich vorher (vor mehr als 6 Millionen Jahren) und noch außerhalb Amerikas von der altweltlichen Gepardlinie trennte.&lt;ref name=Barnett/&gt;</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Andere Forschungen, wie etwa die von Ross Barnett, welche die Untersuchung der [[Mitochondriale DNA|mitochondrialen DNA]] der Knochenfunde sowie eine neue Analyse der Morphologie mit einschloss, sehen die Amerikanischen Geparde als unmittelbare Verwandte des [[Puma]]s, die gepardähnliche Merkmale aufgrund von [[Konvergenz (Biologie)|konvergenter Evolution]] entwickelten.&lt;ref name=Barnett&gt;{{cite journal | first = Ross | last = Barnett | coauthors= Ian Barnes, Matthew J. Phillips1, Larry D. Martin, C. Richard Harington, Jennifer A. Leonard, and Alan Cooper |date = 9. August 2005 | url = http://linkinghub.elsevier.com/retrieve/pii/S0960982205008365 | title = Evolution of the extinct Sabretooths and the American cheetah-like cat | journal = Current Biology | volume = 15 | issue = 15 | pages = R589–R590 | doi= 10.1016/j.cub.2005.07.052 | accessdate=2007-06-04}}&lt;/ref&gt; Puma und Amerikanischer Gepard sind dieser Analyse zufolge die [[Schwestergruppe]] des [[Jaguarundi]]s, einer eher [[Kleinkatzen|kleinkatzenähnlichen]] südamerikanischen Art. Erst diese Dreiergruppe sei Schwestergruppe des altweltlichen Gepards. Der vermutete amerikanische Ursprung der Geparde wäre damit hinfällig, denn die amerikanische Gepardlinie hätte sich demnach erst in der Neuen Welt (vor etwa 3 Millionen Jahren) von der Pumalinie getrennt, wohingegen diese sich deutlich vorher (vor mehr als 6 Millionen Jahren) und noch außerhalb Amerikas von der altweltlichen Gepardlinie trennte.&lt;ref name=Barnett/&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 41</td>
  <td colspan="2" class="diff-lineno">Line 41</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Vom Amerikanischen Gepard wurden bislang zwei Arten beschrieben: ''Miracinonyx trumani'' und ''Miracynonix inexpectatus''. Teilweise wird auch eine dritte Art ''Miracinonyx studeri'' angeführt, diese gilt jedoch als jüngeres [[Synonym (Taxonomie)|Synonym]] für ''Miracynonix trumani''. Beide Arten waren dem heutigen Gepard sehr ähnlich, mit verkürzten runden [[Schädel]]n und vergrößerten [[Nasenhöhle|Nasengängen]] für einen größeren Atemdurchsatz sowie speziell für schnelles Rennen proportionierte extrem lange [[Gliedmaßen]] und einem langen [[Schwanz]]. Ebenso soll das [[Gebiss]] gegenüber anderen Katzen stark verkleinert und relativ schwach gewesen sein. Dennoch wurden die Ähnlichkeiten nicht durch einen direkten gemeinsamen Vorfahren vererbt, sondern waren das Ergebnis von entweder [[Parallele Evolution|paralleler]] oder konvergenter Evolution.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Vom Amerikanischen Gepard wurden bislang zwei Arten beschrieben: ''Miracinonyx trumani'' und ''Miracynonix inexpectatus''. Teilweise wird auch eine dritte Art ''Miracinonyx studeri'' angeführt, diese gilt jedoch als jüngeres [[Synonym (Taxonomie)|Synonym]] für ''Miracynonix trumani''. Beide Arten waren dem heutigen Gepard sehr ähnlich, mit verkürzten runden [[Schädel]]n und vergrößerten [[Nasenhöhle|Nasengängen]] für einen größeren Atemdurchsatz sowie speziell für schnelles Rennen proportionierte extrem lange [[Gliedmaßen]] und einem langen [[Schwanz]]. Ebenso soll das [[Gebiss]] gegenüber anderen Katzen stark verkleinert und relativ schwach gewesen sein. Dennoch wurden die Ähnlichkeiten nicht durch einen direkten gemeinsamen Vorfahren vererbt, sondern waren das Ergebnis von entweder [[Parallele Evolution|paralleler]] oder konvergenter Evolution.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Durch [[Genetik|genetische]] und [[Immunologie|immunologische]] Untersuchungen konnte ermittelt werden, dass die heutigen Geparde wahrscheinlich alle von einer sehr kleinen Stammgruppe abstammen (→ [[genetischer Flaschenhals]]), die vor etwa 10.000 Jahren gelebt hat.&lt;ref name="Menotti-Raymond, M. ; O'Brien, S. J."&gt;M. Menotti-Raymond, S. J. O'Brien: ''Dating the genetic bottleneck of the African cheetah''. In: ''[[Proceedings of the National Academy of Sciences]]''. 1993<del class="diffchange diffchange-inline">;</del> <del class="diffchange diffchange-inline">90(8):</del> <del class="diffchange diffchange-inline">3172-3176</del>&lt;/ref&gt;&lt;ref&gt;[http://homepage.univie.ac.at/Franz.Embacher/Lehre/aussermathAnw/Populationen.html Modellberechnung der genetischen Drift]&lt;/ref&gt; Damals starb der Amerikanische Gepard aus, und der gewöhnliche Gepard in Afrika und Asien entging diesem Schicksal offenbar nur knapp. Er breitete sich jedoch in den [[Savanne]]n Afrikas und Asiens wieder aus und konnte daher bis in unsere Zeit überleben. Diese Untersuchung genießt in Fachkreisen hohes Ansehen und wird mittlerweile als klassisches Beispiel in der [[Populationsgenetik]] benutzt.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Durch [[Genetik|genetische]] und [[Immunologie|immunologische]] Untersuchungen konnte ermittelt werden, dass die heutigen Geparde wahrscheinlich alle von einer sehr kleinen Stammgruppe abstammen (→ [[genetischer Flaschenhals]]), die vor etwa 10.000 Jahren gelebt hat.&lt;ref name="Menotti-Raymond, M. ; O'Brien, S. J."&gt;M. Menotti-Raymond, S. J. O'Brien: ''Dating the genetic bottleneck of the African cheetah''. In: ''[[Proceedings of the National Academy of Sciences]]<ins class="diffchange diffchange-inline">.</ins>''<ins class="diffchange diffchange-inline"> 90, Nr</ins>.<ins class="diffchange diffchange-inline"> 8,</ins> 1993<ins class="diffchange diffchange-inline">,</ins> <ins class="diffchange diffchange-inline">S.</ins> <ins class="diffchange diffchange-inline">3172–3176</ins>&lt;/ref&gt;&lt;ref&gt;[http://homepage.univie.ac.at/Franz.Embacher/Lehre/aussermathAnw/Populationen.html Modellberechnung der genetischen Drift]&lt;/ref&gt; Damals starb der Amerikanische Gepard aus, und der gewöhnliche Gepard in Afrika und Asien entging diesem Schicksal offenbar nur knapp. Er breitete sich jedoch in den [[Savanne]]n Afrikas und Asiens wieder aus und konnte daher bis in unsere Zeit überleben. Diese Untersuchung genießt in Fachkreisen hohes Ansehen und wird mittlerweile als klassisches Beispiel in der [[Populationsgenetik]] benutzt.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die genauen Gründe, die zum Aussterben der Amerikanischen Geparde geführt haben oder geführt haben könnten, sind trotz aller Forschung dazu bislang nicht abschließend aufgeklärt. Einige Experten vermuten zusätzlich zum genannten genetischen Flaschenhals durchaus auch weitere Einflüsse wie einsetzende Klimaveränderungen und eine verstärkte Nahrungskonkurrenz. Dafür spricht etwa der Umstand, dass circa 10.000 Jahren vor unserer Zeitrechnung, während der [[Quartäre Aussterbewelle|<del class="diffchange diffchange-inline">Quartären</del> Aussterbewelle]], etliche andere [[Megafauna|Großtierarten]] Amerikas ausgestorben sind, wie beispielsweise der [[Amerikanischer Löwe|Amerikanische Löwe]].</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die genauen Gründe, die zum Aussterben der Amerikanischen Geparde geführt haben oder geführt haben könnten, sind trotz aller Forschung dazu bislang nicht abschließend aufgeklärt. Einige Experten vermuten zusätzlich zum genannten genetischen Flaschenhals durchaus auch weitere Einflüsse wie einsetzende Klimaveränderungen und eine verstärkte Nahrungskonkurrenz. Dafür spricht etwa der Umstand, dass circa 10.000 Jahren vor unserer Zeitrechnung, während der [[Quartäre Aussterbewelle|<ins class="diffchange diffchange-inline">quartären</ins> Aussterbewelle]], etliche andere [[Megafauna|Großtierarten]] Amerikas ausgestorben sind, wie beispielsweise der [[Amerikanischer Löwe|Amerikanische Löwe]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== ''Miracinonyx trumani'' ==</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">== Arten ==</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">=</ins>== ''Miracinonyx trumani'' <ins class="diffchange diffchange-inline">=</ins>==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''Miracinonyx trumani'' war den echten Geparden morphologisch am ähnlichsten. Er lebte in der [[Prärie]] sowie den weiten [[Ebene (Geographie)|Ebenen]] des westlichen Nordamerika und jagte sehr wahrscheinlich [[Huftiere]] der [[Great Plains]], wie den heute noch lebenden [[Gabelbock]]. <del class="diffchange diffchange-inline">Es</del> besteht <del class="diffchange diffchange-inline">Grund zur</del> Annahme, dass seine maximal erreichbare Geschwindigkeit jener der heutigen Geparde nur wenig nachstand und mindestens um die 100&amp;nbsp;km/h gelegen haben dürfte.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>''Miracinonyx trumani'' war den echten Geparden morphologisch am ähnlichsten. Er lebte in der [[Prärie]] sowie den weiten [[Ebene (Geographie)|Ebenen]] des westlichen Nordamerika und jagte sehr wahrscheinlich [[Huftiere]] der [[Great Plains]], wie den heute noch lebenden [[Gabelbock]]. <ins class="diffchange diffchange-inline">Teilweise</ins> besteht <ins class="diffchange diffchange-inline">die</ins> Annahme, dass seine maximal erreichbare Geschwindigkeit jener der heutigen Geparde nur wenig nachstand und mindestens um die 100&amp;nbsp;km/h gelegen haben dürfte<ins class="diffchange diffchange-inline">. Dabei wird die Ähnlichkeit zwischen ''Miracinonyx trumani'' und dem Gepard als ein Beispiel für [[parallele Evolution]] betrachtet. Als weite [[Graslandschaft]]en sowohl in Nordamerika als auch in Afrika während des [[Pleistozän]]s häufiger wurden, entwickelten sich pumaähnliche Katzenarten auf beiden Kontinenten zu schnellen Läufern, um die neu aufkommenden schnellen [[Pflanzenfresser]] jagen zu können. Die [[Kralle]]n von ''Miracinonyx trumani'' entwickelten sich dabei derart, dass sie – wie auch beim Gepard – nur noch teilweise einziehbar waren, um die Bodengriffigkeit beim schnellen Rennen zu erhöhen</ins>.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die Nachstellung der Gabelböcke durch<del class="diffchange diffchange-inline"> den</del> ''Miracinonyx trumani'' galt gemeinhin als Beispiel einer [[Koevolution]] in der [[Räuber-Beute-Beziehung]] ([[Red-Queen-Hypothese]]), da deren maximale Höchstgeschwindigkeit von 86&amp;nbsp;km/h weit höher ist als nötig, um den noch heute lebenden amerikanischen Raubtieren wie dem [[Puma]] und dem [[Wolf]] zu entkommen.&lt;ref&gt;{{cite book|last=Byers|first=John|title=American Pronghorn: Social Adaptations and the Ghosts of Predators Past|publisher=Chicago University Press|url=http://books.google.com/books?id=iFQgW0Mf5VoC&amp;source=gbs_navlinks_s|date=1998|pages=318|isbn=978-0226086996}}&lt;/ref&gt; Der älteste Nachweis von ''Miracinonyx'' stammt allerdings erst aus dem ausgehenden [[Pliozän]]. Da aber schon die frühesten Vertreter der Gabelhornträger vom beginnenden [[Miozän]] an vor rund 20 Millionen Jahren aus [[Anatomie|anatomischen]] Gründen als extrem schnelle Läufer anzusehen sind, fehlt dieser Ansicht zahlreichen Wissenschaftlern zufolge die wissenschaftliche Grundlage.&lt;ref&gt;James R. Heffelfinger, Bart W. O'Gara, Christine M. Janis<del class="diffchange diffchange-inline"> und</del> Randall Babb: ''A bestiary of ancestral Antilocaprids.'' Proceedings of the 20th Biennial Pronghorn Workshop 20, 2004, S. 87–111.&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die Nachstellung der Gabelböcke durch ''Miracinonyx trumani'' galt<ins class="diffchange diffchange-inline"> zudem</ins> gemeinhin als Beispiel einer [[Koevolution]] in der [[Räuber-Beute-Beziehung]] ([[Red-Queen-Hypothese]]), da deren maximale Höchstgeschwindigkeit von 86&amp;nbsp;km/h weit höher ist als nötig, um den noch heute lebenden amerikanischen Raubtieren wie dem [[Puma]] und dem [[Wolf]] zu entkommen.&lt;ref&gt;{{cite book|last=Byers|first=John|title=American Pronghorn: Social Adaptations and the Ghosts of Predators Past|publisher=Chicago University Press|url=http://books.google.com/books?id=iFQgW0Mf5VoC&amp;source=gbs_navlinks_s|date=1998|pages=318|isbn=978-0226086996}}&lt;/ref&gt; Der älteste Nachweis von ''Miracinonyx'' stammt allerdings erst aus dem ausgehenden [[Pliozän]]. Da aber schon die frühesten Vertreter der Gabelhornträger vom beginnenden [[Miozän]] an vor rund 20 Millionen Jahren aus [[Anatomie|anatomischen]] Gründen als extrem schnelle Läufer anzusehen sind, fehlt dieser Ansicht zahlreichen Wissenschaftlern zufolge die wissenschaftliche Grundlage.&lt;ref&gt;James R. Heffelfinger, Bart W. O'Gara, Christine M. Janis<ins class="diffchange diffchange-inline">,</ins> Randall Babb: ''A bestiary of ancestral Antilocaprids.'' Proceedings of the 20th Biennial Pronghorn Workshop 20, 2004, S. 87–111<ins class="diffchange diffchange-inline">.&lt;/ref&gt; Für die spätpleistozänen Vertreter, die unter anderem aus verschiedenen Höhlen im [[Grand Canyon]] wie der ''Rampart Cave'' oder der ''Next Door Cave'' stammen, ergeben sich andere Interpretationen des Jagdverhaltens. Für diese wird vermutet, dass weniger die angenommene hohe Laufgeschwindigkeit als vielmehr eine ausgesprochene Kletterfähigkeit im Vordergrund stand. Demnach stellten die Raubtiere ihrer Beute in den steilen Felshängen der Schluchten nach, wodurch eher fossile Verwandte der heutigen [[Schneeziege]] zum Nahrungsspektrum gehörten. In dieser Eigenschaft glichen die Amerikanischen Geparde stärker dem heutigen [[Schneeleopard]]en, zudem auch dem Asiatischen Gepard, der im Gegensatz zu seinem afrikanischen Vetter häufiger verschiedenen [[Ziegenartige]]n in den gebirgigen Landschaften Zentralasiens nachstellt.&lt;ref&gt;John-Paul M. Hodnett, Richard S. White, Mary Carpenter, Jim I. Mead, Vincent L. Santucci: ''Miracinonyx trumani (Carnivora; Felidae) from the Rancholabrean of the Grand Canyon, Arizona and its implications for the ecology of the "American cheetah".'' In: ''New Mexico Museum of Natural History and Science Bulletin.'' 88, 2022, S. 157–185</ins>.&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_16_1_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_14_0_rhs"></a><ins class="diffchange diffchange-inline">=</ins>== ''Miracinonyx inexpectatus'' <ins class="diffchange diffchange-inline">=</ins>==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die Ähnlichkeit zwischen ''Miracinonyx trumani'' und dem Gepard ist ein Beispiel für [[parallele Evolution]]. Als weite [[Graslandschaft]]en sowohl in Nordamerika als auch in Afrika während des [[Pleistozän]]s häufiger wurden, entwickelten sich pumaähnliche Katzenarten auf beiden Kontinenten zu schnellen Läufern, um die neu aufkommenden schnellen [[Pflanzenfresser]] jagen zu können. Die [[Kralle]]n von ''Miracinonyx trumani'' entwickelten sich dabei derart, dass sie – wie auch beim Gepard – nur noch teilweise einziehbar waren, um die Bodengriffigkeit beim schnellen Rennen zu erhöhen.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_14_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_16_1_lhs"></a>== ''Miracinonyx inexpectatus'' ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>''Miracinonix inexpectatus'' war dem Puma ähnlicher als dem Gepard. Er hatte vollständig einziehbare Krallen und konnte aufgrund seines schlanken Körperbaus wahrscheinlich schneller laufen als der Puma. Eventuell konnte er noch klettern und hatte seinen Lebensraum weniger in der Prärie als in stärker bewaldeten Regionen. Aufgrund des etwas kühleren Lebensraumes könnte er ein längeres Fell gehabt haben.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>''Miracinonix inexpectatus'' war dem Puma ähnlicher als dem Gepard. Er hatte vollständig einziehbare Krallen und konnte aufgrund seines schlanken Körperbaus wahrscheinlich schneller laufen als der Puma. Eventuell konnte er noch klettern und hatte seinen Lebensraum weniger in der Prärie als in stärker bewaldeten Regionen. Aufgrund des etwas kühleren Lebensraumes könnte er ein längeres Fell gehabt haben.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
</tbody></table>
<h2>New wikidiff2 diff changeThreshold = 0.3</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 20</td>
  <td colspan="2" class="diff-lineno">Line 20</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| Taxon6_WissName  = Laurasiatheria</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| Taxon6_WissName  = Laurasiatheria</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| Taxon6_Rang      = Überordnung</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| Taxon6_Rang      = Überordnung</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| Bild             = <del class="diffchange diffchange-inline">Miracinonyx inexpectatus.jpg</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| Bild             = </div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>| Bildbeschreibung = </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>| Bildbeschreibung = Illustration des Amerikanischen Gepards (''Miracinonyx'')</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| ErdzeitalterVon  = spätes [[Pliozän]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| ErdzeitalterVon  = spätes [[Pliozän]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>| ErdzeitalterBis  = spätes [[Pleistozän]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>| ErdzeitalterBis  = spätes [[Pleistozän]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 33</td>
  <td colspan="2" class="diff-lineno">Line 33</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Taxonomie und Evolution ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Taxonomie und Evolution ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die Amerikanischen Geparde wurden <del class="diffchange diffchange-inline">zu Beginn</del> als frühe Vertreter der [[Pumas]] angesehen, in den 1970er Jahren aber als nahe Verwandte des [[Gepard]]s neu klassifiziert.&lt;ref&gt;{{cite journal | first = Daniel B. | last = Adams | date = 14. September 1979 | url = <del class="diffchange diffchange-inline">http</del>://www.<del class="diffchange diffchange-inline">sciencemag</del>.org/<del class="diffchange diffchange-inline">cgi</del>/<del class="diffchange diffchange-inline">content/abstract</del>/205<del class="diffchange diffchange-inline">/</del>4411<del class="diffchange diffchange-inline">/</del>1155 | title = The Cheetah: Native American | journal = [[Science]] | volume = 205 | issue = 4411 | pages = 1155–1158 | doi= 10.1126/science.205.4411.1155 | accessdate=2007-06-04 | format = abstract | pmid = 17735054}}&lt;/ref&gt; Diese Theorie geht davon aus, dass sich die Vorfahren des Gepards aus der Linie der Pumas auf dem [[Amerika|amerikanischen Kontinent]] (die [[Neue Welt]]) entwickelten und über die [[Beringbrücke]] wieder in die [[Alte Welt]] (vor allem Asien und Afrika) wanderten.&lt;ref name="Warren E. Johnson 2006"&gt;{{cite journal | author = Johnson, W.E., Eizirik, E., Pecon-Slattery, J., Murphy, W.J., Antunes, A., Teeling, E. &amp; O'Brien, S.J. | date = 2006-01-06 | url = http://www.sciencemag.org/cgi/content/abstract/311/5757/73 | title = The Late Miocene radiation of modern Felidae: A genetic assessment | journal = [[Science]] | volume = 311 | issue=5757 | pages = 73–77 | doi = 10.1126/science.1122277 | accessdate=2007-06-04 | format = abstract | pmid = 16400146}}&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die Amerikanischen Geparde wurden <ins class="diffchange diffchange-inline">ursprünglich</ins> als frühe Vertreter der [[Pumas]] angesehen, in den 1970er Jahren aber als nahe Verwandte des [[Gepard]]s neu klassifiziert.&lt;ref&gt;{{cite journal | first = Daniel B. | last = Adams | date = 14. September 1979 | url = <ins class="diffchange diffchange-inline">https</ins>://www.<ins class="diffchange diffchange-inline">science</ins>.org/<ins class="diffchange diffchange-inline">doi</ins>/<ins class="diffchange diffchange-inline">10.1126</ins>/<ins class="diffchange diffchange-inline">science.</ins>205<ins class="diffchange diffchange-inline">.</ins>4411<ins class="diffchange diffchange-inline">.</ins>1155 | title = The Cheetah: Native American | journal = [[Science]] | volume = 205 | issue = 4411 | pages = 1155–1158 | doi= 10.1126/science.205.4411.1155 | accessdate=2007-06-04 | format = abstract | pmid = 17735054}}&lt;/ref&gt; Diese Theorie geht davon aus, dass sich die Vorfahren des Gepards aus der Linie der Pumas auf dem [[Amerika|amerikanischen Kontinent]] (die [[Neue Welt]]) entwickelten und über die [[Beringbrücke]] wieder in die [[Alte Welt]] (vor allem Asien und Afrika) wanderten.&lt;ref name="Warren E. Johnson 2006"&gt;{{cite journal | author = Johnson, W.E., Eizirik, E., Pecon-Slattery, J., Murphy, W.J., Antunes, A., Teeling, E. &amp; O'Brien, S.J. | date = 2006-01-06 | url = http://www.sciencemag.org/cgi/content/abstract/311/5757/73 | title = The Late Miocene radiation of modern Felidae: A genetic assessment | journal = [[Science]] | volume = 311 | issue=5757 | pages = 73–77 | doi = 10.1126/science.1122277 | accessdate=2007-06-04 | format = abstract | pmid = 16400146}}&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Andere Forschungen, wie etwa die von Ross Barnett, welche die Untersuchung der [[Mitochondriale DNA|mitochondrialen DNA]] der Knochenfunde sowie eine neue Analyse der Morphologie mit einschloss, sehen die Amerikanischen Geparde als unmittelbare Verwandte des [[Puma]]s, die gepardähnliche Merkmale aufgrund von [[Konvergenz (Biologie)|konvergenter Evolution]] entwickelten.&lt;ref name=Barnett&gt;{{cite journal | first = Ross | last = Barnett | coauthors= Ian Barnes, Matthew J. Phillips1, Larry D. Martin, C. Richard Harington, Jennifer A. Leonard, and Alan Cooper |date = 9. August 2005 | url = http://linkinghub.elsevier.com/retrieve/pii/S0960982205008365 | title = Evolution of the extinct Sabretooths and the American cheetah-like cat | journal = Current Biology | volume = 15 | issue = 15 | pages = R589–R590 | doi= 10.1016/j.cub.2005.07.052 | accessdate=2007-06-04}}&lt;/ref&gt; Puma und Amerikanischer Gepard sind dieser Analyse zufolge die [[Schwestergruppe]] des [[Jaguarundi]]s, einer eher [[Kleinkatzen|kleinkatzenähnlichen]] südamerikanischen Art. Erst diese Dreiergruppe sei Schwestergruppe des altweltlichen Gepards. Der vermutete amerikanische Ursprung der Geparde wäre damit hinfällig, denn die amerikanische Gepardlinie hätte sich demnach erst in der Neuen Welt (vor etwa 3 Millionen Jahren) von der Pumalinie getrennt, wohingegen diese sich deutlich vorher (vor mehr als 6 Millionen Jahren) und noch außerhalb Amerikas von der altweltlichen Gepardlinie trennte.&lt;ref name=Barnett/&gt;</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Andere Forschungen, wie etwa die von Ross Barnett, welche die Untersuchung der [[Mitochondriale DNA|mitochondrialen DNA]] der Knochenfunde sowie eine neue Analyse der Morphologie mit einschloss, sehen die Amerikanischen Geparde als unmittelbare Verwandte des [[Puma]]s, die gepardähnliche Merkmale aufgrund von [[Konvergenz (Biologie)|konvergenter Evolution]] entwickelten.&lt;ref name=Barnett&gt;{{cite journal | first = Ross | last = Barnett | coauthors= Ian Barnes, Matthew J. Phillips1, Larry D. Martin, C. Richard Harington, Jennifer A. Leonard, and Alan Cooper |date = 9. August 2005 | url = http://linkinghub.elsevier.com/retrieve/pii/S0960982205008365 | title = Evolution of the extinct Sabretooths and the American cheetah-like cat | journal = Current Biology | volume = 15 | issue = 15 | pages = R589–R590 | doi= 10.1016/j.cub.2005.07.052 | accessdate=2007-06-04}}&lt;/ref&gt; Puma und Amerikanischer Gepard sind dieser Analyse zufolge die [[Schwestergruppe]] des [[Jaguarundi]]s, einer eher [[Kleinkatzen|kleinkatzenähnlichen]] südamerikanischen Art. Erst diese Dreiergruppe sei Schwestergruppe des altweltlichen Gepards. Der vermutete amerikanische Ursprung der Geparde wäre damit hinfällig, denn die amerikanische Gepardlinie hätte sich demnach erst in der Neuen Welt (vor etwa 3 Millionen Jahren) von der Pumalinie getrennt, wohingegen diese sich deutlich vorher (vor mehr als 6 Millionen Jahren) und noch außerhalb Amerikas von der altweltlichen Gepardlinie trennte.&lt;ref name=Barnett/&gt;</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 41</td>
  <td colspan="2" class="diff-lineno">Line 41</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Vom Amerikanischen Gepard wurden bislang zwei Arten beschrieben: ''Miracinonyx trumani'' und ''Miracynonix inexpectatus''. Teilweise wird auch eine dritte Art ''Miracinonyx studeri'' angeführt, diese gilt jedoch als jüngeres [[Synonym (Taxonomie)|Synonym]] für ''Miracynonix trumani''. Beide Arten waren dem heutigen Gepard sehr ähnlich, mit verkürzten runden [[Schädel]]n und vergrößerten [[Nasenhöhle|Nasengängen]] für einen größeren Atemdurchsatz sowie speziell für schnelles Rennen proportionierte extrem lange [[Gliedmaßen]] und einem langen [[Schwanz]]. Ebenso soll das [[Gebiss]] gegenüber anderen Katzen stark verkleinert und relativ schwach gewesen sein. Dennoch wurden die Ähnlichkeiten nicht durch einen direkten gemeinsamen Vorfahren vererbt, sondern waren das Ergebnis von entweder [[Parallele Evolution|paralleler]] oder konvergenter Evolution.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Vom Amerikanischen Gepard wurden bislang zwei Arten beschrieben: ''Miracinonyx trumani'' und ''Miracynonix inexpectatus''. Teilweise wird auch eine dritte Art ''Miracinonyx studeri'' angeführt, diese gilt jedoch als jüngeres [[Synonym (Taxonomie)|Synonym]] für ''Miracynonix trumani''. Beide Arten waren dem heutigen Gepard sehr ähnlich, mit verkürzten runden [[Schädel]]n und vergrößerten [[Nasenhöhle|Nasengängen]] für einen größeren Atemdurchsatz sowie speziell für schnelles Rennen proportionierte extrem lange [[Gliedmaßen]] und einem langen [[Schwanz]]. Ebenso soll das [[Gebiss]] gegenüber anderen Katzen stark verkleinert und relativ schwach gewesen sein. Dennoch wurden die Ähnlichkeiten nicht durch einen direkten gemeinsamen Vorfahren vererbt, sondern waren das Ergebnis von entweder [[Parallele Evolution|paralleler]] oder konvergenter Evolution.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Durch [[Genetik|genetische]] und [[Immunologie|immunologische]] Untersuchungen konnte ermittelt werden, dass die heutigen Geparde wahrscheinlich alle von einer sehr kleinen Stammgruppe abstammen (→ [[genetischer Flaschenhals]]), die vor etwa 10.000 Jahren gelebt hat.&lt;ref name="Menotti-Raymond, M. ; O'Brien, S. J."&gt;M. Menotti-Raymond, S. J. O'Brien: ''Dating the genetic bottleneck of the African cheetah''. In: ''[[Proceedings of the National Academy of Sciences]]''. 1993<del class="diffchange diffchange-inline">;</del> <del class="diffchange diffchange-inline">90(8):</del> <del class="diffchange diffchange-inline">3172-3176</del>&lt;/ref&gt;&lt;ref&gt;[http://homepage.univie.ac.at/Franz.Embacher/Lehre/aussermathAnw/Populationen.html Modellberechnung der genetischen Drift]&lt;/ref&gt; Damals starb der Amerikanische Gepard aus, und der gewöhnliche Gepard in Afrika und Asien entging diesem Schicksal offenbar nur knapp. Er breitete sich jedoch in den [[Savanne]]n Afrikas und Asiens wieder aus und konnte daher bis in unsere Zeit überleben. Diese Untersuchung genießt in Fachkreisen hohes Ansehen und wird mittlerweile als klassisches Beispiel in der [[Populationsgenetik]] benutzt.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Durch [[Genetik|genetische]] und [[Immunologie|immunologische]] Untersuchungen konnte ermittelt werden, dass die heutigen Geparde wahrscheinlich alle von einer sehr kleinen Stammgruppe abstammen (→ [[genetischer Flaschenhals]]), die vor etwa 10.000 Jahren gelebt hat.&lt;ref name="Menotti-Raymond, M. ; O'Brien, S. J."&gt;M. Menotti-Raymond, S. J. O'Brien: ''Dating the genetic bottleneck of the African cheetah''. In: ''[[Proceedings of the National Academy of Sciences]]<ins class="diffchange diffchange-inline">.</ins>''<ins class="diffchange diffchange-inline"> 90, Nr</ins>.<ins class="diffchange diffchange-inline"> 8,</ins> 1993<ins class="diffchange diffchange-inline">,</ins> <ins class="diffchange diffchange-inline">S.</ins> <ins class="diffchange diffchange-inline">3172–3176</ins>&lt;/ref&gt;&lt;ref&gt;[http://homepage.univie.ac.at/Franz.Embacher/Lehre/aussermathAnw/Populationen.html Modellberechnung der genetischen Drift]&lt;/ref&gt; Damals starb der Amerikanische Gepard aus, und der gewöhnliche Gepard in Afrika und Asien entging diesem Schicksal offenbar nur knapp. Er breitete sich jedoch in den [[Savanne]]n Afrikas und Asiens wieder aus und konnte daher bis in unsere Zeit überleben. Diese Untersuchung genießt in Fachkreisen hohes Ansehen und wird mittlerweile als klassisches Beispiel in der [[Populationsgenetik]] benutzt.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die genauen Gründe, die zum Aussterben der Amerikanischen Geparde geführt haben oder geführt haben könnten, sind trotz aller Forschung dazu bislang nicht abschließend aufgeklärt. Einige Experten vermuten zusätzlich zum genannten genetischen Flaschenhals durchaus auch weitere Einflüsse wie einsetzende Klimaveränderungen und eine verstärkte Nahrungskonkurrenz. Dafür spricht etwa der Umstand, dass circa 10.000 Jahren vor unserer Zeitrechnung, während der [[Quartäre Aussterbewelle|<del class="diffchange diffchange-inline">Quartären</del> Aussterbewelle]], etliche andere [[Megafauna|Großtierarten]] Amerikas ausgestorben sind, wie beispielsweise der [[Amerikanischer Löwe|Amerikanische Löwe]].</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die genauen Gründe, die zum Aussterben der Amerikanischen Geparde geführt haben oder geführt haben könnten, sind trotz aller Forschung dazu bislang nicht abschließend aufgeklärt. Einige Experten vermuten zusätzlich zum genannten genetischen Flaschenhals durchaus auch weitere Einflüsse wie einsetzende Klimaveränderungen und eine verstärkte Nahrungskonkurrenz. Dafür spricht etwa der Umstand, dass circa 10.000 Jahren vor unserer Zeitrechnung, während der [[Quartäre Aussterbewelle|<ins class="diffchange diffchange-inline">quartären</ins> Aussterbewelle]], etliche andere [[Megafauna|Großtierarten]] Amerikas ausgestorben sind, wie beispielsweise der [[Amerikanischer Löwe|Amerikanische Löwe]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== ''Miracinonyx trumani'' ==</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">== Arten ==</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">=</ins>== ''Miracinonyx trumani'' <ins class="diffchange diffchange-inline">=</ins>==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>''Miracinonyx trumani'' war den echten Geparden morphologisch am ähnlichsten. Er lebte in der [[Prärie]] sowie den weiten [[Ebene (Geographie)|Ebenen]] des westlichen Nordamerika und jagte sehr wahrscheinlich [[Huftiere]] der [[Great Plains]], wie den heute noch lebenden [[Gabelbock]]. <del class="diffchange diffchange-inline">Es</del> besteht <del class="diffchange diffchange-inline">Grund zur</del> Annahme, dass seine maximal erreichbare Geschwindigkeit jener der heutigen Geparde nur wenig nachstand und mindestens um die 100&amp;nbsp;km/h gelegen haben dürfte.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>''Miracinonyx trumani'' war den echten Geparden morphologisch am ähnlichsten. Er lebte in der [[Prärie]] sowie den weiten [[Ebene (Geographie)|Ebenen]] des westlichen Nordamerika und jagte sehr wahrscheinlich [[Huftiere]] der [[Great Plains]], wie den heute noch lebenden [[Gabelbock]]. <ins class="diffchange diffchange-inline">Teilweise</ins> besteht <ins class="diffchange diffchange-inline">die</ins> Annahme, dass seine maximal erreichbare Geschwindigkeit jener der heutigen Geparde nur wenig nachstand und mindestens um die 100&amp;nbsp;km/h gelegen haben dürfte<ins class="diffchange diffchange-inline">. Dabei wird die Ähnlichkeit zwischen ''Miracinonyx trumani'' und dem Gepard als ein Beispiel für [[parallele Evolution]] betrachtet. Als weite [[Graslandschaft]]en sowohl in Nordamerika als auch in Afrika während des [[Pleistozän]]s häufiger wurden, entwickelten sich pumaähnliche Katzenarten auf beiden Kontinenten zu schnellen Läufern, um die neu aufkommenden schnellen [[Pflanzenfresser]] jagen zu können. Die [[Kralle]]n von ''Miracinonyx trumani'' entwickelten sich dabei derart, dass sie – wie auch beim Gepard – nur noch teilweise einziehbar waren, um die Bodengriffigkeit beim schnellen Rennen zu erhöhen</ins>.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die Nachstellung der Gabelböcke durch<del class="diffchange diffchange-inline"> den</del> ''Miracinonyx trumani'' galt gemeinhin als Beispiel einer [[Koevolution]] in der [[Räuber-Beute-Beziehung]] ([[Red-Queen-Hypothese]]), da deren maximale Höchstgeschwindigkeit von 86&amp;nbsp;km/h weit höher ist als nötig, um den noch heute lebenden amerikanischen Raubtieren wie dem [[Puma]] und dem [[Wolf]] zu entkommen.&lt;ref&gt;{{cite book|last=Byers|first=John|title=American Pronghorn: Social Adaptations and the Ghosts of Predators Past|publisher=Chicago University Press|url=http://books.google.com/books?id=iFQgW0Mf5VoC&amp;source=gbs_navlinks_s|date=1998|pages=318|isbn=978-0226086996}}&lt;/ref&gt; Der älteste Nachweis von ''Miracinonyx'' stammt allerdings erst aus dem ausgehenden [[Pliozän]]. Da aber schon die frühesten Vertreter der Gabelhornträger vom beginnenden [[Miozän]] an vor rund 20 Millionen Jahren aus [[Anatomie|anatomischen]] Gründen als extrem schnelle Läufer anzusehen sind, fehlt dieser Ansicht zahlreichen Wissenschaftlern zufolge die wissenschaftliche Grundlage.&lt;ref&gt;James R. Heffelfinger, Bart W. O'Gara, Christine M. Janis<del class="diffchange diffchange-inline"> und</del> Randall Babb: ''A bestiary of ancestral Antilocaprids.'' Proceedings of the 20th Biennial Pronghorn Workshop 20, 2004, S. 87–111.&lt;/ref&gt;</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Die Nachstellung der Gabelböcke durch ''Miracinonyx trumani'' galt<ins class="diffchange diffchange-inline"> zudem</ins> gemeinhin als Beispiel einer [[Koevolution]] in der [[Räuber-Beute-Beziehung]] ([[Red-Queen-Hypothese]]), da deren maximale Höchstgeschwindigkeit von 86&amp;nbsp;km/h weit höher ist als nötig, um den noch heute lebenden amerikanischen Raubtieren wie dem [[Puma]] und dem [[Wolf]] zu entkommen.&lt;ref&gt;{{cite book|last=Byers|first=John|title=American Pronghorn: Social Adaptations and the Ghosts of Predators Past|publisher=Chicago University Press|url=http://books.google.com/books?id=iFQgW0Mf5VoC&amp;source=gbs_navlinks_s|date=1998|pages=318|isbn=978-0226086996}}&lt;/ref&gt; Der älteste Nachweis von ''Miracinonyx'' stammt allerdings erst aus dem ausgehenden [[Pliozän]]. Da aber schon die frühesten Vertreter der Gabelhornträger vom beginnenden [[Miozän]] an vor rund 20 Millionen Jahren aus [[Anatomie|anatomischen]] Gründen als extrem schnelle Läufer anzusehen sind, fehlt dieser Ansicht zahlreichen Wissenschaftlern zufolge die wissenschaftliche Grundlage.&lt;ref&gt;James R. Heffelfinger, Bart W. O'Gara, Christine M. Janis<ins class="diffchange diffchange-inline">,</ins> Randall Babb: ''A bestiary of ancestral Antilocaprids.'' Proceedings of the 20th Biennial Pronghorn Workshop 20, 2004, S. 87–111<ins class="diffchange diffchange-inline">.&lt;/ref&gt; Für die spätpleistozänen Vertreter, die unter anderem aus verschiedenen Höhlen im [[Grand Canyon]] wie der ''Rampart Cave'' oder der ''Next Door Cave'' stammen, ergeben sich andere Interpretationen des Jagdverhaltens. Für diese wird vermutet, dass weniger die angenommene hohe Laufgeschwindigkeit als vielmehr eine ausgesprochene Kletterfähigkeit im Vordergrund stand. Demnach stellten die Raubtiere ihrer Beute in den steilen Felshängen der Schluchten nach, wodurch eher fossile Verwandte der heutigen [[Schneeziege]] zum Nahrungsspektrum gehörten. In dieser Eigenschaft glichen die Amerikanischen Geparde stärker dem heutigen [[Schneeleopard]]en, zudem auch dem Asiatischen Gepard, der im Gegensatz zu seinem afrikanischen Vetter häufiger verschiedenen [[Ziegenartige]]n in den gebirgigen Landschaften Zentralasiens nachstellt.&lt;ref&gt;John-Paul M. Hodnett, Richard S. White, Mary Carpenter, Jim I. Mead, Vincent L. Santucci: ''Miracinonyx trumani (Carnivora; Felidae) from the Rancholabrean of the Grand Canyon, Arizona and its implications for the ecology of the "American cheetah".'' In: ''New Mexico Museum of Natural History and Science Bulletin.'' 88, 2022, S. 157–185</ins>.&lt;/ref&gt;</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_18_1_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_16_0_rhs"></a><ins class="diffchange diffchange-inline">=</ins>== ''Miracinonyx inexpectatus'' <ins class="diffchange diffchange-inline">=</ins>==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Die Ähnlichkeit zwischen ''Miracinonyx trumani'' und dem Gepard ist ein Beispiel für [[parallele Evolution]]. Als weite [[Graslandschaft]]en sowohl in Nordamerika als auch in Afrika während des [[Pleistozän]]s häufiger wurden, entwickelten sich pumaähnliche Katzenarten auf beiden Kontinenten zu schnellen Läufern, um die neu aufkommenden schnellen [[Pflanzenfresser]] jagen zu können. Die [[Kralle]]n von ''Miracinonyx trumani'' entwickelten sich dabei derart, dass sie – wie auch beim Gepard – nur noch teilweise einziehbar waren, um die Bodengriffigkeit beim schnellen Rennen zu erhöhen.</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_16_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_18_1_lhs"></a>== ''Miracinonyx inexpectatus'' ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>''Miracinonix inexpectatus'' war dem Puma ähnlicher als dem Gepard. Er hatte vollständig einziehbare Krallen und konnte aufgrund seines schlanken Körperbaus wahrscheinlich schneller laufen als der Puma. Eventuell konnte er noch klettern und hatte seinen Lebensraum weniger in der Prärie als in stärker bewaldeten Regionen. Aufgrund des etwas kühleren Lebensraumes könnte er ein längeres Fell gehabt haben.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>''Miracinonix inexpectatus'' war dem Puma ähnlicher als dem Gepard. Er hatte vollständig einziehbare Krallen und konnte aufgrund seines schlanken Körperbaus wahrscheinlich schneller laufen als der Puma. Eventuell konnte er noch klettern und hatte seinen Lebensraum weniger in der Prärie als in stärker bewaldeten Regionen. Aufgrund des etwas kühleren Lebensraumes könnte er ein längeres Fell gehabt haben.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
</tbody></table>
</body></html>
