<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 787725 to 251128</h1><h2>Existing two-column diff</h2><a href="https://de.wikiversity.org/w/index.php?title=Zwei abgeschlossene Untermannigfaltigkeiten/Produkt davon/Aufgabe&oldid=787725&diff=251128">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://de.wikiversity.org/w/index.php?title=Zwei abgeschlossene Untermannigfaltigkeiten/Produkt davon/Aufgabe&oldid=787725">787725</a></href></td><td colspan=2><a href="https://de.wikiversity.org/w/index.php?title=Zwei abgeschlossene Untermannigfaltigkeiten/Produkt davon/Aufgabe&oldid=251128">251128</a></tr><tr>
  <td colspan="2" class="diff-lineno">Zeile 12:</td>
  <td colspan="2" class="diff-lineno">Zeile 12:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Definitionslink</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Definitionslink</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Der Absatz wurde verschoben. Klicken, um zur alten Stelle zu springen." href="#movedpara_4_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_1_0_rhs"></a><ins class="diffchange diffchange-inline">|Prämath=</ins>|abgeschlossene Untermannigfaltigkeiten|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|Prämath=</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|kon=|msw=|</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Der Absatz wurde verschoben. Klicken, um zur neuen Stelle zu springen." href="#movedpara_1_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_4_0_lhs"></a>|abgeschlossene Untermannigfaltigkeiten|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|Kontext=|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Definitionsseitenname=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Definitionsseitenname=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>/Definition</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>/Definition</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Refname={{{def|}}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|SZ=.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|SZ=.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}} Zeige{{n Sie}}, dass ihr</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}} Zeige{{n Sie}}, dass ihr</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Definitionslink</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Definitionslink</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|Prämath=</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Prämath=<ins class="diffchange diffchange-inline">|Produkt|</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|kon=Mfk|msw=|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|Produkt|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|Kontext=Mfk|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Definitionsseitenname=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Definitionsseitenname=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>/Definition</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>/Definition</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Refname={{{def|}}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|SZ=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|SZ=</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>}} {{mathl|term=<del class="diffchange diffchange-inline"> </del>M_1 \times M_2|SZ=}} eine abgeschlossene Untermannigfaltigkeit von {{mathl|term=<del class="diffchange diffchange-inline"> </del>N_1 \times N_2|SZ=}} ist.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>}} {{mathl|term=M_1 \times M_2|SZ=}} eine abgeschlossene Untermannigfaltigkeit von {{mathl|term=N_1 \times N_2|SZ=}} ist.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Textart=Aufgabe </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Textart=Aufgabe </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Kategorie=Theorie der abgeschlossenen Untermannigfaltigkeiten</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Kategorie=Theorie der abgeschlossenen Untermannigfaltigkeiten</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 12</td>
  <td colspan="2" class="diff-lineno">Line 12</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Definitionslink</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Definitionslink</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|Prämath=</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Prämath=<ins class="diffchange diffchange-inline">|abgeschlossene Untermannigfaltigkeiten|</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|kon=|msw=|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|abgeschlossene Untermannigfaltigkeiten|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|Kontext=|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Definitionsseitenname=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Definitionsseitenname=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>/Definition</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>/Definition</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Refname={{{def|}}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|SZ=.</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|SZ=.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>}} Zeige{{n Sie}}, dass ihr</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>}} Zeige{{n Sie}}, dass ihr</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>Definitionslink</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>Definitionslink</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|Prämath=</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Prämath=<ins class="diffchange diffchange-inline">|Produkt|</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|kon=Mfk|msw=|</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|Produkt|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>|Kontext=Mfk|</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Definitionsseitenname=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Definitionsseitenname=</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>/Definition</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>/Definition</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>|Refname={{{def|}}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|SZ=</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|SZ=</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>}} {{mathl|term=<del class="diffchange diffchange-inline"> </del>M_1 \times M_2|SZ=}} eine abgeschlossene Untermannigfaltigkeit von {{mathl|term=<del class="diffchange diffchange-inline"> </del>N_1 \times N_2|SZ=}} ist.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>}} {{mathl|term=M_1 \times M_2|SZ=}} eine abgeschlossene Untermannigfaltigkeit von {{mathl|term=N_1 \times N_2|SZ=}} ist.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Textart=Aufgabe </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Textart=Aufgabe </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>|Kategorie=Theorie der abgeschlossenen Untermannigfaltigkeiten</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>|Kategorie=Theorie der abgeschlossenen Untermannigfaltigkeiten</div></td>
</tr>
</tbody></table>
</body></html>
