<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 86382 to 87894</h1><h2>Existing two-column diff</h2><a href="https://pl.wikivoyage.org/w/index.php?title=Kandava&oldid=86382&diff=87894">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://pl.wikivoyage.org/w/index.php?title=Kandava&oldid=86382">86382</a></href></td><td colspan=2><a href="https://pl.wikivoyage.org/w/index.php?title=Kandava&oldid=87894">87894</a></tr><tr>
  <td colspan="2" class="diff-lineno">Linia 1:</td>
  <td colspan="2" class="diff-lineno">Linia 1:</td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{top-banner|Abava in flood time Abava plūdu laikā - panoramio.jpg}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{top-banner}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Miasto infobox</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Miasto infobox</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |nazwa        = Kandava</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |nazwa        = Kandava</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{top-banner}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{top-banner<ins class="diffchange diffchange-inline">|Abava in flood time Abava plūdu laikā - panoramio.jpg</ins>}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Miasto infobox</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Miasto infobox</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div> |nazwa        = Kandava</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div> |nazwa        = Kandava</div></td>
</tr>
</tbody></table>
</body></html>
