<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 6394477 to 6170510</h1><h2>Existing two-column diff</h2><a href="https://th.wikipedia.org/w/index.php?title=พลังงานแม่เหล็ก&oldid=6394477&diff=6170510">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://th.wikipedia.org/w/index.php?title=พลังงานแม่เหล็ก&oldid=6394477">6394477</a></href></td><td colspan=2><a href="https://th.wikipedia.org/w/index.php?title=พลังงานแม่เหล็ก&oldid=6170510">6170510</a></tr><tr>
  <td colspan="2" class="diff-lineno">บรรทัด 22:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 22:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* พลังงานแม่เหล็กสีเขียว ช่วยในการผลิตไฟฟ้าพลังงานลม โดยใช้พลังงานจากแม่เหล็กที่ทำจากสารนีโอเดเมียม ซึ่งเป็นธาตุหายากแต่เป็นแม่เหล็กถาวรพลังงานสูง ลักษณะของการนำไปใช้คือทำเป็น air bearing ให้กับกังหันลม แกนกังหันลมจะไม่ต้องสัมผัสกับอะไรเลย ลอยอยู่ในสนามแม่เหล็ก ทำให้ลอแรงเสียดทาน และเพิ่มอายุของกังหันลมด้วย</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* พลังงานแม่เหล็กสีเขียว ช่วยในการผลิตไฟฟ้าพลังงานลม โดยใช้พลังงานจากแม่เหล็กที่ทำจากสารนีโอเดเมียม ซึ่งเป็นธาตุหายากแต่เป็นแม่เหล็กถาวรพลังงานสูง ลักษณะของการนำไปใช้คือทำเป็น air bearing ให้กับกังหันลม แกนกังหันลมจะไม่ต้องสัมผัสกับอะไรเลย ลอยอยู่ในสนามแม่เหล็ก ทำให้ลอแรงเสียดทาน และเพิ่มอายุของกังหันลมด้วย</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งเดิม" href="#movedpara_15_1_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_1_0_rhs"></a>== อ้างอิง ==</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งใหม่" href="#movedpara_11_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_2_0_lhs"></a><del class="diffchange diffchange-inline">== </del>แม่เหล็ก<del class="diffchange diffchange-inline"> ==</del></div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งเดิม" href="#movedpara_15_2_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_3_0_rhs"></a>{{รายการอ้างอิง}}</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งใหม่" href="#movedpara_11_3_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_4_0_lhs"></a>แม่เหล็ก คือ สารที่สามารถดูดเหล็กหรือเหนี่ยวนำให้เหล็กหรือสารแม่เหล็กเป็นแม่เหล็กได้ แบ่งเป็น 2 ชนิด คือ</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งเดิม" href="#movedpara_15_3_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_5_0_rhs"></a>{{คอมมอนส์-หมวดหมู่|Magnetic Energy}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งใหม่" href="#movedpara_11_4_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_8_0_lhs"></a><del class="diffchange diffchange-inline">#</del> แม่เหล็กถาวร (Permanent Magnetic) คือแม่เหล็กที่มีคุณสมบัติเป็นแม่เหล็กตลอดไป เช่น แม่เหล็กที่ใช้ในลำโพง เป็นต้น ซึ่งได้มาจากการนำเอาลวดทองแดงอาบน้ำยาพันรอบแท่งเหล็กกล้าแล้วปล่อยกระแสไฟฟ้าผ่านเข้าไปในขดลวด ทำให้เกิดสนานแม่เหล็กไปดูดเหล็กผลักโมเลกุลภายในแท่งเหล็กกล้า ให้มีการเรียงตัวของโมเลกุลอย่างเป็นระเบียบตลอดไป เหล็กกล้าดังกล่าวก็จะคงสภาพเป็นแม่เหล็กถาวรต่อไป</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งเดิม" href="#movedpara_15_5_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_9_0_rhs"></a>[[หมวดหมู่:บทความเกี่ยวกับ ฟิสิกส์ ที่ยังไม่สมบูรณ์]]</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งใหม่" href="#movedpara_11_5_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_10_0_lhs"></a><del class="diffchange diffchange-inline">#</del> แม่เหล็กไฟฟ้า หรือ แม่เหล็กชั่วคราว (Electro Magnetic) เป็นแม่เหล็กที่เกิดขึ้นในลักษณะเดียวกันกับแม่เหล็กถาวร แต่เหล็กที่นำมาใช้เป็นเพียงเหล็กอ่อนธรรมดา เมื่อมีการป้อนกระแส ไฟฟ้าผ่านเข้าไปในขดลวดที่พันอยู่รอบแท่งเหล็กอ่อนนั้น แท่งเหล็กอ่อนก็จะมีสภาพเป็นแม่เหล็กไปทันที แต่เมื่อหยุดจ่ายกระแสไฟฟ้าเข้าไป อำนาจแม่เหล็กก็จะหมดไปด้วย เช่น อุปกรณ์จำพวกรีเลย์ (Relay) โซนินอยด์ (Solenoid) กระดิ่งไฟฟ้า เป็นต้น</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งเดิม" href="#movedpara_2_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_11_0_rhs"></a><ins class="diffchange diffchange-inline">[[หมวดหมู่:</ins>แม่เหล็ก<ins class="diffchange diffchange-inline">]]</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งเดิม" href="#movedpara_15_7_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_11_1_rhs"></a>{{โครงฟิสิกส์}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== แม่เหล็กและสนามแม่เหล็ก ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งเดิม" href="#movedpara_4_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_11_3_rhs"></a><ins class="diffchange diffchange-inline">       </ins>แม่เหล็ก คือ สารที่สามารถดูดเหล็กหรือเหนี่ยวนำให้เหล็กหรือสารแม่เหล็กเป็นแม่เหล็กได้ แบ่งเป็น 2 ชนิด คือ</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งเดิม" href="#movedpara_8_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_11_4_rhs"></a><ins class="diffchange diffchange-inline">        1.</ins> แม่เหล็กถาวร (Permanent Magnetic) คือแม่เหล็กที่มีคุณสมบัติเป็นแม่เหล็กตลอดไป เช่น แม่เหล็กที่ใช้ในลำโพง เป็นต้น ซึ่งได้มาจากการนำเอาลวดทองแดงอาบน้ำยาพันรอบแท่งเหล็กกล้าแล้วปล่อยกระแสไฟฟ้าผ่านเข้าไปในขดลวด ทำให้เกิดสนานแม่เหล็กไปดูดเหล็กผลักโมเลกุลภายในแท่งเหล็กกล้า ให้มีการเรียงตัวของโมเลกุลอย่างเป็นระเบียบตลอดไป เหล็กกล้าดังกล่าวก็จะคงสภาพเป็นแม่เหล็กถาวรต่อไป</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งเดิม" href="#movedpara_10_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_11_5_rhs"></a><ins class="diffchange diffchange-inline">        2.</ins> แม่เหล็กไฟฟ้า หรือ แม่เหล็กชั่วคราว (Electro Magnetic) เป็นแม่เหล็กที่เกิดขึ้นในลักษณะเดียวกันกับแม่เหล็กถาวร แต่เหล็กที่นำมาใช้เป็นเพียงเหล็กอ่อนธรรมดา เมื่อมีการป้อนกระแส ไฟฟ้าผ่านเข้าไปในขดลวดที่พันอยู่รอบแท่งเหล็กอ่อนนั้น แท่งเหล็กอ่อนก็จะมีสภาพเป็นแม่เหล็กไปทันที แต่เมื่อหยุดจ่ายกระแสไฟฟ้าเข้าไป อำนาจแม่เหล็กก็จะหมดไปด้วย เช่น อุปกรณ์จำพวกรีเลย์ (Relay) โซนินอยด์ (Solenoid) กระดิ่งไฟฟ้า เป็นต้น</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== คุณสมบัติของแม่เหล็ก==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== คุณสมบัติของแม่เหล็ก==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 33:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 40:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>**ขั้วเหมือนกันเข้าใกล้กันจะเกิดแรงผลักกัน และขั้วต่างกันเมื่อเข้าใกล้กันจะเกิดแรงดูด </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>**ขั้วเหมือนกันเข้าใกล้กันจะเกิดแรงผลักกัน และขั้วต่างกันเมื่อเข้าใกล้กันจะเกิดแรงดูด </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>**อำนาจแรงดึงดูดจะมีมากที่สุดที่บริเวณขั้วทั้งสองแม่เหล็ก </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>**อำนาจแรงดึงดูดจะมีมากที่สุดที่บริเวณขั้วทั้งสองแม่เหล็ก </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>**เส้นแรงแม่เหล็กมีทิศทางออกจากขั้วเหนือไปยังขั้วใต้<del class="diffchange diffchange-inline">&lt;ref&gt;[http://webhtml.horhook.com/wbi/ec/5magnet-03.htm]&lt;/ref&gt;</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>**เส้นแรงแม่เหล็กมีทิศทางออกจากขั้วเหนือไปยังขั้วใต้</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== สนามแม่เหล็กโลก==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== สนามแม่เหล็กโลก==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">บรรทัด 71:</td>
  <td colspan="2" class="diff-lineno">บรรทัด 78:</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>9. ช่วยในการทำงาน เช่น ปลายไขควงบางชนิดเป็นแม่เหล็ก เพื่อช่วยดึงดูดตะปูเกลียวตัวเล็ก</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>9. ช่วยในการทำงาน เช่น ปลายไขควงบางชนิดเป็นแม่เหล็ก เพื่อช่วยดึงดูดตะปูเกลียวตัวเล็ก</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งใหม่" href="#movedpara_1_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_15_1_lhs"></a>== อ้างอิง ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งใหม่" href="#movedpara_3_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_15_2_lhs"></a>{{รายการอ้างอิง}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งใหม่" href="#movedpara_5_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_15_3_lhs"></a>{{คอมมอนส์-หมวดหมู่|Magnetic Energy}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งใหม่" href="#movedpara_9_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_15_5_lhs"></a>[[หมวดหมู่:บทความเกี่ยวกับ ฟิสิกส์ ที่ยังไม่สมบูรณ์]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>[[หมวดหมู่:แม่เหล็ก]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="ย้ายย่อหน้าแล้ว คลิกเพื่อไปตำแหน่งใหม่" href="#movedpara_11_1_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_15_7_lhs"></a>{{โครงฟิสิกส์}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 22</td>
  <td colspan="2" class="diff-lineno">Line 22</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>* พลังงานแม่เหล็กสีเขียว ช่วยในการผลิตไฟฟ้าพลังงานลม โดยใช้พลังงานจากแม่เหล็กที่ทำจากสารนีโอเดเมียม ซึ่งเป็นธาตุหายากแต่เป็นแม่เหล็กถาวรพลังงานสูง ลักษณะของการนำไปใช้คือทำเป็น air bearing ให้กับกังหันลม แกนกังหันลมจะไม่ต้องสัมผัสกับอะไรเลย ลอยอยู่ในสนามแม่เหล็ก ทำให้ลอแรงเสียดทาน และเพิ่มอายุของกังหันลมด้วย</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>* พลังงานแม่เหล็กสีเขียว ช่วยในการผลิตไฟฟ้าพลังงานลม โดยใช้พลังงานจากแม่เหล็กที่ทำจากสารนีโอเดเมียม ซึ่งเป็นธาตุหายากแต่เป็นแม่เหล็กถาวรพลังงานสูง ลักษณะของการนำไปใช้คือทำเป็น air bearing ให้กับกังหันลม แกนกังหันลมจะไม่ต้องสัมผัสกับอะไรเลย ลอยอยู่ในสนามแม่เหล็ก ทำให้ลอแรงเสียดทาน และเพิ่มอายุของกังหันลมด้วย</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== <del class="diffchange diffchange-inline">แม่เหล็ก</del> ==</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== <ins class="diffchange diffchange-inline">อ้างอิง</ins> ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_14_2_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_2_0_rhs"></a>{{รายการอ้างอิง}}</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_10_3_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_3_0_lhs"></a>แม่เหล็ก คือ สารที่สามารถดูดเหล็กหรือเหนี่ยวนำให้เหล็กหรือสารแม่เหล็กเป็นแม่เหล็กได้ แบ่งเป็น 2 ชนิด คือ</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_14_3_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_4_0_rhs"></a>{{คอมมอนส์-หมวดหมู่|Magnetic Energy}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_10_4_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_7_0_lhs"></a><del class="diffchange diffchange-inline">#</del> แม่เหล็กถาวร (Permanent Magnetic) คือแม่เหล็กที่มีคุณสมบัติเป็นแม่เหล็กตลอดไป เช่น แม่เหล็กที่ใช้ในลำโพง เป็นต้น ซึ่งได้มาจากการนำเอาลวดทองแดงอาบน้ำยาพันรอบแท่งเหล็กกล้าแล้วปล่อยกระแสไฟฟ้าผ่านเข้าไปในขดลวด ทำให้เกิดสนานแม่เหล็กไปดูดเหล็กผลักโมเลกุลภายในแท่งเหล็กกล้า ให้มีการเรียงตัวของโมเลกุลอย่างเป็นระเบียบตลอดไป เหล็กกล้าดังกล่าวก็จะคงสภาพเป็นแม่เหล็กถาวรต่อไป</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_14_5_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_8_0_rhs"></a>[[หมวดหมู่:บทความเกี่ยวกับ ฟิสิกส์ ที่ยังไม่สมบูรณ์]]</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_10_5_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_9_0_lhs"></a><del class="diffchange diffchange-inline">#</del> แม่เหล็กไฟฟ้า หรือ แม่เหล็กชั่วคราว (Electro Magnetic) เป็นแม่เหล็กที่เกิดขึ้นในลักษณะเดียวกันกับแม่เหล็กถาวร แต่เหล็กที่นำมาใช้เป็นเพียงเหล็กอ่อนธรรมดา เมื่อมีการป้อนกระแส ไฟฟ้าผ่านเข้าไปในขดลวดที่พันอยู่รอบแท่งเหล็กอ่อนนั้น แท่งเหล็กอ่อนก็จะมีสภาพเป็นแม่เหล็กไปทันที แต่เมื่อหยุดจ่ายกระแสไฟฟ้าเข้าไป อำนาจแม่เหล็กก็จะหมดไปด้วย เช่น อุปกรณ์จำพวกรีเลย์ (Relay) โซนินอยด์ (Solenoid) กระดิ่งไฟฟ้า เป็นต้น</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_14_6_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_0_rhs"></a>[[หมวดหมู่:แม่เหล็ก]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_14_7_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_1_rhs"></a>{{โครงฟิสิกส์}}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== แม่เหล็กและสนามแม่เหล็ก ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_3_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_3_rhs"></a><ins class="diffchange diffchange-inline">       </ins>แม่เหล็ก คือ สารที่สามารถดูดเหล็กหรือเหนี่ยวนำให้เหล็กหรือสารแม่เหล็กเป็นแม่เหล็กได้ แบ่งเป็น 2 ชนิด คือ</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_7_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_4_rhs"></a><ins class="diffchange diffchange-inline">        1.</ins> แม่เหล็กถาวร (Permanent Magnetic) คือแม่เหล็กที่มีคุณสมบัติเป็นแม่เหล็กตลอดไป เช่น แม่เหล็กที่ใช้ในลำโพง เป็นต้น ซึ่งได้มาจากการนำเอาลวดทองแดงอาบน้ำยาพันรอบแท่งเหล็กกล้าแล้วปล่อยกระแสไฟฟ้าผ่านเข้าไปในขดลวด ทำให้เกิดสนานแม่เหล็กไปดูดเหล็กผลักโมเลกุลภายในแท่งเหล็กกล้า ให้มีการเรียงตัวของโมเลกุลอย่างเป็นระเบียบตลอดไป เหล็กกล้าดังกล่าวก็จะคงสภาพเป็นแม่เหล็กถาวรต่อไป</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" href="#movedpara_9_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_10_5_rhs"></a><ins class="diffchange diffchange-inline">        2.</ins> แม่เหล็กไฟฟ้า หรือ แม่เหล็กชั่วคราว (Electro Magnetic) เป็นแม่เหล็กที่เกิดขึ้นในลักษณะเดียวกันกับแม่เหล็กถาวร แต่เหล็กที่นำมาใช้เป็นเพียงเหล็กอ่อนธรรมดา เมื่อมีการป้อนกระแส ไฟฟ้าผ่านเข้าไปในขดลวดที่พันอยู่รอบแท่งเหล็กอ่อนนั้น แท่งเหล็กอ่อนก็จะมีสภาพเป็นแม่เหล็กไปทันที แต่เมื่อหยุดจ่ายกระแสไฟฟ้าเข้าไป อำนาจแม่เหล็กก็จะหมดไปด้วย เช่น อุปกรณ์จำพวกรีเลย์ (Relay) โซนินอยด์ (Solenoid) กระดิ่งไฟฟ้า เป็นต้น</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== คุณสมบัติของแม่เหล็ก==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== คุณสมบัติของแม่เหล็ก==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 33</td>
  <td colspan="2" class="diff-lineno">Line 40</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>**ขั้วเหมือนกันเข้าใกล้กันจะเกิดแรงผลักกัน และขั้วต่างกันเมื่อเข้าใกล้กันจะเกิดแรงดูด </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>**ขั้วเหมือนกันเข้าใกล้กันจะเกิดแรงผลักกัน และขั้วต่างกันเมื่อเข้าใกล้กันจะเกิดแรงดูด </div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>**อำนาจแรงดึงดูดจะมีมากที่สุดที่บริเวณขั้วทั้งสองแม่เหล็ก </div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>**อำนาจแรงดึงดูดจะมีมากที่สุดที่บริเวณขั้วทั้งสองแม่เหล็ก </div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>**เส้นแรงแม่เหล็กมีทิศทางออกจากขั้วเหนือไปยังขั้วใต้<del class="diffchange diffchange-inline">&lt;ref&gt;[http://webhtml.horhook.com/wbi/ec/5magnet-03.htm]&lt;/ref&gt;</del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>**เส้นแรงแม่เหล็กมีทิศทางออกจากขั้วเหนือไปยังขั้วใต้</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== สนามแม่เหล็กโลก==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== สนามแม่เหล็กโลก==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-lineno">Line 71</td>
  <td colspan="2" class="diff-lineno">Line 78</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>9. ช่วยในการทำงาน เช่น ปลายไขควงบางชนิดเป็นแม่เหล็ก เพื่อช่วยดึงดูดตะปูเกลียวตัวเล็ก</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>9. ช่วยในการทำงาน เช่น ปลายไขควงบางชนิดเป็นแม่เหล็ก เพื่อช่วยดึงดูดตะปูเกลียวตัวเล็ก</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>== อ้างอิง ==</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_2_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_14_2_lhs"></a>{{รายการอ้างอิง}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_4_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_14_3_lhs"></a>{{คอมมอนส์-หมวดหมู่|Magnetic Energy}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><br /></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_8_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_14_5_lhs"></a>[[หมวดหมู่:บทความเกี่ยวกับ ฟิสิกส์ ที่ยังไม่สมบูรณ์]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_10_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_14_6_lhs"></a>[[หมวดหมู่:แม่เหล็ก]]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" href="#movedpara_10_1_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_14_7_lhs"></a>{{โครงฟิสิกส์}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
</tbody></table>
</body></html>
