<html><head><link rel="stylesheet" href="https://www.mediawiki.org/w/load.php?modules=mediawiki.diff.styles&only=styles"></head><body>
<h1>Revisions: from 69904702 to 194350223</h1><h2>Existing two-column diff</h2><a href="https://fr.wikipedia.org/w/index.php?title=Buthus occidentalis&oldid=69904702&diff=194350223">View on wiki</a><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr><td colspan=2><a href="https://fr.wikipedia.org/w/index.php?title=Buthus occidentalis&oldid=69904702">69904702</a></href></td><td colspan=2><a href="https://fr.wikipedia.org/w/index.php?title=Buthus occidentalis&oldid=194350223">194350223</a></tr><tr>
  <td colspan="2" class="diff-lineno">Ligne 1 :</td>
  <td colspan="2" class="diff-lineno">Ligne 1 :</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Ébauche|scorpion}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Ébauche|scorpion}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox début | animal | ''Buthus occidentalis''  }}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox début | animal | ''Buthus occidentalis'' <ins class="diffchange diffchange-inline">| &lt;!-- image --&gt; | &lt;!-- insérer une légende descriptive de l'image --&gt; | classification=tsf</ins> }}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox | embranchement | Arthropoda<del class="diffchange diffchange-inline"> </del> }}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | embranchement | Arthropoda }}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Taxobox | sous-embranchement | Chelicerata }}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Taxobox | sous-embranchement | Chelicerata }}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox | classe | Arachnida<del class="diffchange diffchange-inline">  </del> }}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | classe | Arachnida }}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox | ordre | Scorpiones<del class="diffchange diffchange-inline"> </del> }}<del class="diffchange diffchange-inline"> </del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | ordre | Scorpiones }}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox | <del class="diffchange diffchange-inline">famille</del> | <del class="diffchange diffchange-inline">Buthidae</del>}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | <ins class="diffchange diffchange-inline">sous-ordre</ins> | <ins class="diffchange diffchange-inline">Neoscorpii </ins>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox | <del class="diffchange diffchange-inline">genre</del> | <del class="diffchange diffchange-inline">Buthus   </del> }}<del class="diffchange diffchange-inline">  </del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | <ins class="diffchange diffchange-inline">infra-ordre</ins> | <ins class="diffchange diffchange-inline">Orthosterni</ins> }}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | famille | Buthidae }}</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Paragraphe déplacé. Cliquer pour accéder au nouvel emplacement." href="#movedpara_8_0_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_5_0_lhs"></a>{{Taxobox taxon | animal | espèce | Buthus occidentalis | [[Wilson R. Lourenço|Lourenço]], [[Dong Sun|Sun]] &amp; [[Ming-sheng Zhu|Zhu]], [[2009]]<del class="diffchange diffchange-inline"> </del> }}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | genre | Buthus }}</div></td>
</tr>
<tr>
  <td class="diff-marker"><a class="mw-diff-movedpara-left" title="Paragraphe déplacé. Cliquer pour accéder au nouvel emplacement." href="#movedpara_8_1_rhs">&#x26AB;</a></td>
  <td class="diff-deletedline diff-side-deleted"><div><a name="movedpara_7_0_lhs"></a>{{<del class="diffchange diffchange-inline">taxobox</del> fin}}</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Paragraphe déplacé. Cliquer pour accéder à l’ancien emplacement." href="#movedpara_5_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_8_0_rhs"></a>{{Taxobox taxon | animal | espèce | Buthus occidentalis | [[Wilson R. Lourenço|Lourenço]], [[Dong Sun|Sun]] &amp; [[Ming-sheng Zhu|Zhu]], [[2009]] }}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker"><a class="mw-diff-movedpara-right" title="Paragraphe déplacé. Cliquer pour accéder à l’ancien emplacement." href="#movedpara_7_0_lhs">&#x26AB;</a></td>
  <td class="diff-addedline diff-side-added"><div><a name="movedpara_8_1_rhs"></a>{{<ins class="diffchange diffchange-inline">Taxobox</ins> fin}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''''Buthus occidentalis''''' est une [[espèce]] de [[Scorpiones|scorpions]] de la [[<del class="diffchange diffchange-inline">famille</del> (biologie)|famille]] des [[Buthidae]].</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''''Buthus occidentalis''''' est une [[espèce]] de [[Scorpiones|scorpions]] de la [[<ins class="diffchange diffchange-inline">Famille</ins> (biologie)|famille]] des [[Buthidae]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Distribution ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Distribution ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Cette espèce est [[<del class="diffchange diffchange-inline">endémisme</del>|endémique]] de [[Mauritanie]]. Elle se rencontre dans le [[Dakhlet Nouadhibou]].</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Cette espèce est [[<ins class="diffchange diffchange-inline">Endémisme</ins>|endémique]] de [[Mauritanie]]<ins class="diffchange diffchange-inline">&lt;ref name="Lourenço, Sun &amp; Zhu, 2009"/&gt;</ins>. Elle se rencontre dans le [[Dakhlet Nouadhibou]]<ins class="diffchange diffchange-inline"> vers la côte</ins>.</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Description ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>La femelle [[holotype]] mesure {{unité|62.9|mm}} et le mâle [[paratype]] {{unité|73.2|mm}}&lt;ref name="Lourenço, Sun &amp; Zhu, 2009"&gt;Lourenço, Sun &amp; Zhu, 2009 : « About the presence of the genus Buthus Leach, 1815 in Mauritania, with description of a new species (Scorpiones, Buthidae). » ''Boletín de la Sociedad Entomológica Aragonesa'', {{n°|44}}, {{p.|71-75}} ([http://sea-entomologia.org/Publicaciones/PDF/BOLN44/071_075BSEA44ButhusMauritania.pdf texte intégral]).&lt;/ref&gt;.</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Le telson (dernier segment de la queue) possède un aiguillon aigu et canulé à deux orifices  reliés chacun à une glande venimeuse.</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Venin ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Son venin est neurotoxique, seulement moyennement toxique mais il peut cependant être mortel pour l'homme. Les effets d'une envenimation vont d'une simple douleur vive à des problèmes cardio-vasculaires ou un œdème pulmonaire voire un décès. En cas de piqûre, il faut bien sûr aller immédiatement dans un lieu médicalisé. Il existe un sérum antivenimeux&lt;ref&gt;{{Ouvrage|auteur1=Karim Amri|titre=Animaux mystérieux|sous-titre=Ils peuvent tuer mais aussi sauver des vies|passage=Buthus occidentalis (Nom commun inconnu) pages 184 et 185|éditeur=Éditions Favre SA|date=2017|pages totales=286|isbn=978-2-8289-1636-7}}&lt;/ref&gt;.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Publication originale ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Publication originale ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* Lourenço, Sun &amp; Zhu, 2009 : <del class="diffchange diffchange-inline">''</del>About the presence of the genus Buthus Leach, 1815 in Mauritania, with description of a new species (Scorpiones, Buthidae).''<del class="diffchange diffchange-inline"> </del>Boletín de la Sociedad Entomológica Aragonesa, n<del class="diffchange diffchange-inline">. </del>44, {{p.|71-75}}.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* Lourenço, Sun &amp; Zhu, 2009 : <ins class="diffchange diffchange-inline">« </ins>About the presence of the genus Buthus Leach, 1815 in Mauritania, with description of a new species (Scorpiones, Buthidae).<ins class="diffchange diffchange-inline"> » </ins>''Boletín de la Sociedad Entomológica Aragonesa<ins class="diffchange diffchange-inline">''</ins>, <ins class="diffchange diffchange-inline">{{</ins>n<ins class="diffchange diffchange-inline">°|</ins>44<ins class="diffchange diffchange-inline">}}</ins>, {{p.|71-75}}<ins class="diffchange diffchange-inline"> ([http://sea-entomologia.org/Publicaciones/PDF/BOLN44/071_075BSEA44ButhusMauritania.pdf texte intégral])</ins>.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Liens externes ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Liens externes ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* [https://www.ntnu.no/ub/scorpion-files/buthidae.php The Scorpion Files : Jan Ove Rein, Trondheim, Norwegian University of Science and Technology]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* Référence [http://insects.tamu.edu/research/collection/hallan/Acari/Family/Buthidae.txt Classification de Hallan]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* {{BioLib|taxon|912567|''Buthus occidentalis''  Lourenço, Sun &amp; Zhou, 2009|consulté le=1 octobre 2020 }}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* {{CatalogueofLife | 695TV | ''Buthus occidentalis'' Lourenço, Sun &amp; Zhu, 2009 | consulté le=20 décembre 2020 }}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Notes et références ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Références}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Portail|arachnologie|Mauritanie}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Portail|arachnologie|Mauritanie}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Catégorie:Buthidae]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Catégorie:Buthidae]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Catégorie:Espèce de scorpions (nom scientifique)]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Catégorie:Faune endémique de Mauritanie]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Catégorie:Faune endémique de Mauritanie]]</div></td>
</tr>
</tbody></table><h2>New wikidiff2 diff default</h2><table class="diff"><colgroup><col class="diff-marker"><col class="diff-content"><col class="diff-marker"><col class="diff-content"></colgroup><tbody><tr>
  <td colspan="2" class="diff-lineno">Line 1</td>
  <td colspan="2" class="diff-lineno">Line 1</td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Ébauche|scorpion}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Ébauche|scorpion}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox début | animal | ''Buthus occidentalis''  }}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox début | animal | ''Buthus occidentalis'' <ins class="diffchange diffchange-inline">| &lt;!-- image --&gt; | &lt;!-- insérer une légende descriptive de l'image --&gt; | classification=tsf</ins> }}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox | embranchement | Arthropoda<del class="diffchange diffchange-inline"> </del> }}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | embranchement | Arthropoda }}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Taxobox | sous-embranchement | Chelicerata }}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Taxobox | sous-embranchement | Chelicerata }}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox | classe | Arachnida<del class="diffchange diffchange-inline">  </del> }}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | classe | Arachnida }}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox | ordre | Scorpiones<del class="diffchange diffchange-inline"> </del> }}<del class="diffchange diffchange-inline"> </del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | ordre | Scorpiones }}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox | <del class="diffchange diffchange-inline">famille</del> | <del class="diffchange diffchange-inline">Buthidae</del>}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | <ins class="diffchange diffchange-inline">sous-ordre</ins> | <ins class="diffchange diffchange-inline">Neoscorpii </ins>}}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox | <del class="diffchange diffchange-inline">genre</del> | <del class="diffchange diffchange-inline">Buthus   </del> }}<del class="diffchange diffchange-inline">  </del></div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox | <ins class="diffchange diffchange-inline">infra-ordre</ins> | <ins class="diffchange diffchange-inline">Orthosterni</ins> }}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{Taxobox taxon | animal | espèce | Buthus occidentalis | [[Wilson R. Lourenço|Lourenço]], [[Dong Sun|Sun]] &amp; [[Ming-sheng Zhu|Zhu]], [[2009]]<del class="diffchange diffchange-inline"> </del> }}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">{{Taxobox | famille | Buthidae }}</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div><ins class="diffchange diffchange-inline">{{Taxobox | genre | Buthus }}</ins></div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Taxobox taxon | animal | espèce | Buthus occidentalis | [[Wilson R. Lourenço|Lourenço]], [[Dong Sun|Sun]] &amp; [[Ming-sheng Zhu|Zhu]], [[2009]] }}</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>{{<del class="diffchange diffchange-inline">taxobox</del> fin}}</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{<ins class="diffchange diffchange-inline">Taxobox</ins> fin}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>'''''Buthus occidentalis''''' est une [[espèce]] de [[Scorpiones|scorpions]] de la [[<del class="diffchange diffchange-inline">famille</del> (biologie)|famille]] des [[Buthidae]].</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>'''''Buthus occidentalis''''' est une [[espèce]] de [[Scorpiones|scorpions]] de la [[<ins class="diffchange diffchange-inline">Famille</ins> (biologie)|famille]] des [[Buthidae]].</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Distribution ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Distribution ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>Cette espèce est [[<del class="diffchange diffchange-inline">endémisme</del>|endémique]] de [[Mauritanie]]. Elle se rencontre dans le [[Dakhlet Nouadhibou]].</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Cette espèce est [[<ins class="diffchange diffchange-inline">Endémisme</ins>|endémique]] de [[Mauritanie]]<ins class="diffchange diffchange-inline">&lt;ref name="Lourenço, Sun &amp; Zhu, 2009"/&gt;</ins>. Elle se rencontre dans le [[Dakhlet Nouadhibou]]<ins class="diffchange diffchange-inline"> vers la côte</ins>.</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Description ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>La femelle [[holotype]] mesure {{unité|62.9|mm}} et le mâle [[paratype]] {{unité|73.2|mm}}&lt;ref name="Lourenço, Sun &amp; Zhu, 2009"&gt;Lourenço, Sun &amp; Zhu, 2009 : « About the presence of the genus Buthus Leach, 1815 in Mauritania, with description of a new species (Scorpiones, Buthidae). » ''Boletín de la Sociedad Entomológica Aragonesa'', {{n°|44}}, {{p.|71-75}} ([http://sea-entomologia.org/Publicaciones/PDF/BOLN44/071_075BSEA44ButhusMauritania.pdf texte intégral]).&lt;/ref&gt;.</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Le telson (dernier segment de la queue) possède un aiguillon aigu et canulé à deux orifices  reliés chacun à une glande venimeuse.</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Venin ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>Son venin est neurotoxique, seulement moyennement toxique mais il peut cependant être mortel pour l'homme. Les effets d'une envenimation vont d'une simple douleur vive à des problèmes cardio-vasculaires ou un œdème pulmonaire voire un décès. En cas de piqûre, il faut bien sûr aller immédiatement dans un lieu médicalisé. Il existe un sérum antivenimeux&lt;ref&gt;{{Ouvrage|auteur1=Karim Amri|titre=Animaux mystérieux|sous-titre=Ils peuvent tuer mais aussi sauver des vies|passage=Buthus occidentalis (Nom commun inconnu) pages 184 et 185|éditeur=Éditions Favre SA|date=2017|pages totales=286|isbn=978-2-8289-1636-7}}&lt;/ref&gt;.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Publication originale ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Publication originale ==</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* Lourenço, Sun &amp; Zhu, 2009 : <del class="diffchange diffchange-inline">''</del>About the presence of the genus Buthus Leach, 1815 in Mauritania, with description of a new species (Scorpiones, Buthidae).''<del class="diffchange diffchange-inline"> </del>Boletín de la Sociedad Entomológica Aragonesa, n<del class="diffchange diffchange-inline">. </del>44, {{p.|71-75}}.</div></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* Lourenço, Sun &amp; Zhu, 2009 : <ins class="diffchange diffchange-inline">« </ins>About the presence of the genus Buthus Leach, 1815 in Mauritania, with description of a new species (Scorpiones, Buthidae).<ins class="diffchange diffchange-inline"> » </ins>''Boletín de la Sociedad Entomológica Aragonesa<ins class="diffchange diffchange-inline">''</ins>, <ins class="diffchange diffchange-inline">{{</ins>n<ins class="diffchange diffchange-inline">°|</ins>44<ins class="diffchange diffchange-inline">}}</ins>, {{p.|71-75}}<ins class="diffchange diffchange-inline"> ([http://sea-entomologia.org/Publicaciones/PDF/BOLN44/071_075BSEA44ButhusMauritania.pdf texte intégral])</ins>.</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>== Liens externes ==</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>== Liens externes ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* [https://www.ntnu.no/ub/scorpion-files/buthidae.php The Scorpion Files : Jan Ove Rein, Trondheim, Norwegian University of Science and Technology]</div></td>
</tr>
<tr>
  <td class="diff-marker" data-marker="−"></td>
  <td class="diff-deletedline diff-side-deleted"><div>* Référence [http://insects.tamu.edu/research/collection/hallan/Acari/Family/Buthidae.txt Classification de Hallan]</div></td>
  <td colspan="2" class="diff-empty diff-side-added"></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* {{BioLib|taxon|912567|''Buthus occidentalis''  Lourenço, Sun &amp; Zhou, 2009|consulté le=1 octobre 2020 }}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>* {{CatalogueofLife | 695TV | ''Buthus occidentalis'' Lourenço, Sun &amp; Zhu, 2009 | consulté le=20 décembre 2020 }}</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><br /></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>== Notes et références ==</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>{{Références}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>{{Portail|arachnologie|Mauritanie}}</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>{{Portail|arachnologie|Mauritanie}}</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><br /></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><br /></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Catégorie:Buthidae]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Catégorie:Buthidae]]</div></td>
</tr>
<tr>
  <td colspan="2" class="diff-empty diff-side-deleted"></td>
  <td class="diff-marker" data-marker="+"></td>
  <td class="diff-addedline diff-side-added"><div>[[Catégorie:Espèce de scorpions (nom scientifique)]]</div></td>
</tr>
<tr>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-deleted"><div>[[Catégorie:Faune endémique de Mauritanie]]</div></td>
  <td class="diff-marker"></td>
  <td class="diff-context diff-side-added"><div>[[Catégorie:Faune endémique de Mauritanie]]</div></td>
</tr>
</tbody></table>
</body></html>
